[2019-06-28 09:42] hardcodepunk commented on #126
Run `brew upgrade zola` to update. Build/serve tested and no errors ocurred. Didn't find any bugs at first sight.

[2019-06-28 09:49] hardcodepunk commented on #128
Which one's would you like to have added and with what info?
Here's an example:

[code]

Optional
[code]

[2019-06-28 09:51] hardcodepunk commented on #81
I think this one is okay now? Unless you want the dates added again?

[2019-06-28 11:55] hardcodepunk commented on #84
I've been trying to get the subsection title and permalink where I was able to call the taxonomy term before. It's possible when I call on all posts in the main _index. But on a subsection page it's not possible. I was thinking of adding 'extra' info per post, a bit like a taxonomy term, but I'm still checking how I can return it per post. Not sure if it's possible at all in general.

So for now i

[2019-06-30 21:18] hardcodepunk commented on #96
This doesn't seem to be an issue anymore.

[2019-06-30 21:53] hardcodepunk commented on #28
At first sight an idea of mine would be with JS extract a parameter from the url to make it scroll to a location/element with a given id. This is a few hours of work.

[2019-06-30 21:55] #72 closed, assigned to hardcodepunk

[2019-06-30 22:03] hardcodepunk commented on #95
Solved issue in `general-bug-fixes` branch.

[2019-06-30 22:03] #95 closed, assigned to hardcodepunk

[2019-07-01 00:47] matildepark commented on #96
I still see it? https://urbit.org/primer/

![image](https://user-images.githubusercontent.com/20846414/60404578-363f2700-9b78-11e9-81cc-c3c1bd9e7649.png)

[2019-07-01 08:24] hardcodepunk commented on #96
Ah, I overlooked we were talking about the one in the footer. You can find the fix in the `general-bug-fixes` branch.

[2019-07-01 08:44] hardcodepunk commented on #104
This issue has been addressed and fixed in the `general-bug-fixes` branch.

[2019-07-01 09:13] hardcodepunk commented on #105
Added some padding-left on these elements in the `general-bug-fixes` branch.

[2019-07-01 17:43] matildepark commented on #99
@msutherl This can be closed now, too.

[2019-07-01 17:46] #99 closed, assigned to hardcodepunk

[2019-07-01 18:09] flowerornament commented on #126
Awesome – you can bump the version here: https://github.com/urbit/urbit.org/blob/master/netlify.toml and in the README

[2019-07-01 18:10] #81 closed, assigned to hardcodepunk

[2019-07-01 18:11] flowerornament commented on #84
Thanks @friederjanmoerman, will check this out

[2019-07-01 20:19] #90 closed, assigned to hardcodepunk

[2019-07-01 20:22] flowerornament commented on #70
This issues is still at-large and an easy fix for the intrepid REGEX user

[2019-07-02 22:18] alexmatz commented on #89
@msutherl what do you think about using the one we use for landscape?

[2019-07-02 22:54] alexmatz commented on #127
any luck on this @friederjanmoerman? Can ask Francesca to take a look if you haven't already!

[2019-07-02 23:10] flowerornament commented on #128
I need to look into how og works, but something like below. I'd just look at some examples of how major publications do it and copy them.

[code]

[2019-07-03 09:27] hardcodepunk commented on #127
I'll look into it today @alexmatz

[2019-07-03 12:08] hardcodepunk commented on #127
<img width="948" alt="Screenshot 2019-07-03 at 14 04 20" src="https://user-images.githubusercontent.com/9070957/60590162-95c94c80-9d9b-11e9-9583-0c3da0eddf88.png">

RSS template added to the `rss-template` branch. I'm no RSS feed user but tested in ViennaRSS and looks okay to me? If any features are missing, let me know and I'll look into it.

[2019-07-03 17:38] flowerornament commented on #126
Done in https://github.com/urbit/urbit.org/pull/136

[2019-07-03 17:38] #126 closed, assigned to flowerornament

[2019-07-03 17:38] #96 closed, assigned to hardcodepunk

[2019-07-03 18:00] flowerornament commented on #127
Just saw this from an RSS bot in Discord. Most recent commit upgraded to 0.8.0 and I wonder if that has something to do with it, but this is definitely undesirable behavior.

[code]

[2019-07-03 18:19] matildepark commented on #127
Put a PR in at #137.

[2019-07-03 19:41] flowerornament commented on #89
@alexmatz hm, that one is actually not great and should probably be changed to match

[2019-07-03 20:43] hardcodepunk commented on #127
@matildepark you are taking over this issue, am I right?
Or is there something you want me to do?

[2019-07-03 20:45] matildepark commented on #127
Oh, I'm technically not on site duty — I just put in PRs if I have the bandwidth and it's low hanging fruit, usually. Do you want me to take ownership over this? I can work with @msutherl.

Edit: Apologies @friederjanmoerman, I see [you were in the process of committing a template anyhow](https://github.com/urbit/urbit.org/commit/80899ed012f0d9735afeb7669d4477e97e2d3cf3). I'll try not to step on y

[2019-07-03 21:38] alexmatz commented on #127
@matildepark thank you for all of your work on Urbit! For context, I was doing some housekeeping with @friederjanmoerman as he wraps up working with us. You are welcome to take a look!

[2019-07-04 08:29] hardcodepunk commented on #128
[code]

Have been added in the `open-graph-meta` branch. To add images, I would need images, so send 'em my way if you find the time.

[2019-07-04 08:40] matildepark commented on #128
I think it’s possible to check, eg just on the blog post template, “if there’s an image, the open graph image is that image url”.

However I believe it would require minor clerical work to add that metadata to the front matter of blog posts.

image: “hereistheurl.jpg”

[2019-07-04 08:59] hardcodepunk commented on #128
Ah yes, good idea, I'll give it a go later today.

[2019-07-05 23:22] hardcodepunk commented on #128
In the `open-graph-meta` branch:
Now if the template used is `page` and you've added

`[extra.opengraph]
ogimg = "https://link.to/img.jpg"`

in the page's front matter, it will be added in the head (base template) as follows

[code]

The `extra.opengraph` front matter is created in the config.
I've updated every essay post as an example.

[2019-07-08 00:09] hardcodepunk commented on #125
Posts have been removed from the index of the **search-bar-release** branch by putting `in_search_index = false` in the front matter of `posts/_index.md` (make sure you restart the `zola serve` process to rebuild the search index to apply the changes you make).

[2019-07-08 18:42] #125 closed, assigned to hardcodepunk

[2019-07-22 17:50] baudtack opened #148 "Search doesn't recognize runes"
Searching for |= doesn't result in anything.

[2019-07-22 17:51] baudtack opened #149 "hitting enter closes the search bar"
open the search bar, type something in, hit enter, search bar gets closed.

[2019-07-22 17:51] matildepark commented on #149
Oh, I think I know how to fix this one. Standby.

[2019-07-22 17:55] baudtack opened #150 "Search links to a page, not to occurrence of the search terms"
When you search for barcen, you click the link you're taken to the page, which can be fairly long, and not the occurrence of the search terms.

[2019-07-22 18:28] #149 closed, assigned to nobody

[2019-07-23 04:49] joemfb commented on #903
@rmariani, we need to catch up on this for the new era.

[2019-07-23 04:51] flowerornament opened #925 "Installation docs make no mention of moving the urbit binary to an appropriate directory"
The installation docs make no mention of moving the urbit binary to an appropriate directory.

Users who are not familiar with the command line may be unaware that they should move the binary into a directory in their PATH.

[2019-07-23 06:37] joemfb commented on #925
See urbit/urbit#1369, which I believe to be related to installing in such a manner.

[2019-07-23 14:42] jtobin commented on #925
Hmm.  Any thoughts here?  The instructions seem sufficient to me *for static binaries*, but I confess that as generic installation instructions they're probably not as friendly as they could possibly be.

[2019-07-23 14:50] jtobin commented on #925
(Installing static binaries manually is almost by definition not the most user-friendly thing possible, since it doesn't take care of `PATH` business for you as a package manager might.  If maximal user friendliness is the goal, we may want to suggest using Nix first and foremost.)

[2019-07-23 17:32] rmariani commented on #903
Yeah, I am available for this whenever

[2019-07-23 21:17] flowerornament commented on #925
@jtobin @joemfb as I've gone deeper down this rabbit hole, I think the install instructions are lacking a lot of explanation that would be necessary for someone who's only familiar with building from source, installing with package managers, or isn't familiar with command line installation at all.

As an example user, I've run a Linux server for 10 years and consider myself reasonably acquainted w

[2019-07-23 21:21] flowerornament opened #926 "Note about whitelisting urbit binary for port 80 removed from installation docs"
Installation docs used to contain this info:

It should be added back, and optimally we should provide equivalent instructions for common distros.

[2019-07-23 21:30] baudtack commented on #926
Restored.

[2019-07-24 20:07] alexmatz commented on #148
@friederjanmoerman, can you remind me if you explored rune search results? All I can remember is that we discussed it!

[2019-07-24 21:37] matildepark commented on #148
I was curious and poked around and it looks like the default pipeline for `elasticlunr.js` has `elasticlunr.trimmer` which [removes all non-word characters when importing the index](https://github.com/weixsong/elasticlunr.js/blob/master/elasticlunr.js#L26) (which does have the rune characters in it).

I tried to figure out how to remove the trimmer from the pipeline (it *should* be able to do so e

[2019-07-24 22:58] hardcodepunk commented on #148
We discussed it and I checked how long it would take but we decided it was
low priority.

Op woensdag 24 juli 2019 schreef Matilde Park <notifications@github.com>:

--
Vriendelijke groeten,
Friendly regards,

Hardcodepunk — Frieder Jan Moerman
Freelance Developer
https://hardcodepunk.be

[2019-07-25 04:53] baudtack commented on #148
Strongly disagree. Not being able to search by rune severely hurts
discoverablity. Without this and searching for stdlib gate names the search
isn't useful for Hoon docs.

On Wed, Jul 24, 2019, 3:58 PM Hardcodepunk <notifications@github.com> wrote:

[2019-07-26 05:18] alexmatz commented on #148
to clarify, @baudtack, we know this is important and will have it added as soon as we can. thanks for taking a look @matildepark !

[2019-07-30 18:19] #28 closed, assigned to hardcodepunk

[2019-07-30 19:51] Fang- opened #927 "urbit.org/docs/pki 404s"
That link is mentioned on paper wallets and so should remain operational.

It redirects to urbit.org/docs/concepts/arvo-vs-azimuth/, but that just results in a 404. Probably want to point to urbit.org/docs/concepts/azimuth/ instead, but idk where the redirects live...

[2019-07-30 19:59] matildepark commented on #927
They live [here](https://github.com/urbit/urbit.org/blob/master/static/_redirects), in fact.

[2019-07-30 20:03] matildepark commented on #927
Hehe, duplicate PRs. Sorry about that.

[2019-07-31 13:43] matildepark commented on #127
Is there anything left to do for this?

[2019-07-31 13:45] #104 closed, assigned to hardcodepunk

[2019-07-31 14:14] matildepark opened #928 "Undocumented changes to eyre behaviour and /web folder removal"
`/web` is no longer included in an Urbit installation; a lot of `shell.md`, `filesystem.md` and of course `sail-and-udon.md` still reference it.

AFAIK Eyre also now operates by poking it with `%connect` and attaching an endpoint (like `~site`) to a file location in a `hoon` file, most often in `/app`.

For that, I am still spending some spare time on boilerplate code for just mounting plain old H

[2019-07-31 14:38] matildepark opened #929 "Losing your pier documentation"
From `https://urbit.org/docs/getting-started/booting-a-ship/`:

Is this ... actually true? To the best of my knowledge you can just perform a personal breach in Bridge if you lose your pier and boot the ship fresh. And while a bit archaic (another doc page to write in itself) it's better than "your ship is just gone, forever" as advice, IMO.

Of course if I'm wrong, please let me know.

[2019-07-31 14:46] galenwp commented on #929
Individual continuity breaches *will* work — but they don't yet. So for now
this is correct. Don't lose that pier!

On Wed, Jul 31, 2019 at 7:38 AM Matilde Park <notifications@github.com>
wrote:

[2019-07-31 14:46] matildepark commented on #929
Ah, interesting. Ok, closing.

[2019-07-31 19:15] flowerornament opened #930 ""Note: Do not, under any circumstances, delete your pier" is incorrect"
The booting the ships docs say "never delete your pier," but this page may often be seen in the context of a network breach, which is indeed a circumstance in which you should delete (or archive) your pier.

The larger issue may be that we should incorporate information about what to do in a network breach on this page.

https://urbit.org/docs/getting-started/booting-a-ship/

[2019-07-31 19:32] flowerornament commented on #127
@matildepark want to test with an RSS client and see if we're a-ok? Things to look for:

- RSS client can actually find the `rss.xml` file from the URL (urbit.org)
- There's one entry per post
- Each post has a title, short-description, and content
- Images show up correctly
- Older posts show up

Last time I tried this, there were a bunch of issues, but it might have been before the recent fixes.

[2019-07-31 19:38] matildepark commented on #127
Tried in Reeder 3.

[x] Found from the URL (urbit.org)
[x] One entry per post.
[x] Each post has a title and the full content. The short description is the first line of the post.
[x] Images show correctly.
[x] Posts go back to 2016.

<img width="1212" alt="Screen Shot 2019-07-31 at 3 37 01 PM" src="https://user-images.githubusercontent.com/20846414/62242450-331e9d00-b3a9-11e9-969f-08a0648f9436.pn

[2019-07-31 19:42] flowerornament commented on #127
Beautiful. Looks like we're good.

[2019-07-31 19:42] #127 closed, assigned to hardcodepunk

[2019-07-31 19:47] flowerornament commented on #148
I wonder if trimming is bundled in this minified JS: https://github.com/getzola/zola/tree/master/components/search/src

[2019-07-31 19:49] matildepark commented on #148
@msutherl In [lib.rs](https://github.com/getzola/zola/blob/master/components/search/src/lib.rs#L36) they pipe in according to the language of the site. Default for English includes that trimmer AFAIK. It's part of the default pipeline in the minified JS, too. Forking that for our build does not seem possible. I'm still thinking on how to solve this, or if I'm even right about the trimming aspect.

[2019-07-31 20:44] flowerornament commented on #148
@matildepark we can probably generate the search index on our own in a separate script and include that in the build/deploy process if it comes to that. Definitely preferable to petition Zola to make this configurable somehow.

[2019-07-31 21:14] baudtack commented on #839
@eglaysher Any comment?

[2019-07-31 21:15] eglaysher commented on #839
Neither %hiss nor %them exist anymore.

[2019-07-31 21:28] rmariani commented on #868
We're added this to a master plan for improving the docs, so I am closing this issue.

[2019-07-31 21:30] baudtack commented on #877
What exactly do you mean by "interrupts all running commands" can you clarify this and provide an example?

[2019-07-31 21:37] rmariani commented on #881
That doc doesn't exist anymore, but it and its latest iteration were never meant to be exhaustive aura documentation.

[2019-07-31 21:37] rmariani commented on #903
This is being handled in our master plan :)

[2019-07-31 21:39] baudtack commented on #908
@joemfb is this still true given that all the lets encrypt stuff was killed?

[2019-07-31 21:43] rmariani commented on #930
I don't think that that's a good place for breach documentation. Such documentation will have its own page.

[2019-07-31 21:51] rmariani commented on #924
This is in the works

[2019-07-31 21:54] Fang- commented on #877
Two things:

[code]

Hitting backspace there discards the already-written code and returns you to a regular dojo prompt.

[code]

Trying to do anything while that request is still pending results in a `%dy-edit-busy`. Pressing backspace cancels it, printing `! cancel /hand`.

[2019-07-31 21:56] Fang- commented on #930
Since we've seen reports of people trying to boot post-breach with their old piers, we might still want to add a notice there, "the exception is network breaches, click here for more info" or similar.

[2019-07-31 21:57] rmariani commented on #928
Thanks for pointing this out, Matilde.

[2019-08-01 16:27] joemfb commented on #908
The need for this documentation would still exist were that given -- but that is not given, so the need exists *even more*. The relevant docs are in progress, I'll send details.

[2019-08-02 04:37] matildepark opened #931 "Sail and Udon's place on Urbit"
I've been thinking a bit on how to document [Sail and Udon](https://urbit.org/docs/using/sail-and-udon/) in the present era -- at the time of the document's writing, Urbit <= 0.7.4, the intended purpose seemed like it was to easily create front-end interfaces without too much JS, by embedding Hoon to very directly communicate with ships (using an urb.js library that patched the ship-side authentic

[2019-08-02 21:01] rmariani commented on #930
This PR addresses this issue: https://github.com/urbit/docs/pull/596

[2019-08-05 14:50] matildepark opened #932 "Tooltips?"
Looking at the [standard library page](https://urbit.org/docs/reference/library/) is a bit overwhelming to me at the moment, but it seems rather integral to the developer experience.

It seems like it would be a good idea to incorporate tooltips, so mousing over the library title would show its name.

Likewise, this could also be a good thing for codeblocks -- imagine mousing over runes, and havin

[2019-08-05 20:48] rmariani commented on #932
I agree with your diagnosis of the stdlib docs being hard to bite into (this is a perennial problem), and like the text-labeling tooltip idea a lot. So I'd love to see to see something in that vein.

Alternatively, we could just restructure `_index.md` so that it's easier to read. But I think that even the clearest such arrangement would be inferior to having tooltips.

[2019-08-06 20:33] #105 closed, assigned to nobody

[2019-08-07 10:59] ksbrar commented on #127
Super happy to see this change. Not really sure if this is relevant on your end, but I wanted to point out that Inoreader did not seem to automatically find the RSS link (had to manually add it myself).

[2019-08-07 13:22] matildepark commented on #127
@ksbrar Thank you for the catch! I installed Inoreader and gave it a shot, can confirm it's reproducible. I wondered if it didn't auto-find the feeds on the client side, but trying nytimes.com auto-found the feed easily. I checked nytimes.com's RSS code and the only real difference is the title and use of a *full path* whereas we use a relative path.

I edited our code to match that. I tried to co

[2019-08-07 16:58] Fang- commented on #127
Wasn't gonna report this, but might be related: my home-grown RSS reader also can't currently find the rss.xml automatically. Doesn't work for your PR's deploy preview either. It makes use of [SimplePie](https://github.com/simplepie/simplepie/) under the hood.

[2019-08-07 17:07] matildepark commented on #127
I see some locator logic [here](https://github.com/simplepie/simplepie/blob/f1455566e48e8df284e6d01ca0a9157b74802c9b/library/SimplePie/Locator.php#L199), I'll look into it and see what needs doing ...

[2019-08-08 21:22] rmariani commented on #931
The docs should reflect this repurposing. I'll add it to the triage-list of things to retool.

[2019-08-09 00:06] galenwp opened #933 "your-urbit.urbit.org"
Can we remove all references to `your-urbit.urbit.org`? We moved to `arvo.network` — but those links only work if you set up DNS.

[2019-08-09 00:18] rmariani commented on #933
Certainly!

[2019-08-09 00:25] matildepark commented on #148
So, thinking about this a bit. Another approach at this is sloppier: patching in a case switch for search results so that, say, typing `?=` (or really any of the runes we have) would circumvent the search entirely and provide one result that's customised to the rune in question.

Imagine, say, how Google shows quick answers for easy questions at the very top.

### Why?

We could build our own sear

[2019-08-09 01:06] joemfb commented on #933
Not *all*, `~galaxy.urbit.org` is still the (current) pattern for ames. The specific domain in question (currently `urbit.org`) is set in Azimuth (along with fallback domains).

[2019-08-09 01:38] matildepark commented on #107
In my RSS investigations I found an easy way to see them all. Ctrl+F `<guid>https://urbit.org/posts/update/</guid>` in a feed validator:

https://www.feedvalidator.org/check.cgi?url=http%3A%2F%2Furbit.org%2Frss.xml

As to why, I peeked a bit and have no immediate idea.

[2019-08-09 18:20] rmariani commented on #933
Fixed with https://github.com/urbit/docs/pull/610

[2019-08-09 21:21] flowerornament commented on #107
@matildepark I figured it out – when there's a valid date in the filename, it gets stripped out, so all files with names like `2017-11-14-update.md` are rendered as `update.html`. Files with names like `2017-1-14-update.md` are rendered as `2017-1-14-update.md` because `2017-1-14` is not a valid date in Zola world, and as such it isn't stripped.

I'm not sure there's a way around this other than t

[2019-08-09 23:11] galenwp commented on #148
It seems incredibly obvious that one should be able to search for a rune. And, that someone should be able to just type `?` and get all of the `?` runes.

There could be some way to parse out all of the runes from the docs and output a JSON file / snippet, I imagine. I say do this.

[2019-08-09 23:16] matildepark commented on #148
As in, write a script to take it from the docs' rune pages and automatically do parse it into JSON? Given how few runes there were (at least there aren't over seven hundred of *these*... -_-), I thought hand-creating them would do it better.

However what can also be done is semantically formatting the rune page markup for easier programmatic access in general. Which would also mean leaving Markdo

[2019-08-10 08:26] jfranklin9000 opened #934 "tisgar renders strangely in rune doc"
but the DOM looks ok:

https://urbit.org/docs/reference/hoon-expressions/rune/tis/

<img width="837" alt="tisgar-before" src="https://user-images.githubusercontent.com/15039850/62819653-9503a300-bb1d-11e9-9a94-f5e365ddcfc7.png">

The solution is to inline code it:
[code]
<img width="837" alt="tisgar-after" src="https://user-images.githubusercontent.com/15039850/62819688-14917200-bb1e-11e9-87c1-1bd

[2019-08-10 08:38] jfranklin9000 commented on #934
I don't think the quotes around the rune names ( **"tisgar"** ) look good.  I would delete them.

Also, there should be a horizontal rule between the rune descriptions.

[2019-08-12 20:23] rmariani commented on #934
I frankly don't like the inline look, it makes it harder for the eye to catch it, since the bolding is gone and code directly below it is also inline code.

@msutherl, any ideas on how to not make => render in such a way?

[2019-08-12 20:32] matildepark commented on #934
I know you can disable these ligatures with some css that states font settings. If that helps.

Sent from my iPhone

[2019-08-13 23:45] flowerornament commented on #107
Pushed an example fix: https://github.com/urbit/urbit.org/blob/master/content/posts/2017-12-22-update.md

Just need to add the "slug" metadata to all posts with dates the contain double-digit months and days.

@matildepark or @francescanarea  – either of you want to tackle this?

[2019-08-14 20:17] matildepark commented on #934
I believe @msutherl hotfixed this, so this issue can be closed, @rmariani ?

[2019-08-14 20:21] jfranklin9000 commented on #934
Was there a PR for the fix?

[2019-08-14 20:22] matildepark commented on #934
Pushed directly to master, I think: https://github.com/urbit/urbit.org/commit/7246d7349057e198df786360121c1d091bb7dd6a

[2019-08-14 20:24] rmariani commented on #934
Thansk @msutherl

[2019-08-20 21:31] rmariani commented on #931
For now, I am going to mothball the "blog" and "static site" sections of the document. It's a huge doc anyway, so I think this is the obvious move.

[2019-08-21 00:55] urcades opened #171 "Linux binary retrieval instructions don't work"
The Linux instructions for `curl`ing the binary end up with an unresolved host:

[code]

It works fine for macOS!

[2019-08-21 01:03] matildepark commented on #171
It works for me, both in browser and curling it.

I find the bootstrap link sometimes gives that error, depending on my own connection. What happens if you retry it?

[2019-08-21 01:06] belisarius222 commented on #171
Have you checked that your linux machine can curl other domains?

—
~rovnys-ricfer
https://urbit.org

On Tue, Aug 20, 2019 at 6:03 PM, Matilde Park < notifications@github.com > wrote:

[2019-08-23 00:12] joemfb opened #935 ""dns-proxying" is a confusing title"
Presumably this came about through the conflation of the arvo.network DNS record bindings, and the entirely-separate TCP proxying that depended upon those records. I think the title should be something like "Arvo.network DNS" (or "domain names" or "subdomains" ...). DNS and proxying are two almost entirely unrelated things, and the term "dns-proxying" suggests a proxy server for a dns server, whic

[2019-08-23 00:21] baudtack commented on #935
fixed in pr 624

[2019-08-28 21:49] #107 closed, assigned to francescanarea

[2019-08-29 01:42] mattnewport opened #940 "sample bunts should be documented along with traversal gates"
The left and right fold functions `roll` and `reel` use the bunt value for their accumulator. For some functions like product rather than sum it would be useful to have variants that take an initial value (1 rather than 0) for the accumulator. This is common in other languages but I don't see a way to do this with the current Hoon standard library.

[2019-08-29 01:47] belisarius222 commented on #940
I agree.  In fact, I think +roll and +reel should be modified to require
the initial value as an explicit argument.

On Wed, Aug 28, 2019 at 6:42 PM Matt Newport <notifications@github.com>
wrote:

--

—
~rovnys-ricfer
https://urbit.org

[2019-08-29 01:52] ohAitch commented on #940
++fold perhaps?

On Wed, Aug 28, 2019 at 18:47, Ted Blackman <notifications@github.com>
wrote:

[2019-08-29 03:03] joemfb commented on #940
It's only slightly more awkward to use a mold to set the initial value, this is what `_` (ie, `$_`) is for:

[code]
But, in fact, `+mul` already has the correct initial arguments:

[code]

It's defined as follows:

[code]

`|:(a b)` is morally equivalent to `|=(_a b)` (ignoring some effectively irrelevant intermediate de-sugaring).

I'm not sure if it's better to have an explicit argument -- `+spi

[2019-08-29 03:48] mattnewport commented on #940
@joemfb I didn't know you could do this (still pretty new to Hoon) but I agree that seems like a reasonable workaround. I'd guess I'm not the only Hoon noob that this would not be obvious to though so an example of this in the docs for `roll` and `reel` might be helpful.

[2019-08-29 17:30] joemfb commented on #940
I agree, this traversals are a good place to talk about bunts and default samples.

/cc @baudtack @rmariani

[2019-09-04 18:10] drbeefsupreme opened #936 "reference to +* rune in type-inference.md no longer exists"
In `/docs/learn/hoon/hoon-tutorial/type-polymorphism.md` we have the following line:

I ctrl-F'd through all the chapter 2 material and this rune is never mentioned anywhere else, so we probably need to include that explanation here. I'd fix it myself but since I'm currently learning this material it's probably better for someone else to handle it.

[2019-09-04 18:11] drbeefsupreme commented on #936
I should also mention that this rune is never used in Chapter 1, either.

[2019-09-12 18:35] rmariani commented on #877
addressed in https://github.com/urbit/docs/pull/635

[2019-09-24 01:06] tacryt-socryp opened #937 "Replace mentions of Azimuth Points in non-technical usage with the term "Urbit Identity""
Let's wholesale replace this confusing additional terminology. "Point vs Planet" etc

[2019-09-24 17:16] rmariani commented on #937
I agree with this. But what counts as technical usage? Comments in the contracts themselves?

[2019-10-04 17:37] matildepark commented on #30
Collapsable headers are in the overhaul deployed next week.

[2019-10-04 17:37] #30 closed, assigned to flowerornament

[2019-10-04 17:40] matildepark commented on #84
Overhauled site has redirects and aliases for slugs going back several years (I checked our old tweets for all slug formulations). If anyone finds something I missed, ping and I'll reopen.

[2019-10-04 17:40] #84 closed, assigned to hardcodepunk

[2019-10-04 17:41] matildepark commented on #148
Overhauled site we deploy next week does this!

[2019-10-04 17:41] #148 closed, assigned to nobody

[2019-10-04 17:41] #101 closed, assigned to hardcodepunk

[2019-10-04 17:42] matildepark commented on #171
I still can't replicate this and this has been open for a few months without any indication it's an issue for others, so, closing.

[2019-10-04 17:42] #171 closed, assigned to nobody

[2019-10-09 19:49] jyng opened #189 "card.svg to card.png"
Not sure whats up with the svg file, but lets just use the png version. Should be just a change in the path.

![image](https://user-images.githubusercontent.com/9557907/66515037-3615c800-ea93-11e9-8764-64216ff0b49a.png)

[2019-10-14 23:43] g-a-v-i-n commented on #189
Resolved now

[2019-10-14 23:43] #189 closed, assigned to urcades

[2019-10-14 23:49] #89 closed, assigned to nobody

[2019-10-15 17:44] g-a-v-i-n opened #217 "Understanding Urbit footer does not have enough bottom pad (Desktop Safari, mobile Safari)"
<img width="777" alt="Screen Shot 2019-10-15 at 10 44 21 AM" src="https://user-images.githubusercontent.com/5265021/66855801-c68f5500-ef38-11e9-91ac-cee1b18390dd.png">

[2019-10-15 17:44] g-a-v-i-n commented on #217
black bg is my desktop

[2019-10-15 17:48] g-a-v-i-n opened #218 "video media is too tall in /media (desktop)"

[2019-10-15 18:02] g-a-v-i-n opened #219 "Clicking search does not open search (mobile Safari)"

[2019-10-15 18:17] g-a-v-i-n commented on #217
![UNADJUSTEDNONRAW_thumb_7b9](https://user-images.githubusercontent.com/5265021/66858050-664ee200-ef3d-11e9-8e50-b64f2b8f5d3e.jpg)

[2019-10-15 18:18] g-a-v-i-n opened #221 "/blog item footer nav is off (mobile safari)"
![IMG_0976](https://user-images.githubusercontent.com/5265021/66858118-7ebefc80-ef3d-11e9-9779-018b373a276f.png)

[2019-10-15 18:20] g-a-v-i-n opened #222 "/update item footer navs are off (mobile safari)"
<img width="298" alt="Screen Shot 2019-10-15 at 11 22 00 AM" src="https://user-images.githubusercontent.com/5265021/66858390-086eca00-ef3e-11e9-89ae-9c3cb54e310f.png">

[2019-10-15 18:46] urcades opened #223 "/docs landing links resolve to 404 (firefox)"
The three highlighted links in the /docs root resolve to 404 pages — I'm unsure if these pages actually exist.

<img width="1472" alt="Screen Shot 2019-10-15 at 11 42 39 AM" src="https://user-images.githubusercontent.com/1195363/66859945-14a85680-ef41-11e9-9194-61323e754f32.png">

[2019-10-15 19:05] matildepark commented on #223
This is for the docs repo. I'll amend the links.

[2019-10-15 19:05] #219 closed, assigned to nobody

[2019-10-15 19:07] #223 closed, assigned to urcades, eriknewton

[2019-10-15 19:12] #221 closed, assigned to nobody

[2019-10-15 19:12] #222 closed, assigned to nobody

[2019-10-15 19:37] #217 closed, assigned to nobody

[2019-10-15 19:37] #218 closed, assigned to nobody

[2019-10-15 22:01] baudtack opened #228 "Difficult to go between the Technical Writing and the User Manual"
When I'm inside of the "documentation" section (which should have a name change because Documentation is too general and fits the things outside of that category also) it's difficult to see how to get to the user manual pages i.e. /using  without going back to the main urbit.org page. You can navigate there by clicking on documentation in the menu bar which has a link to the user manual pages but

[2019-10-15 22:04] baudtack opened #229 "Search produces results in blog posts"
Searching for "dns proxy" results in two blog post pages before the docs page I care about shows up. Either search should exclude the blog posts or they should show up in some other section.

[2019-10-15 22:20] matildepark commented on #229
Side-wide search is actually *meant* to include all site posts. If a specific term should come *first* it should be in the glossary, which is part of search. So far we only have [runes](https://github.com/urbit/urbit.org/blob/master/static/runes.js).

[2019-10-15 22:47] Fang- opened #230 "Link to Github files of pages"
This is more for the docs pages, but who knows, maybe we want to apply this more broadly.

Whenever I spot a small error on a docs page I want to correct, I have to go _all the way_ over to the Github repository, then _find the file_ I need to be editing. In the interest of streamlining the contribution pipeline, we should consider adding a ✏️  or similar to the docs pages, that links to the file

[2019-10-15 23:05] matildepark commented on #230
We could do this pretty easily — `page.relative_path` shows, for example, `understanding-urbit/simple-durable-yours.md`. So then you append it to `https://github.com/urbit/urbit.org/blob/master/content` or the equivalent for docs in the template. I'm unsure it's something ideal for the *whole site* though — do we want urbit.org to seem like a wiki?

[2019-10-15 23:43] Fang- commented on #230
Seems _kind of_ in line with the "Headless Brands" thread, but not my call to make. Certainly a better fit for docs than essays.

[2019-10-16 05:09] flowerornament opened #231 "Video doesn't autoplay and button covered iOS 13 Safari"
![65F9CE48-58CF-44BD-B6F7-EA0BD10512E2](https://user-images.githubusercontent.com/31774/66889749-71832b80-ef98-11e9-8bc3-2f91280bcfea.png)

[2019-10-16 05:20] matildepark commented on #231
It’s not supposed to play on iOS Safari. The button shouldn’t even be there (and isn’t on my iOS Safari...).

I think the button is showing because you’re in low power mode.

Sent from my iPhone

[2019-10-16 16:25] mattlevan opened #232 "Search magnifying glass is chopped"
![image](https://user-images.githubusercontent.com/4582375/66938921-e5542100-eff6-11e9-8e42-4195c1431911.png)

[2019-10-16 16:35] matildepark commented on #232
Can't replicate on any browser on macOS. You are using ... Windows? Linux? Let me know so I can try and replicate and fix.

[2019-10-16 17:40] mattlevan commented on #232
Windows at the moment! Browser was latest Chrome.

[2019-10-16 17:55] Fang- opened #233 "Side-margins eat up site (mobile firefox)"
Eats up both images and overflowing text.

![image](https://user-images.githubusercontent.com/3829764/66945136-d26d3b00-f04e-11e9-9ec8-c22ed7c1f09c.png)

![image](https://user-images.githubusercontent.com/3829764/66945107-c41f1f00-f04e-11e9-8cbe-3f35cf40562e.png)

![image](https://user-images.githubusercontent.com/3829764/66945159-dbf6a300-f04e-11e9-9af2-2a310710eae9.png)

[2019-10-16 17:59] g-a-v-i-n opened #234 "The website looks weird (apple watch)"
I'm using Opera Desktop emulated in Android Studio which I'm running on Wine on my jailbroken Apple Watch.

![75635515-glitch-psychedelic-background-old-tv-screen-error-digital-pixel-noise-abstract-design-photo-glitch-b](https://user-images.githubusercontent.com/5265021/66945507-03744e00-f004-11e9-99ad-19a4dce979bb.jpg)

[2019-10-16 18:00] Fang- opened #235 "Mobile dropdown navigation allows selecting non-pages"
While I agree it's nice to have section headers even in the dropdown, it's confusing that they're clickable. They get selected, but nothing actually happens, leading to the impression that navigation's broken. Pretty sure it's possible to disable dropdown options separately.

![image](https://user-images.githubusercontent.com/3829764/66945348-309a1e00-f04f-11e9-83be-d14bbb16e310.png)

![image](htt

[2019-10-16 18:03] matildepark commented on #234
Hmm. I'll try and replicate. Thanks for the heads up!

[2019-10-16 18:07] philipcmonk commented on #234
It looks to me like a bad cable.  Have you tried jiggling the virtual HDMI cable between the watch and Wine?

[2019-10-16 18:11] galenwp commented on #234
Legendary

[2019-10-16 18:11] Fang- opened #236 "Landing page image slow to load on mobile"
We probably shouldn't be shipping a high-res header image to mobile devices. (This is on a home wifi connection.)

![slow-load](https://user-images.githubusercontent.com/3829764/66946352-0e090480-f051-11e9-9ded-1e931213c451.gif)

[2019-10-16 18:15] matildepark commented on #235
You can with `<optgroup>`, but it's intended for multiple-selection situations. Just tried an implementation that worked on my desktop Brave but didn't actually work as navigation on iOS ... it also forced into multiple selection. Something to look into.

[2019-10-16 18:16] Fang- opened #237 "Weird scroll behavior on some pages on mobile"
The content is within two scrollable containers. Can reproduce this on most pages with images, including blog pages.

![weird-scroll](https://user-images.githubusercontent.com/3829764/66946554-7a840380-f051-11e9-9bde-a41446381668.gif)

Mobile Firefox, as always.

[2019-10-16 18:17] matildepark commented on #236
Fun fact: Before I implemented the still image fallback on mobile, mobile loaded the whole vid (60mb load for our homepage on mobile!). But yeah, seeing as the fallback is only supposed to show on smaller, portrait-oriented devices, I can see why a smaller image is preferable.

[2019-10-16 18:22] Fang- commented on #236
Oh, huh. Static image also shows for me on desktop Firefox. Only time I saw the video was when I first tried the new site out, and was relieved to see a static image later on.

(Off-topic here, but yeah, big fat -1 at shipping a 60mb video file regardless of the target. At the very least, try to make a lighter-weight webm out of it...)

[2019-10-16 18:26] baudtack commented on #229
I mean... that's fine, but they should probably have their own result area since 99% of the time when you are looking for something you're probably not gonna care about the blog posts. at least _I_ don't which means no one could possibly care. :-p

[2019-10-16 18:26] matildepark commented on #236
We did. 60mb was the smallest we got. I agree with you, but I just make the computers do the things, and there are more +1s from the others.

Are you sure desktop Firefox isn't just preventing autoplay?

[2019-10-16 18:32] matildepark commented on #229
They do. They come *before* the other results, and are delineated inside their own section.

[2019-10-16 18:36] Fang- commented on #236
Oh, turns out my (aggressively configured) adblocker was catching it.

[2019-10-16 18:37] belisarius222 commented on #236
I waited maybe twenty seconds for it to load on my iPhone, but it only got
about a third of the way down before I got bored and went to another page.
I didn't know there was text on the image until I saw this issue.

On Wed, Oct 16, 2019 at 2:26 PM Matilde Park <notifications@github.com>
wrote:

--

—
~rovnys-ricfer
https://urbit.org

[2019-10-16 18:40] baudtack commented on #229
![Screenshot from 2019-10-16 11-39-41](https://user-images.githubusercontent.com/32079/66948548-c8751900-f009-11e9-880e-f09da74ac278.png)
Not when I've run it?

[2019-10-16 18:43] matildepark commented on #229
Yeah. Because there isn't a glossary to stick in there yet. Just the runes.

That's my thing: If you want a definition to come *first* then you'll need to make a glossary out of JSON. I've proposed this for Docs workflow, and there's work on it that can be later deployed for programmatic export.

[2019-10-16 18:46] davis68 opened #238 "Urbit ID graphics disagree"
The Urbit ID graphics on the new page

https://urbit.org/understanding-urbit/urbit-id/

disagree on enumeration.

The one following "Your Urbit ID and passkey" has one set of values for number of stars and planets, while the one following "First, there are only" has another.

I'd PR but you have the image sources.

[2019-10-16 18:49] matildepark commented on #236
The image is ... 10mb. lol. We're getting a smaller one.

[2019-10-16 18:50] galenwp commented on #238
Nice catch. The second image is correct. Each tier is less the tier above. That is, there are actually 2^16 - 2^8 stars and 2^32 - 2^16 planets.

[2019-10-16 18:53] Fang- commented on #236
We should run every single image on the site through [ImageOptim](https://imageoptim.com/mac) or similar.

<img width="570" alt="image" src="https://user-images.githubusercontent.com/3829764/66949476-e74dcc80-f056-11e9-921a-60624aaea54e.png">

[2019-10-16 18:53] urcades commented on #234
lgtm

[2019-10-16 19:04] g-a-v-i-n commented on #234
Ok, I ran `$ jiggle` on the VHDMI. Now it looks like this:

<img width="1359" alt="Screen Shot 2019-10-16 at 12 03 41 PM" src="https://user-images.githubusercontent.com/5265021/66950381-19d2d780-f00d-11e9-86cd-faa77d5936d2.png">

[2019-10-16 19:59] matildepark commented on #236
It's 272kb now.

[2019-10-16 19:59] #236 closed, assigned to nobody

[2019-10-16 20:14] g-a-v-i-n commented on #238
Should be updated when the GCP cache expires.

[2019-10-16 20:14] #238 closed, assigned to g-a-v-i-n

[2019-10-16 21:32] flowerornament commented on #231
@matildepark you're right – and looks like it's not easy to fix. Requires a video overlay / swapping in a GIF for this specific case on iOS 12/13.

[2019-10-17 16:47] belisarius222 opened #240 "Invalid hoon syntax in content"
Where it says `~12m`, that's not valid Hoon.  `~m12` means twelve minutes.  If that looks funny, we should probably just use English.

Sorry for not making a PR, I had trouble finding the file this text came from.

[2019-10-17 17:00] matildepark commented on #240
You mean on the homepage? To the best of my knowledge it was intended to not be Hoon. But I feel like it should. I'll talk to the copywriter (I think it was @galenwp) and make a call on it.

(And it's `templates/index.html`. Directories and index pages end up getting their content deployed separately as a specialised template, which isn't ideal, but how it is on the static deployment.)

[2019-10-17 17:06] galenwp commented on #240
I feel like it reads just fine as `~12m` — which I intended to read as 'about twelve minutes'. I was thinking of it more like a twitter-style timestamp.

[2019-10-17 17:20] belisarius222 commented on #240
We generally refrain from using ~some-amount to mean "about", since we
prefix so many things with ~ in technical language.  The fact that it's
also in monospace makes it look even more like code, and the syntax is
almost exactly a Hoon relative date -- so close, it just looks like a
mistake.  We use Hoon syntax for all kinds of things, like Urbit IDs and
dates of blog posts, so using Twitter's rel

[2019-10-17 17:40] galenwp commented on #240
I'm fine to write the whole thing out — I'm not super attached to this. But I do refuse to fix it if it doesn't render properly on your fitbit.

[2019-10-17 18:59] baudtack commented on #229
I'm not looking for the definition of DNS Proxy here. I'm looking for the page that _tells_ me how to do the dns proxy stuff. Which is on the 3rd link there instead of the first one.

[2019-10-17 21:16] Fang- opened #244 "Discord linked on the website"
I thought this was only a temporary solution for hosting Hoon School? And that next Hoon School was going to be on Urbit proper?

It's _very_ off-brand to me to see Discord linked on the homepage.

Who is even maintaining support/structure there? What do we want it to be used for? Why is that not happening _on Urbit_?

"But ship boot troubleshooting!" Getting the binary and booting a comet is pret

[2019-10-17 21:19] matildepark commented on #244
FWIW, I agree with you. However, Marketing and Communications (and @galenwp and, basically everyone else?) believe we need a direct place for people to get support that isn't an email address we control, and doesn't require you to get an Urbit ship; Discord is the easiest option.

Me and another are essentially volunteering to steward over it.

[2019-10-17 21:21] ohAitch commented on #244
Does booting a comet no longer take an hour of mining? Even then, "pretty
easy" seems likely to involve the precise same pitfalls that "ship booting
troubleshooting" refers to in the first place.

On Thu, Oct 17, 2019 at 14:19, Matilde Park <notifications@github.com>
wrote:

[2019-10-17 21:21] matildepark commented on #240
Fixed in 1269f8e6b5cc680868a8b72825cbd7ade47f9655.

[2019-10-17 21:21] #240 closed, assigned to nobody

[2019-10-17 21:23] #234 closed, assigned to nobody

[2019-10-17 21:28] Fang- commented on #244
@ohAitch Comet boot speed improvements are in the pipeline and will be shipping Soon™.
Fair re troubleshooting.

I am more than happy to do support during all my at-keyboard hours, but feel conflicted about falling into a "20 messaging apps" situation.
Reimplementing stream for our current stack would allow us to provide a no-account-needed instant-messaging support channel that feeds directly int

[2019-10-17 21:30] ohAitch commented on #244
I suppose "use API drivers to bridge chat to a channel on the official discord" would be out of question, bc travesty hell etc?

[2019-10-17 21:35] vvisigoth commented on #244
So this issue is that we should staff the Discord with people who are willing to help. Good point. Not a website issue.

[2019-10-17 21:36] #244 closed, assigned to nobody

[2019-10-17 22:22] philipcmonk opened #938 "eth-manage is no more"
In the troubleshooting page, `eth-manage` isn't what you use anymore.  The replacement is `:azimuth-tracker|listen ~ %app %azimuth-tracker` to sync from an ethereum node for all ships and `:azimuth-tracker|listen ~[~zod ~marzod] %app %azimuth-tracker` to sync from an ethereumnode for a list of ships (~zod and ~marzod in this case).

[2019-10-17 22:27] rmariani commented on #938
Right, I will fix this now, thanks

[2019-10-17 22:43] drbeefsupreme opened #246 "cannot search for Ford runes"
Ford runes begin with `/`, but typing `/` into the Search bar closes out of it.

[2019-10-17 23:01] matildepark commented on #246
We can change the hotkey easily enough, but [Ford runes aren't in runes.js anyway](https://github.com/urbit/urbit.org/blob/master/static/runes.js). Needs to be added, if you want them — since they're not listed as runes on the runes pages, only on Ford's page, they weren't processed.

[2019-10-17 23:36] rmariani commented on #938
fixed: https://github.com/urbit/docs/pull/664

[2019-10-18 15:06] drbeefsupreme commented on #246
I'll discuss what we should do about this with the docs team on Monday, since they ought to be separate from Hoon runes somehow, but they also ought to be searchable.

[2019-10-18 15:11] matildepark commented on #246
You could just add them to runes.js without moving the docs around? The hotkey thing is my part — We just change the hotkey event listener in scripts.js.

Sent from my iPhone

[2019-10-18 15:16] matildepark opened #247 "Docs mobile template doesn’t use full page"
Likely just changing the column classes on the two or three doc templates.

![4C5E7623-36DC-4E63-AE1C-029E521FA29C](https://user-images.githubusercontent.com/20846414/67106455-866de380-f17f-11e9-835e-002cb94f243f.png)

[2019-10-18 15:20] matildepark commented on #247
Actually looks like it could be all mobile templates. The margin on the right feels like it shouldn’t be so big. Hm.

[2019-10-18 17:46] Fang- commented on #247
Possible duplicate of #233?

[2019-10-21 17:50] #247 closed, assigned to nobody

[2019-10-22 16:58] matildepark opened #939 "2.8 Ford — Hoon syntax highlighting"
[Looks good](https://urbit.org/docs/tutorials/hoon/ford/)! Would look better if the Hoon had highlighting. Just looks like adding 'hoon' right beside the first triple backtick:

[code]

[2019-10-22 17:00] drbeefsupreme commented on #939
Will take care of this right now - I just noticed the link at the bottom of
this page was broken, so I'll make a PR for both of these
--

—

~tidrel-tabpub

https://urbit.org

On Tue, Oct 22, 2019 at 12:58 PM Matilde Park <notifications@github.com>
wrote:

[2019-10-22 19:04] belisarius222 commented on #940
I modified some Ames code to use +roll or +reel instead of explicit loops.  They're growing on me.  I think the last time I'd tried them was before the bunting system got redone, and there was some bug that made it hard to get right.  They feel better now, and they don't seem as abstruse.

It's still a bit tricky for beginners to use.  You have to know a fair amount about how Hoon works to assembl

[2019-10-22 20:03] drbeefsupreme commented on #939
done by urbit/docs#670

[2019-10-22 21:21] jfranklin9000 opened #253 "Can we restore the gray background for inline code?"
The code font and the script font look very similar and the different background would help see these better.  We used to have it, and we still do for block code.

[2019-10-22 22:41] g-a-v-i-n opened #941 "High level overview of Hoon"
The https://urbit.org/docs/tutorials/hoon/ page sort of jumps right in and assumes I'm already convinced I want to learn the language. I think it would be helpful to provide extra context about the language first:

- What is special about hoon?
- What properties does hoon have? What type of language is it?
- What can hoon do that other languages can't?
- What is hoon good at?
- Why did we write th

[2019-10-22 22:42] g-a-v-i-n opened #942 "Higher parity between inline hoon.hoon comments and docs"
I'd prefer higher parity between inline hoon.hoon comments and urbit.org/docs. Mostly talking about the stdlib. It's hard to know which is the source of truth (obviously it's the code but that's beside the point).

- ie: scot, scow, slat, slav, slaw don’t have any comments or description in source code. I would need to go to urbit.org/docs to learn what these do, even if I wanted a loose descripti

[2019-10-23 00:44] belisarius222 commented on #941
Here's my take on those questions, which I think are good questions that we don't answer explicitly enough.

What is special about Hoon?

It's a purely functional systems language.  Calling it a functional analog of C is not too far off in several ways.  Almost all code throughout Urbit's kernelspace and userspace is written in Hoon.

What properties does Hoon have?  What type of language is it?

[2019-10-23 13:56] drbeefsupreme commented on #942
Agreed. This is something that we're working towards with doccords.

The situation is actually even a little worse than you say - some of the
documentation on hoon.hoon shows what the source *should* be like (i.e.
writing a=* instead of a/* to assign a face) rather than what it actually
currently is.

--

—

~tidrel-tabpub

https://urbit.org

On Tue, Oct 22, 2019 at 6:42 PM g-a-v-i-n <notification

[2019-10-23 14:07] drbeefsupreme commented on #941
This is fantastic, Ted. It made a lot of sense to me, and I do not have
much of a software engineering background, and my primary gripe with Urbit
so far has been that I did not understand what was gained by using
Nock/Hoon. This clears up a lot of it for me in a way that someone of my
background can understand (though there's still a handful of things I need
to dig a little deeper into), which me

[2019-10-23 20:48] philipcmonk opened #944 "Document |knob"
`|knob` allows you to set the verbosity of different error messages.  It's useful to silence errors that you can't/needn't do anything about.  This is often the case [here](https://urbit.org/docs/tutorials/ship-troubleshooting/#i-keep-getting-an-ames-error-stack-trace), so somewhere we should describe how to use it.

The command has the form `|knob %error-tag %level`.  `%error-tag` describes the e

[2019-10-23 22:27] tacryt-socryp commented on #941
Ted, this is excellent. I’d love to see more communication of the core rationales of this system put out to the public in a similar manner. (Azimuth, Ames, the Arvo lifecycle function are key examples)

[2019-10-23 22:28] tacryt-socryp commented on #925
Ping. It’s even more confusing now that the “releases” on Github contain source rather than binaries.

[2019-10-24 01:18] jtobin commented on #925
On Wed, Oct 23, 2019 at 03:28:47PM -0700, Logan wrote:

That's a good point.  I'm not sure if they ever included binaries, but
I'll definitely link to them in Vere (i.e. urbit x.y.z) releases from
now on.

[2019-10-24 01:43] philipcmonk opened #946 "Update moon docs"
Instead of `+moon`, to generate a new key for a moon, run `|moon`.  To breach a moon, run `|moon-breach ~sampel-sipnym-wicdev-wisryt`.  To cycle the keys of a moon without breaching, run `|moon-cycle-keys ~sampel-sipnym-wicdev-wisryt`.

The `@moon/key +moon` option doesn't work anymore either, the key is only printed to the screen.

[2019-10-24 17:35] mattlevan opened #254 "No scroll bar"
May we please have our scroll bar back? I like using it, especially when reading docs.

Chrome/Chromium on Windows.

[2019-10-24 19:05] #232 closed, assigned to nobody

[2019-10-24 19:05] #254 closed, assigned to nobody

[2019-10-24 19:31] rmariani commented on #946
Handled in https://github.com/urbit/urbit.org/pull/256

[2019-10-24 22:37] philipcmonk opened #947 "Determining if your ship's keys are up-to-date."
On a recent urbit-dev thread where someone asked "How can I tell if keys on ship are up to date?" I responded as below.  I think something like this would be a good section on the ship troubleshooting page.

First, find a ship to check the keys of.  If you have a particular ship you care about, use that one.  Find its keyRevisionNumber is on Etherscan, as described here: https://urbit.org/docs/tut

[2019-10-25 21:22] g-a-v-i-n commented on #941
@belisarius222 this is so great

[2019-10-25 23:49] rmariani commented on #944
Addressed in https://github.com/urbit/docs/pull/682

[2019-10-26 05:06] philipcmonk commented on #944
Thanks!

FYI, if you put "Fixes urbit/docs#678" in the PR text or commit message, then when it
gets merged to master it'll automatically close this issue with a link to
that PR.

On Fri, Oct 25, 2019, 16:49 rmariani <notifications@github.com> wrote:

[2019-10-28 17:23] rmariani commented on #944
Cool, thanks for the tip!

[2019-10-28 17:31] rmariani commented on #253
@matildepark, what do you think?

[2019-10-28 17:33] matildepark commented on #253
This is a design question. I personally dislike gray backgrounds on them, though. @g-a-v-i-n ? I think we were thinking about a lighter gray compromise?

[2019-10-28 17:46] drbeefsupreme opened #258 "click to access non-bottom-level pages on collapsible sidebar"
As far as I can tell, there is no way to access the non-bottom-level pages on the collapsible sidebar by clicking. So this makes content such as `https://urbit.org/docs/tutorials/`, `https://urbit.org/docs/reference/`, `https://urbit.org/docs/tutorials/arvo/` inaccessible via the sidebar.

I've tried to find a way to do this with Brave and Firefox.

These pages are still accessible via the Search

[2019-10-28 17:54] matildepark commented on #258
This was actually on purpose! Our previous directive was that those index pages were essentially pointless. I made the Table of Contents for the standard library because the page was basically not accessible otherwise.

I _think_ you can nest `<a>` elements within `<summary>` elements? I would have to see. But then you might find the collapsed nav would itself hit the link instead of unfold. We co

[2019-10-28 17:59] drbeefsupreme commented on #258
I agree that a lot of them are useless, but some of them are not, e.g. `https://urbit.org/docs/tutorials/arvo/`. So maybe we should move the useful ones into bottom level pages? Will talk about this at meeting today.

[2019-10-28 20:29] g-a-v-i-n commented on #253
I think they should be reinstated. Its helpful to be able to scan for code blocks.

[2019-10-28 23:30] #253 closed, assigned to matildepark

[2019-10-28 23:53] Fang- opened #948 "Various $ buc runes undocumented"
I only learned about these today, so instead have some words by @joemfb:

[code]
That mold casts/bunts to `[%1 ^]`, but also normalizes from `[%0 @]` if called on such a noun.
It's `$&(combined-mold normalizing-gate)`.
[code]

`$|` lets you call a validator, see `+map`

`$>` and `$<` lets you restrict some pre-existing mold
see the vane interfaces in `%zuse`

and then a bunch of core interface stu

[2019-10-29 06:43] urcades opened #260 "Broken Link on Hoon Tutorial's first page"
Url:

https://urbit.org/docs/tutorials/hoon/setup/

Screenshot of location:

![image](https://user-images.githubusercontent.com/1195363/67743568-6cd96100-f9f5-11e9-9d72-4048fbd0d601.png)

Clicking this link resolves to a 404, at url https://urbit.org/install.md.

I can attempt to rewire this myself sometime Tues, but I need to learn how we're linking pages so I do it properly. If someone just know

[2019-10-29 06:50] matildepark commented on #260
Good catch. If it's in `/docs` then it's in [urbit/docs](https://github.com/urbit/docs).

That said, I went ahead and fixed the links on this page and pulled it into the site, so this is fixed as of b6089917191cb0f12eb8f014739ce00535ab909c.

[2019-10-29 06:50] #260 closed, assigned to nobody

[2019-10-29 11:17] drbeefsupreme commented on #948
I'm going to be documenting Ford runes today, so I'll take care of this as well.

[2019-10-30 02:40] philipcmonk opened #263 "Search not working"
Going to urbit.org/docs gives the first error below, and typing /foo gives the second error (repeated on every keystroke).  No search results appear.

[code]

On Chrome 78, MacOS High Sierra.

[2019-10-30 02:46] matildepark commented on #263
Ford rune additions to JSON didn't have commas. Sorry, should've caught. Patched in 54510001eafdc390f2a2d18a98aebffdd1641a0e.

(If you look for Ford runes, it'll still close on you, since #262 still needs to be reviewed before merge.)

[2019-10-30 02:46] #263 closed, assigned to nobody

[2019-10-30 18:29] matildepark opened #949 "2.6.1: effect/syscall terminology"
[2.6.1](https://urbit.org/docs/tutorials/hoon/egg-timer/) still uses this terminology. It was recently removed from [create-landscape-app](https://github.com/urbit/create-landscape-app/pull/14), so this should probably match.

[2019-10-30 19:56] #246 closed, assigned to nobody

[2019-10-31 19:37] rmariani commented on #942
We're handling this with the doccords project

[2019-10-31 20:36] Fang- opened #950 "How to create a CLI interface for your application"
The `/tutorials/hoon/generators` page already covers sole requests and results a little bit, but we don't seem to have any docs covering command line _applications_.

This isn't exactly the prettiest part of the system, the patterns for working with it aren't the nicest, but might be nice to still show a very minimal example of how to set up a cli interface for your app, even if it's just listenin

[2019-10-31 20:40] matildepark commented on #950
Would go best underneath a brief summary of what sole is. There’s literally nothing about it, that it exists, or how/why it exists. Mentioned in 1.4 and 1.9. If we want to encourage interface-agnostic apps, this is the next piece after describing Landscape apps, I think.

—
~haddef-sigwen
http://urbit.org

[2019-10-31 20:42] matildepark commented on #950
Off-topic:

From the link you gave:

[2019-10-31 22:09] baudtack commented on #949
done.

[2019-11-01 17:03] drbeefsupreme opened #269 "feature request: dynamically generated lesson, exercise, etc. numbers"
The Hoon school lessons are under constant revision, and as such, the lesson numbers frequently change and so any references to them must also be changed manually. Exercise numbers, written as "Exercise 1.7a" for the first exercise in Lesson 1.7, also depend on these lesson numbers. With the planned expansion on adding figures, additional exercises, etc., a general purpose reference system that ge

[2019-11-01 17:16] matildepark commented on #269
We discussed this out of bounds first.

My thought on going about this is crafting a new template page for the Hoon tutorial directory that generates the table of contents, which would then auto-sort the numbers.

As for figure linking, my initial approach — inserting the IDs on page load — doesn't help with hyperlinking. I'll think on it. This is lower on priority for me at the moment but I'll co

[2019-11-01 17:49] matildepark opened #951 "Mounting to Unix is now buried information"
From Discord:

I went and looked and, yes, the site + docs now has very little mention of `|mount %` anywhere at all.

Should this go at the bottom of install + setup? I feel like it belongs in the [Filesystem](https://urbit.org/using/operations/using-your-ship/#quickstart-2) section, but in general Operations could use a slimming pass, too.

[2019-11-01 19:12] jfranklin9000 commented on #934
it's back

[2019-11-01 19:18] matildepark commented on #934
Good catch, refixed in https://github.com/urbit/urbit.org/commit/889d07970997aff937b58e16ac2b06ffdc4a159c

(I think the runes in these headers should be wrapped in backticks anyway, but this fixes it for now.)

[2019-11-03 23:16] khutchison opened #952 "Broken Link in docs/tutorials/hoon/_index.md"
The link to the style page takes you to https://urbit.org/docs/tutorials/style rather than https://urbit.org/docs/tutorials/hoon/style/

[2019-11-05 20:16] drbeefsupreme commented on #951
You were actually the one who asked to have it removed:

https://github.com/urbit/urbit.org/pull/245

[2019-11-05 20:18] matildepark commented on #951
Mea culpa.

[2019-11-05 20:22] drbeefsupreme commented on #951
Sorry, I could have said that a bit more productively. Should we add it back to this page and call it good? I know slimming the operations page is on somebody's to-do list, so it could be rolled into that.

[2019-11-05 20:35] matildepark commented on #951
I do think it belongs in “using your ship”, alongside maybe a link to that page at the end of install. Spreading information so that some is part of our installation page seems confusing to me rather than basic end-user operations on one page. I’m just surprised Filesystem on Using Your Ship doesn’t have it.

[2019-11-06 00:53] galenwp opened #953 "Personal breach instructions are a bit confusing"
To find the personal breach instructions, first I went to the operating manual. Turns out those instructions are there — good thing we have search. Perhaps we should somehow link to the 'guide to breaches' from the operator manual? Seems a little confusing to duplicate this information.

Anyway, once in the 'guide to breaches' I think things have fallen out of date with hosted bridge. Where do I g

[2019-11-07 18:23] philipcmonk commented on #953
Everyone always asks me about if the checkbox is correct, it'd be nice to fix it.  I'm told its name is "Trigger a new continuity era".

[2019-11-07 19:13] joemfb commented on #953
It seems like there should be two different paths through the UI, not just a checkbox. While the implementation difference is a single bit flag, the use-cases are dramatically different: key-rotation vs save-my-ship.

[2019-11-07 19:14] vvisigoth commented on #953
Yeah, this is what @galenwp and I discussed. Now that we have this ripcord,
would be good to have a "Save my ship" functionality. Even calling it
"individual breach" requires you to know what a normal breach is. With a
little luck, our children will never even hear the term.
—
~poldec-tonteg
http://urbit.org

On Thu, Nov 7, 2019 at 11:13 AM Joe Bryan <notifications@github.com> wrote:

[2019-11-07 20:29] philipcmonk commented on #953
Although everybody says "breach" when they're telling noobs to do it, so not having the word "breach" is most of the reason even people who notice the checkbox don't know if it's right to click it.

On Thu, Nov 07, 2019 at 11:14 AM, Anthony Arroyo < notifications@github.com > wrote:

[2019-11-07 20:41] drbeefsupreme commented on #948
I spoke to @joemfb about this to get an idea of how I might figure out what these runes do, and the task turns out to be more involved than what I have time to focus on this week allows for, so this will probably sit for awhile before I get to it.

[2019-11-07 21:13] vvisigoth commented on #953
OK, I've made a bridge issue to make this its own flow. In the
meantime, @rmariani can you make sure that the instructions are brough up
to date with current Bridge, including the new checkbox name as per this PR?

https://github.com/urbit/bridge/pull/339/files
—
~poldec-tonteg
http://urbit.org

On Thu, Nov 7, 2019 at 12:29 PM Philip Monk <notifications@github.com>
wrote:

[2019-11-07 21:13] rmariani commented on #953
Yup, playing around with Bridge now

[2019-11-08 21:08] Fang- opened #954 "Troubleshooting with |nuke instructions inaccurate"
Not if you just flip it! When another ship is nuked, you'll _skip_ its incoming packets. This means you fast-forward past it, updating your sequence number without actually processing the message. It's the "updating sequence number" part of this that can be a fix in some situations, but that doesn't happen until you receive a new packet from it. When it does, you will see a `%blocked` printf as pe

[2019-11-10 14:51] vvisigoth opened #956 "%drip failed"
I didn't have the OTA, so I tried to |merge from the star I merged from before.

First I ran |cancel and got a queue a size of 0, then I ran the merge. Attached screenshot of stack trace (on mobile).
![1E139B6D-8EDF-4DFB-AFE0-94C92334DD87](https://user-images.githubusercontent.com/1609955/68545924-8b8d0f80-0386-11ea-9fe8-4e31aa7ab269.jpeg)

[2019-11-10 14:59] vvisigoth commented on #956
Here's the bottom of the trace

Cc @philipcmonk %dripmaster

![A34F7B53-95A4-4004-90B2-B40028D0FFB6](https://user-images.githubusercontent.com/1609955/68546022-8da39e00-0387-11ea-83a7-44a8da071bbb.png)

[2019-11-10 22:33] philipcmonk commented on #956
That trace goes to this line:

[code]

Specifically the `,~` part.  I guess it's crashing because like 2 years ago they changed it so that `,~` crashes instead of coerces.  I'm nearly positive people have had meet conflicts since then, I wonder if it always just crashed and nobody thought to look.  Oh well, it's an easy enough fix.

On Sun, Nov 10, 2019 at 6:59 AM, Anthony Arroyo < notifications@g

[2019-11-15 14:52] Fang- opened #285 "Make headings clickable for #anchored URLs"
A lot of our docs pages are fairly long and have multiple sections. Often, I want to link someone to a specific part of the page. We support `/some/page#anchor` behavior for most of our headings, but having to append that manually (and sometimes, figuring out the right anchor text to use) it a bit burdensome. It would be great if we could click headers, or a 🖇  next to them, to navigate to its `#a

[2019-11-15 14:53] matildepark commented on #285
This is an easy addition but I’m curious about the best design for it.

Sent from my iPhone

[2019-11-15 14:58] Fang- commented on #285
I'd say making them invisibly clickable is fine. Expected behavior here (as per GH's implementation) is that there's a visual indicator on-hover, and just the clickable-cursor might suffice.

(But I'm not Design Team, which should probably still weigh in.)

[2019-11-15 15:14] drbeefsupreme commented on #951
This is now partially addressed in urbit/docs#723. tbh I had actually forgotten that we had a separate setup page for the Hoon tutorial.

So at this point I'd agree that the universal setup page does not need mounting instructions (whereas previously I believed it did), and it is good that urbit/docs#723 fixes this in a way that anyone going through the Hoon tutorial will encounter this instructio

[2019-11-15 15:20] Fang- commented on #951
Idk, this still feels like a common and necessary enough action that we should include it in general setup, maybe noting that it's primarily useful for user-developers who'll be ferrying files into (and out of) their ships.

[2019-11-15 15:42] drbeefsupreme commented on #951
I think there's good arguments for and against it.

On one hand, there's good sense in not telling people to do anything that isn't strictly necessary, and eventually users will install urbit and it will just work out of the box without having to do just one thing* manually. But right now, probably the vast majority of users will need to mount so it makes sense to have that info very readily acces

[2019-11-15 17:04] ohAitch commented on #951
On a technical level, having "no automount" be a vere flag, which if absent
causes it to send a "mount whatever is default" request to clay, is fairly
trivial.

on a UI level, the removal of automount and autocommit has certainly been a
longstanding gripe of mine, for basically these reasons. (autocommit at
least had some legitimate synchronization/revert issues)

On Fri, Nov 15, 2019 at 07:42, po

[2019-11-15 20:05] tacryt-socryp opened #287 "Urbit ID page is unclear on whether Urbit OS is implemented in Solidity"
![image](https://user-images.githubusercontent.com/1377557/68972239-2f6c2600-07a0-11ea-9380-dad4c630a66d.png)

https://twitter.com/GeorgeGoognin/status/1195429689785044992/photo/1

[2019-11-15 21:21] galenwp commented on #287
Simply adding a sentence that Urbit OS is not built on ETH nor is it a hard dependency / could be moved is totally fine with me.

[2019-11-15 21:31] tacryt-socryp commented on #287
Perhaps instead of "All of this", we just say "Urbit ID is implemented as a suite of Solidity contracts" etc

[2019-11-18 01:11] galenwp commented on #287
Also fine

[2019-11-18 12:14] Fang- opened #957 ""Azimuth documentation" link is 404"
The [Azimuth Glossary](https://github.com/urbit/docs/blob/master/reference/azimuth-glossary.md) page links to "Azimuth documentation", but it's a 404.

[2019-11-18 12:23] Fang- opened #293 ""Using" section too separate from docs?"
(I think this goes here instead of the docs repo.)

Maybe I'm blind, but it seems like the "using" section of the docs isn't actually reachable from the sidebar as displayed on [`/docs`](https://urbit.org/docs/)? Perhaps related, the root page is at [`/using`](https://urbit.org/using/) instead of the more-expected `/docs/using`.

Did we split "using" from "docs" intentionally? The "user docs" vs "

[2019-11-18 14:48] matildepark commented on #293
Using was split out intentionally, there was a long IA discussion about it. Essentially, yes, that we needed to start separating user-facing usage information from development stuff.

The Docs navigation used to link to the Developer’s Guide and Operations Manual as top level items! It was removed but I don’t know why. Perhaps it should be restored there. I would also consider strengthening the fl

[2019-11-18 19:48] rmariani commented on #293
Using/operations doc were split off because of our philosophy of urbit.org being for normal people to actually do something on Urbit, and docs being for developers.

I do think the flow can be improved, and I think that the docs navigations should link to this stuff. I am going to make a few changes this week.

[2019-11-18 19:53] matildepark commented on #293
Note that adding links to user-facing information doesn’t necessarily mean changing the Docs repo! We can just change the docs navigation template to add the Using and Operations links above the drawers.

—
~haddef-sigwen
http://urbit.org

[2019-11-19 19:34] rmariani opened #295 "Confirmation email when one signs up for Hoon School"
A lot of enrollees expect this, and are confused when they receive no such email. Could we automatically send one out when someone signs up?

[2019-11-20 04:02] belisarius222 opened #959 "conditionals tutorial nitpicking"
The example function in the [conditionals tutorial](https://urbit.org/docs/tutorials/hoon/conditionals/) is a little strange:
[code]

I'd write that as:
[code]

Differences:
- `?&` is n-ary, not binary, so nesting two of them is not idiomatic
- `lte` is more succinct than negated `gth`
- outer `?:` is superfluous
- I added a cast, since that's good practice for almost every gate

To make use of `?

[2019-11-22 20:21] drbeefsupreme opened #960 ";< undocumented"
This is the monadic bind rune.

Worth mentioning that it is utilized in the async-monad tutorial for Hoon school but not fully explained there.

[2019-11-24 05:06] thunderrabbit commented on #293
I see "Dojo is working correctly" at the bottom of https://urbit.org/using/install/ and then have to spend tens of minutes looking for how to merge a desk on a new ship.

I understand needing a distinction between users and developers..  So maybe at least could put links to the "next" things on https://urbit.org/using/  which are https://urbit.org/using/develop/  and https://urbit.org/using/operat

[2019-11-25 23:45] thunderrabbit commented on #959
I like this expanded version.  My only nitpick is the original checked for input up to 100, whereas your code checks up to 1000.   If using your code, be sure to change the text above it to say 1000.

[2019-11-26 06:31] philipcmonk opened #961 "DNS after the breach"
(I'm going to start mentioning things that will change with the new breach.  They should probably be done on a separate branch and merged once the breach is complete.  Everything can be tested on philip/mall-real.)

In "Using your ship", `:dns|request` will change `-dns-address +dns/request`.  It will still prompt you or take an optional argument.  Similary, `:dns|auto` will become `-dns-auto`.

[2019-11-26 06:35] philipcmonk opened #962 "Threads undocumented, 2.7 Gall is outdated"
(after the breach)

Tapps and the async monad are replaced by the concept of "threads", which are very similar but more coherent.  Here's some description of them: [thread.txt](https://github.com/urbit/docs/files/3890365/thread.txt)

Some things to change include the "async monad" walkthrough and the "using your ship" page, where it should be explained that you can run a thread with `-thread` simi

[2019-11-26 06:40] philipcmonk opened #963 "Static gall agents"
(after the breach)

Gall apps are changing in several ways, as described here: [agent.txt](https://github.com/urbit/docs/files/3890385/agent.txt).  We use the name "agent" to emphasize the specific type of a gall app, but informally "gall app" is fine.  The biggest changes are the move/card structure, removal of bones, and the ten `on-` arms are always required.  Additionally, we haven't used core

[2019-11-26 16:06] drbeefsupreme commented on #963
This is directly relevant to urbit/docs#734 , which I made last week since I was going through the Gall Hoon school material again anyways since I was trying to understand how the async monad worked in greater depth. I hadn't realized until yesterday that the new Gall was so close!

Given that, it might make sense to hold off on having that PR reviewed for the moment, since I should add caveats th

[2019-12-01 10:02] ronreg-ribdev opened #965 "Slightly confusing hoon documentation"
On https://urbit.org/docs/tutorials/hoon/conditionals/ , there is an example of a hoon program - the first example of a %say generator -  but no instructions about what to name it, how to actually run it in a dojo environment, and what output should be expected. Someone who's already gone through the previous tutorial pages can probably figure out that they need to name it `something.hoon`, and ru

[2019-12-01 20:40] sidful-pagred opened #964 "[guide-to-breaches.md] ragged wording"
https://github.com/urbit/docs/blob/master/tutorials/guide-to-breaches.md

[2019-12-05 00:54] galenwp opened #966 "Client: Enter should submit the form when joining a chat"
When joining a chat, the chat name is only one line. Enter should just submit the form.

<img width="488" alt="Screen Shot 2019-12-04 at 4 53 24 PM" src="https://user-images.githubusercontent.com/1467211/70194251-a0736f00-16b6-11ea-9a69-1318bdc50230.png">

[2019-12-05 00:54] galenwp commented on #966
Also, the 'Join Chat' button should use `cursor:pointer`

[2019-12-05 01:58] matildepark commented on #966
Why is this in docs?

It looks like your browser’s line-height presents wonkier than expected, too. Please submit this to Asana, thank you.

—
~haddef-sigwen
http://urbit.org

[2019-12-05 02:27] matildepark commented on #295
This is probably something we can do in Airtable directly.

[2019-12-05 02:28] matildepark opened #967 "!< rune"
Should be added to runes.js on urbit.org repo, too.

[2019-12-05 16:14] drbeefsupreme commented on #965
So this page is out of date, this should be https://github.com/urbit/docs/pull/728/commits/b837b4549a8503db51185769dc76e38175058f27 I'm not sure why it hasn't been pushed to the site yet.

I've thought about this for a few days, but I have to disagree. Anybody should expect that if they jump ahead in numbered lessons there are going to be things that they missed that are being referenced. While we

[2019-12-05 16:15] drbeefsupreme commented on #965
Oops, I meant to link urbit/docs#728

[2019-12-06 19:15] matildepark commented on #295
This is apparently something we can't do in Airtable directly, thanks Airtable.

Right now the form will say "Thanks for applying to Hoon School." when it's completed. We can:

- redirect the user to a URL (we write a page to confirm and if we want a more "serious" feeling confirmation with instructions on when we'll reply)
- change the copy
- get an email to the Airtable account's email when peop

[2019-12-06 19:22] bioy-casares opened #968 "Additional doc section for Install"
https://urbit.org/using/install/

There should be a section at the very bottom which describes how people can access Landscape through the browser.

Elements:
-Title could be 'Accessing Landscape' or 'Accessing the Desktop'
-Direction to look up the Localhost port number and enter it into browser
-Running +code in the dojo to get the authentication key

[2019-12-06 19:48] joemfb opened #969 "|nuke has been removed"
final remnants in urbit/urbit#2051

/cc @belisarius222

[2019-12-12 01:28] #293 closed, assigned to nobody

[2019-12-17 20:03] belisarius222 opened #970 "vanes list missing iris and jael"
https://urbit.org/docs/glossary/vane/

[2019-12-17 22:31] drbeefsupreme commented on #965
As there have been no further comments, I'm closing this, but feel free to re-open it if you disagree with my reasoning above.

[2019-12-17 22:52] rmariani commented on #941
https://urbit.org/blog/why-hoon/

[2019-12-17 23:17] rmariani commented on #951
https://github.com/urbit/urbit.org/pull/328

[2019-12-18 20:04] rmariani commented on #954
`|nuke` is gone

https://github.com/urbit/docs/issues/751

[2019-12-18 20:39] rmariani commented on #969
Has anything replaced it?

[2019-12-18 20:43] belisarius222 commented on #969
No.  Ames is supposed to actually work now.  We do have diagnostics to run in case of issues (e.g. +timers and |ames-verb %snd %rcv %msg %odd %rot), but there are no longer scripts that attempt Herculean feats of resynchronization.

—
~rovnys-ricfer
https://urbit.org

On Wed, Dec 18, 2019 at 3:39 PM, rmariani < notifications@github.com > wrote:

[2019-12-18 21:26] drbeefsupreme opened #971 "life and breach number"
As far as I know we don't explicitly define what these are anywhere. I think it might go well at https://urbit.org/docs/tutorials/concepts/azimuth/ and referred to from the Jael glossary entry.

[2019-12-18 21:33] Fang- commented on #971
Note that "life" and "rift" terminology is from jael/ames. They refer to Azimuth's "key revision number" and "continuity number" respectively. Putting the former two under Azimuth seems perhaps a little bit off, but I don't feel super strongly either.

[2019-12-22 22:24] bencalder opened #972 "URL to Technical Overview 404's"
`https://urbit.org/understanding-urbit/technical-overview`

This has been linked to frequently, so if the URL scheme has changed we should at least have a redirect.

[2019-12-22 22:27] bencalder commented on #972
Just realized there's a separate repo for `urbit.org`. Let me know if this issue would be better created there.

[2019-12-22 22:46] matildepark commented on #972
It’s an urbit.org thing, unless we’re using a docs page as the page we refer to. I can set up an alias, just gotta think real quick on what would be the best surrogate ...

Sent from my iPhone

[2019-12-23 05:49] matildepark commented on #972
Added an alias to our current closest Technical Overview page in a54ed69a4c39a1318b1a87363886e36c0f321d28.

[2019-12-23 06:02] bencalder commented on #972
Did the original Technical Overview page get wiped out entirely?

It was part of the `urbit.org` main intro flow and is also linked from the site’s footer.

On Sun, Dec 22, 2019 at 23:49, matildepark <notifications@github.com> wrote:

[2019-12-23 06:04] matildepark commented on #972
You’re right on the footer — we should amend the footer for current UU flow. We basically redid the entire intro flow last week. I suppose we more or less front-load “what Urbit is” now.

—
~haddef-sigwen
http://urbit.org

[2019-12-23 06:05] bencalder commented on #972
Ah got it. Thanks! 👍🏻

On Mon, Dec 23, 2019 at 00:04, matildepark <notifications@github.com> wrote:

[2020-01-06 13:38] matildepark commented on #287
As of ~2019.12:

[2020-01-06 13:38] #287 closed, assigned to nobody

[2020-01-06 13:39] matildepark commented on #237
Is this still the case @Fang-? I think I fixed this in #302.

[2020-01-06 13:39] matildepark commented on #233
I also think this one might be resolved, @Fang-, but need confirmation.

[2020-01-06 13:40] matildepark commented on #228
Fixed in #317.

[2020-01-06 13:40] #228 closed, assigned to nobody

[2020-01-06 13:41] matildepark commented on #150
This was worked around by making a rune glossary that does in fact take you to the exact header; though technically this issue still persists.

[2020-01-06 18:29] Fang- commented on #237
Can confirm this looks clean. (:

[2020-01-06 18:29] #237 closed, assigned to nobody

[2020-01-06 18:29] Fang- commented on #233
Confirmed for looking slick.

[2020-01-06 18:29] #233 closed, assigned to nobody

[2020-01-06 23:41] #269 closed, assigned to matildepark

[2020-01-08 21:37] philipcmonk opened #973 "Acme is undocumented"
We mention acme in "using your ship", but for it to work, you need to run a specific command.  @vvisigoth, you remember that command I think?  Also should mention that to get your https cert, you need to be bound to port 80.

[2020-01-09 15:40] vvisigoth commented on #973
Yeah, it’s :acme &path /com/example

On Wed, Jan 8, 2020 at 1:37 PM Philip Monk <notifications@github.com> wrote:

--
—
~poldec-tonteg
http://urbit.org

[2020-01-16 19:37] KarelPeeters123 opened #974 "typos in "the-subject-and-its-legs""
I don't know if it's appropriate to make an issue for something so minor but here goes.
In the tutorials on https://urbit.org/docs/tutorials/hoon/the-subject-and-its-legs/ There is a typo in exercise 1.6a (2). It reads `use a lark expression to obtain the value 9 in the following noun: [[5 6] 7 [[8 9 10] 3] 2] 1]` The list provided is not a valid list as it misses 1 opening bracket at the start (o

[2020-01-16 19:56] drbeefsupreme commented on #974
Definitely not too minor. Exercises should be perfect. I think this is the 3rd issue/PR now related to these exercises? I know that I've fixed this before but it must have gotten undone with some git mistake. I'll look at this next week along with double checking all the other exercises like this.

[2020-01-27 21:19] matildepark opened #975 "2.5.2 has wrong weight"
![image](https://user-images.githubusercontent.com/20846414/73214727-c0f10000-4120-11ea-8bb5-3b5026d26c16.png)

[2020-01-27 23:02] rmariani commented on #975
https://github.com/urbit/docs/pull/786

[2020-01-28 17:26] matildepark opened #343 "Urbit.org / Docs: Ambiguous separation of concerns"
Right now the Documentation for the website lives on its own repository, [urbit/docs](https://github.com/urbit/docs). However, the Operator's Manual and Developer's Guide live on Urbit.org. Both are under the purview of the Documentation team. This is a poor separation of concerns for documentation.

Additionally, Docs changes require that I update the submodule here on urbit.org whenever it chang

[2020-01-28 22:16] kennyrowe commented on #343
It seems reasonable to me. Under this proposal would any links to existing content change? Or is that an implementation detail outside the scope of this issue?

[2020-01-28 22:21] matildepark commented on #343
I guess the broader questions are a) whether we should just abolish the user/developer documentation distinction and fold it back into urbit.org/docs or not

b) If not, how to enforce a separation of concerns for any contributors

Since it's confusing everyone to have it laid out like this; and it's inefficient to deploy.

[2020-01-31 00:26] rmariani commented on #969
https://github.com/urbit/docs/pull/790

[2020-02-03 20:44] belisarius222 opened #976 "hoon docs intro page broken link"
From this page: https://urbit.org/docs/tutorials/hoon/

![image](https://user-images.githubusercontent.com/874741/73689267-dbd0f080-469b-11ea-8def-e83485619a75.png)

[2020-02-05 06:01] jdkaplan opened #977 "404 for aura glossary page"
I get a 404 when I try to go to https://urbit.org/docs/glossary/aura because [Atom](https://urbit.org/docs/glossary/atom/) links to it.

[2020-02-05 06:30] urcades commented on #128
@matildepark curious if we should close this one out, or if we've afforded for its original concerns re: the site restructure?

[2020-02-05 06:31] urcades commented on #70
@matildepark I feel like we can close this one...

[2020-02-05 06:47] matildepark commented on #128
We have Twitter card metatags, but not any valid OpenGraph. Ideally this issue would be replacing a lot of the Twitter-specific stuff with [the appropriate OpenGraph equivalent](https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/markup).

[2020-02-05 06:47] matildepark commented on #70
This issue is still at large, actually. See all the names [here](https://urbit.org/updates/2018-7-20-update/).

[2020-02-06 05:20] matildepark commented on #971
Someone in u-h mentioned this just now — no definition of "rift" anywhere on urbit.org, period.

[2020-02-07 01:59] matildepark opened #978 "glossary: arvo.network and galaxies"
AFAIK, galaxies use `zod.urbit.org`, and the `arvo.network` DNS is for everything *but* galaxies.

[2020-02-10 07:38] joemfb commented on #978
Urbit.org is for discovering galaxies in the ames protocol. Arvo.network is general purpose, and can currently be requested for any galaxy/star/planet.

[2020-02-10 16:23] matildepark commented on #978
TIL. Might still warrant removing "primarily galaxies" I suppose, in practice it's general.

[2020-02-10 18:58] tacryt-socryp opened #356 "Landing page has too many links and doesn’t funnel a large enough % of traffic onto the blog"
Anyone want to discuss ways to improve this experience?

[2020-02-10 18:59] matildepark commented on #356
I've suggested this in several analytics reports recently. I will provide suggestions anon.

[2020-02-10 19:02] tacryt-socryp commented on #356
Thanks Matilde. I wanted to log this because it’s implicitly been an issue.

[2020-02-10 20:07] matildepark commented on #356
OK.

1. We need to surface latest update and latest blog post on the homepage. Early drafts of the new urbit.org had these.
a. By surfacing them this way, we don't necessarily need to have them *again* on the landing page; they exist in the footer as such. So optionally, remove the "Learn more" section entirely from the landing page and make "stay up to date" a full-width section at the end again.

[2020-02-10 20:59] galenwp commented on #356
I'd be perfectly happy to see the most recent post on the homepage

On Mon, Feb 10, 2020 at 3:07 PM matildepark <notifications@github.com>
wrote:

[2020-02-10 22:03] tacryt-socryp commented on #356
Matilde, I love all three of your suggestions.

[2020-02-12 23:26] Fang- opened #360 "Ops page doesn't mention hardware requirements"
When I say "hardware requirements" I'm talking mostly about disk space, since that's the most non-obvious thing we can most concretely talk about (aside from "non-ancient cpu" and "2gb of actual ram would be nice").

Of course required disk space varies depending on how much traffic the ship is going to be dealing with over its lifetime, and the requirements here will become much softer once we ca

[2020-02-14 18:42] Fang- commented on #962
More broadly, the 2.7 Gall section of the docs hasn't been updated for static gall (within which the async monad -> spider transition happened iirc) at all, rendering all the current teachings and examples unusable.

[2020-02-15 22:43] belisarius222 opened #979 "mold docs are all mold-builders"
https://urbit.org/docs/tutorials/hoon/molds/

There are no examples of simple molds, which I think could be very confusing, since mold builders are a more complex concept and often we use direct molds.

Instead, we should have some examples of direct molds.
[code]
A mold is compiled to a gate that takes in any noun and produces a typed value, or crashes:
[code]
[code]

To coerce using a gate, it's

[2020-02-18 23:11] drbeefsupreme opened #980 "constitution vote glossary link broken"
https://urbit.org/docs/glossary/voting/ links to a "Constitution vote" but this page does not exist. We should either make one or remove the link.

[2020-02-19 04:49] #356 closed, assigned to nobody

[2020-02-24 21:30] drbeefsupreme commented on #971
I think I made a mistake with that PR - I wrote that _rift_ referred to the _network_'s continuity number, but I decided to check on some random ship's rift number from dojo with `.^(* %j /=rift=/(scot %p <ship>))` and noticed e.g. that `~dopzod`s rift is zero, so I must be wrong. I don't know where I obtained the wrong impression.

I need to have a quick conversation with someone to clarify this

[2020-02-25 15:42] drbeefsupreme opened #982 "undocumented rune: |$"
From hoon.hoon

[code]

It's not in any of our documentation.

[2020-02-26 21:26] litpub opened #983 "%get generator documentation is stale"
See: https://github.com/urbit/urbit/issues/2348

The documentation for %get generators is stale because they no longer exist: https://urbit.org/docs/tutorials/hoon/generators/

Per Joe:

[2020-02-27 20:35] rmariani commented on #971
Fixed in https://github.com/urbit/docs/pull/812

[2020-03-04 22:51] joemfb commented on #935
I just checked the docs to help someone get DNS setup, and I see that the old terminology is back.

[2020-03-12 19:10] sigilante opened #373 "Update search engine to handle special characters."
Urbit uses a lot of special characters, but the current search tool for the site ignores many of them.

For instance, if I search "@c", I receive pages on C runtime along with pages on the codepoint patp.

Since not all uses of runes like ";<" are co-incident with their verbal form "micgal", it is similarly hard to locate particular pages showing examples of use.

[2020-03-12 19:14] matildepark commented on #373
Dependent on elasaticlunr used in Zola to be configurable, basically ... we bandaid fix'd this in part by appending a secondary glossary to "search in" (it only finds exact matches) but it can't encompass the entire search index.

See also the conversation in #148.

[2020-03-14 17:09] matildepark opened #984 "Unmanaged chat documentation"
- Chats that exist outside of groups (internally we call that "unmanaged") now have prefixed `~/`, eg. `~/~dopzod/urbit-help`, not `~dopzod/urbit-help` — essentially you should consider them DMs or something, because their members list isn't managed within the group's list of ships, they're added and removed ad hoc
- This doesn't apply to Notebooks, which retain the usual notation for everything:

[2020-03-15 00:42] galenwp commented on #984
Wait, this strikes me as really confusing — wouldn't it make more sense to just use the same syntax across the board? I.e. make notebooks do the same thing?

[2020-03-15 00:44] matildepark commented on #984
Idk do you have a concept of a “Notebook DM”? I didn’t make this call though, @loganallenc did, so lessee.

—
~haddef-sigwen
https://urbit.org

[2020-03-15 00:46] galenwp commented on #984
Oh, wait, so we have actual DMs now? Like, `/~ravmel-ropdyl` would just be a DM with me?

[2020-03-15 00:47] matildepark commented on #984
See OP. Unmanaged means it’s ad hoc. In the same way that you’d make an “ad hoc” chat in Discord by adding a bunch of people one by one. It isn’t managed by an overarching group. A group delegates this management of who is and isn’t in the chat to the group’s set of peers.

Therefore, unmanaged groups are *basically* DMs. IMO. I don’t remember if we ever really talked about it.

—
~haddef-sigwen
h

[2020-03-15 00:51] galenwp commented on #984
But once a notebook is in a group, isn't who is allowed to post constrained by the group?

[2020-03-15 00:52] matildepark commented on #984
@ixv ?
—
~haddef-sigwen
https://urbit.org

[2020-03-15 17:31] tacryt-socryp commented on #984
Publish, Chat, and Links all share this concept of managed vs unmanaged group, and all *should* use the same path convention. I don’t know if the other two apps do in practice.

[2020-03-15 17:33] matildepark commented on #984
Links doesn’t have a join flow besides from Groups, and Notebooks doesn’t. Something to do this week I guess.

[2020-03-15 17:34] Fang- commented on #984
~~Required resource path conventions~~ Metadata in resource paths like this can and should be kill, on both front- and backend. We can work towards that over the course of Q2.

[2020-03-16 17:38] ghost opened #985 "Consistent styling of unordered and ordered lists …"
Having read through the docs, I wondered if ordered lists should use the same styling as unordered lists, i.e. “indentation” via margin and/or padding on the left side.

Seems the only occasion of `<ol>` and `;ol;` in the docs is in [Sail and Udon](https://urbit.org/docs/tutorials/sail-and-udon/) (or [sail-and-udon.md](https://github.com/urbit/docs/blob/master/tutorials/sail-and-udon.md) respectiv

[2020-03-17 13:34] ghost commented on #985
Seems the [Hoon tutorial](https://urbit.org/docs/tutorials/hoon/) is also making use of ordered lists (in markdown) at some points. Above issue is also relevant in e.g. [Exercise 1.2d](https://urbit.org/docs/tutorials/hoon/nouns/#1-2d) …

Compare the “indentation” of both ordered list points with the sentence between the two code blocks:

<img width="597" alt="Screenshot 2020-03-17 at 14 31 40" sr

[2020-03-18 12:25] Fang- opened #986 "Installation/setup instructions don't mention subsequent (re)boot commands"
Hear questions/problems relating to this every once in a while. [The "booting your ship" instructions](https://urbit.org/using/install/#booting-your-ship) describe the initial boot command, but don't tell you to always boot with `./urbit sampel-palnet` afterwards. In fact, a quick search doesn't find that behavior mentioned in the docs at all.

In the worst case, this leads to people booting multi

[2020-03-20 17:00] ghost opened #987 "[Question] Tutorials / Hoon / 1.5 Lists — `list` and `lest` seem to be used contradictory?"
I’m not sure if this is an issue or I simply don’t get it, but while reading through and make some corrections to [Chapter 1.5 Lists](https://urbit.org/docs/tutorials/hoon/lists/) of the Hoon tutorial, there’s some contradictions, in my humble opinion, highlighted in **bold** below.

[code]

[…]

Sorry if I missed something here, but this `list` vs. `lest` explanation feels contradictory.

[2020-03-30 11:18] Fang- opened #988 "Landscape tile example code uses old gall"
[This](https://urbit.org/docs/tutorials/hoon/landscape-tile/) page tells you to create an `urbit/app/testing.hoon` file containing code for an app that still uses the old gall model. This won't work on modern ships!

[2020-04-03 17:35] drbeefsupreme opened #989 "!, undocumented"
This is absent from the page on zap runes.

Some information from the infrastructure channel, courtesy of @belisarius222

[code]

[2020-04-03 19:45] ohAitch commented on #989
If we're making this more official, should we have a biblical for ++hoon?
It's already exposed in the type type

On Fri, Apr 3, 2020 at 10:35, poprox <notifications@github.com> wrote:

[2020-04-05 00:02] njarboe opened #990 "Linux 64-bit binary out of date"
I was trying to boot up my urbit on a 18.04 ubuntu server. but the link binary that gets downloaded is version 0.6.0. The -k and -G options are not the same.

From the docs (https://urbit.org/using/install/).
![Screen Shot 2020-04-04 at 4 54 21 PM](https://user-images.githubusercontent.com/1278789/78463769-a34a9480-7695-11ea-8255-36c9c399db91.png)

After down loading to my server and unzipping:
:~

[2020-04-05 00:02] njarboe commented on #990
The mac binary is working and I am booting my urbit now.

[2020-04-05 00:25] jfranklin9000 commented on #990
You probably wanted `./urbit` instead of `urbit` because you have an old urbit binary in your path.
Try `which urbit` to see where that old binary is.

[2020-04-05 03:48] njarboe commented on #990
That was it. Thanks.

[2020-04-08 18:58] drbeefsupreme opened #991 "document running under WSL2"
I've seen reports on Landscape of people successfully running urbit on Windows 10 using Windows Subsystem for Linux with Ubuntu without any apparent hiccups. We should add how to do this to our documentation with the caveat that we do not officially support the method.

[2020-04-08 20:18] jfranklin9000 commented on #991
WSL or WSL2?

[2020-04-08 21:15] drbeefsupreme commented on #991
WSL2, thanks, I've fixed the title.

`~lavlyn-litmeg` is one of the people who have gotten it working and has volunteered to write up the process sometime this week.

[2020-04-09 13:00] lukebuehler commented on #991
~lavlyn-litmeg, here. I'm working on this right now.

[2020-04-09 13:29] Fang- commented on #962
Gentle ping for this to be picked up soon. People keep hitting this, and these are important "getting started with urbit dev" docs.

[2020-04-09 14:26] lukebuehler commented on #991
Since it is not clear where to add this, I'll post this here for now. Should this be part of the main site installation instructions here: https://github.com/urbit/urbit.org/blob/master/content/using/install.md? Or should it be part of this repo? If so, where?

Please give feedback, and then I'll create a pull request.

**Windows**
Urbit does not run on Windows itself, but there is a convenient wa

[2020-04-09 15:53] drbeefsupreme commented on #991
That looks good to me @lukebuehler. There are just two things I think should change. I would add in a blurb that this method is not officially supported right now and so we cannot guarantee that it will work as well as native methods or that it will continue working. As far as I know, we haven't had anybody work on WSL compatibility so the fact that it is working now is just getting lucky. Secondl

[2020-04-09 15:58] drbeefsupreme commented on #991
Whoops, and also, yes, install.md under the urbit.org repo is the right spot to put this.

[2020-04-09 16:04] lukebuehler commented on #991
Got it. I'll add that qualification.  Just for clarification: since WSL 2 is a full featured virtualized Linux, which is almost indistinguishable from, say, running Linux in VBox or VMWare, this will probably work in the long term. It's not just and accident that it works now, but it works because the  strategy that Microsoft has chosen with WSL is now this virtualization thing. However, I underst

[2020-04-09 16:13] drbeefsupreme commented on #991
Thanks, I've only spent a couple of hours learning about WSL so I have no idea how it works under the hood. We can just say its not an officially supported method then, and leave out the part about it potentially breaking in the future if that seems unlikely.

[2020-04-09 17:11] lukebuehler opened #992 "document how to best run Urbit as a daemon"
It would be good to have an official recommendation how to run Urbit as a daemon/service in Linux, especially when it's hosted on a cloud instance. I have asked several times what people do, and, so far, what I've heard is that people are using `screen`. This is what I've been using now, but I'm not sure if it's the best way.

Could someone from Tlon document how they run their galaxies and stars?

[2020-04-09 17:46] lukebuehler commented on #991
There we go: https://github.com/urbit/urbit.org/pull/398

[2020-04-14 20:51] drbeefsupreme commented on #948
I'm finally getting back around to this. I refreshed my list of all the buc runes in hoon.hoon that are currently undocumented:

`$&`, `$|`, `$$`, `$.`, `$+`, `$/`, `$;`, `` $` ``, and `$!`. I was planning on grepping around to see how much they're used to decide priority, but if anyone has comments on which of these would be more useful to do first please speak up. I was planning on handling `$&`

[2020-04-15 20:00] joemfb commented on #948
Several of those are only partially implemented in the `$spec` engine, or not even exposed in the parser. I'd say it's fine to leave them undocumented if we're not using them anywhere.

[2020-04-16 02:41] gusmacaulay commented on #962
is there a "workaround" for this? some other example to look at perhaps?

[2020-04-16 02:48] jfranklin9000 commented on #962
Try this for newer gall docs: https://urbit.org/docs/tutorials/arvo/gall/

[2020-04-16 21:28] drbeefsupreme opened #993 "Hoon tutorial 2.5: type polymorphism examples no longer use +*"
In `docs/tutorials/hoon/type-polymorphism.md`, under "Parametric Polymorphism and +* Arms", `set`, `tree`, and `list` are given as examples of arms defined with `+*`. However, they've recently been rewritten to utilize the `|$` rune instead to implement polymorphism. Besides documenting the `|$` rune (a current item on my to-do list), this section needs to be rewritten somehow to reflect these cha

[2020-04-17 14:11] krendil opened #994 "++spin documentation is misleading"
In the documentation for `++spin` (in 2b: List Logic), it says

and

But the order of the arguments is incorrect.   In the source definition, the second argument `b` is the state and can be any noun, and the third argument `c` is the gate.  The examples are also incorrect and give `%nest-fail`s if you try and run them.

[2020-04-18 18:48] flowerornament commented on #992
Came here to write this. I think it could be very helpful to mention both `screen` and `tmux` (I use the latter) on the installation page, and I've never seen someone run `urbit` as a service—I suspect it makes debugging cumbersome—but would be cool to have documented if it's a good idea.

[2020-04-18 21:00] jfranklin9000 commented on #992
If you mention `screen` and `tmux` you might also want to mention `dtach`.  It runs a program in an environment that is protected from the controlling terminal, which is what we use `screen` or `tmux` for.  It also lets your native terminal client, _e.g._ `iTerm2`, handle scrollback.

http://dtach.sourceforge.net/

I've recently been using it (ht to someone in the Urbit Discord) and it does what I

[2020-04-18 21:02] ohAitch commented on #992
Console handles scrollback = while detached all scrollback is lost?

On Sat, Apr 18, 2020 at 14:00, jfranklin9000 <notifications@github.com>
wrote:

[2020-04-18 21:07] jfranklin9000 commented on #992
Hmm, not sure.  I'll try an experiment later today, but that could be a problem.

[2020-04-18 22:58] jfranklin9000 commented on #992
I tested by `|hi`ing from another ship while detached and, alas, the scrollback is lost, so you can disregard my suggestion.

[2020-04-19 06:33] drbeefsupreme commented on #992
I'm going to be working on setting this up this week for my own planet, so I'll write it up as I go.

[2020-04-20 16:33] drbeefsupreme commented on #962
See also https://urbit.org/docs/reference/vane-apis/gall/

[2020-04-20 21:23] baudtack opened #405 "Latest OTA hash in footer of website"
If the footer of the website had the hash of the latest OTA that would be neat.

[2020-04-21 15:09] drbeefsupreme commented on #950
I'm getting started on this.

[2020-04-21 15:57] drbeefsupreme opened #995 "document home desk file structure"
As far as I know, we don't have any comprehensive document outlining what all the different folders in the home desk are supposed to be used for. It would be nice to have.

[2020-04-21 15:57] drbeefsupreme opened #996 "document home desk file structure"
As far as I know, we don't have any comprehensive document outlining what all the different folders in the home desk are supposed to be used for. It would be nice to have.

[2020-04-21 16:00] drbeefsupreme commented on #995
Github was giving errors so this showed up twice

[2020-04-21 16:03] galenwp commented on #996
Yeah, this would be great.

[2020-04-21 16:09] drbeefsupreme opened #997 "document home desk file structure"
As far as I know, we don't have any comprehensive document outlining what all the different folders in the home desk are supposed to be used for. It would be nice to have.

[2020-04-21 18:51] rmariani commented on #962
bandaid so readers aren't mislead: https://github.com/urbit/docs/blob/rmariani-patch-6/tutorials/hoon/gall.md

[2020-04-21 21:26] drbeefsupreme opened #406 "Urbit on ARM"
`~botter-nidrul` has made some nice [tutorials](https://botter-nidnul.github.io/) on getting Urbit set up on the Raspberry Pi and Android. It would be great to incorporate this content into our docs. I almost submitted a PR adding a link to this under `content/using/develop.md#community-tutorials`, but that page is aimed at developers and this is something that any Urbit user may be interested in.

[2020-04-21 21:28] matildepark commented on #406
I think community tutorials is definitely the place. It’s offroad modding. I think it’s still @rmariani purview though.

—
~haddef-sigwen
https://urbit.org

[2020-04-22 22:21] Fang- opened #999 "+* lustar still documented as "type constructor""
[The docs for `+*`](https://urbit.org/docs/reference/hoon-expressions/rune/lus/#lustar) still describe it as "a type constructor arm". This hasn't been the case for a while. Instead, it's now used as (somewhat controversial) in-core alias syntax for `|_` doors.

Type constructors themselves are these days implemented as `++  arms` with `|$` under them. (That, too, is undocumented as per urbit/urbi

[2020-04-23 14:46] drbeefsupreme commented on #999
Thanks, I've added this to my notes. Did the code for what `+*` does change or just what its suggested use is?

[2020-04-23 16:00] Fang- commented on #999
We just stopped using/supporting it for "type constructor arm", and started using it in the "indoor alias" context instead.

For additional background, see also, urbit/arvo#365, https://github.com/urbit/urbit/pull/1654#issuecomment-524133686, urbit/urbit#2186

[2020-04-23 18:52] drbeefsupreme commented on #999
Alright, I thought this would be a quick fix, and these links have been very helpful since I've been pretty puzzled for the past week by mysterious additional runeless lines beneath `+*` since I still thought `+*` was 2-fixed, but I definitely need to talk to someone before I feel comfortable making the changes. We can talk about it in our meeting tomorrow @Fang-

[2020-04-29 21:16] vvisigoth opened #1001 "DRaft issue"
Some body

[2020-04-29 21:32] drbeefsupreme opened #1002 "test"
asdf

[2020-04-29 22:23] Fang- commented on #1001
once told me

[2020-05-04 02:17] tacryt-socryp opened #1003 "S3 integration: documentation and usage guide"
S3 integration for Urbit has now been merged into master. Let’s get some documentation for this, happy to help out!

https://github.com/urbit/urbit/pull/2800

[2020-05-05 00:01] Fang- opened #1004 "No introductory parsing docs"
Hoon's stdlib comes with a pretty powerful set of parsers, parser combinators etc. But we don't really explain them anywhere.

I wrote [this](https://github.com/urbit/fora-posts/blob/master/archive/posts/%7E2016.12.21..21.54.21..cfd1%7E.md) a couple years ago, and it's still almost completely up to date. Thought that got merged in at some point, but I can't find it anywhere...

Use as you wish.

[2020-05-05 00:40] rmariani commented on #1004
This has been a backburner-level priority for a while. Gonna revisit it this week

[2020-05-05 10:29] jfranklin9000 opened #1005 "gall tutorial out of date (Vases and cages section)"
https://urbit.org/docs/tutorials/arvo/gall/

It says:
[code]
but now gives:
[code]
It also says:
[code]
but now gives:
[code]

And so the skeleton example implementation of `++on-load` is wrong because it assumes `!<` still produces a unit.

[2020-05-06 04:28] matildepark commented on #1003
I wrote a guide on getting it set up [on urbit-dev](https://groups.google.com/a/urbit.org/d/msg/dev/JUE12GFg2C8/gMLKsweKCAAJ). Seems like good fodder for the knowledge base on the urbit/urbit GitHub, though I'm unsure what the status of that project is.

[2020-05-11 01:00] ohAitch opened #1006 "=> ligature in rune reference"
Looks like something fancy about the [header](https://urbit.org/docs/reference/hoon-expressions/rune/tis/#tisgar) font: ![urbit org_docs_reference_hoon-expressions_rune_tis_](https://user-images.githubusercontent.com/1857414/81515263-0c05dc00-92e8-11ea-927e-00435a3a135d.png)
![Screenshot 2020-05-10 18 04 04](https://user-images.githubusercontent.com/1857414/81515396-b2ea7800-92e8-11ea-9c02-288a670

[2020-05-11 01:49] jfranklin9000 commented on #1006
It's back.  Again.  https://github.com/urbit/docs/issues/611

[2020-05-11 15:55] matildepark commented on #1006
In Brave:

![image](https://user-images.githubusercontent.com/20846414/81582571-32765680-937e-11ea-973a-225836197fb3.png)

It looks like Firefox and Chromium browsers respect `font-feature-settings` but Safari doesn't, here. What browser are you using?

[2020-05-11 15:56] matildepark commented on #1006
(Honestly I think we should be using monospace fonts for these runes anyway. @syzygyzer Thoughts? Would you guys be willing to wrap the runes in `code` backticks?)

[2020-05-11 16:37] drbeefsupreme commented on #1006
I had commented before I made the PR but my internet went out so I guess it was swallowed. Yeah that's how it should have been all along @matildepark so I went ahead and did it.

[2020-05-11 19:31] jfranklin9000 commented on #1006
None of the browsers work for me.

macOS 10.14.6

Firefox 75.0
<img width="801" alt="tisgar-firefox" src="https://user-images.githubusercontent.com/15039850/81603276-b0912800-9393-11ea-9b4f-21278340eb62.png">

Chrome 81.0.4044.138
<img width="845" alt="tisgar-chrome" src="https://user-images.githubusercontent.com/15039850/81603359-d3bbd780-9393-11ea-8d43-8762b397f4a5.png">

Safari 12.1.2
<img widt

[2020-05-11 19:33] matildepark commented on #1006
Oh, I think I know what's going on here — same as https://github.com/urbit/urbit.org/pull/404

I'll look into this

[2020-05-11 19:34] ohAitch commented on #1006
MDN [recommends](https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings) against `font-feature-settings`:

[2020-05-11 19:38] matildepark commented on #1006
Oh wait why should I look into this — urbit/docs#876 fixes this issue

[2020-05-19 20:04] rmariani commented on #983
https://github.com/urbit/docs/pull/879

[2020-05-20 18:03] tacryt-socryp commented on #1003
Ping.

[2020-05-20 18:31] drbeefsupreme commented on #1003
I've thrown Matilde's writeup into the knowledge base unedited. We're still
working out exactly what our process is for information to end up there, so
suggesting stuff like this directly is as good as anything right now.

https://github.com/urbit/support/wiki/How-to-set-up-S3-integration
--

—

~tidrel-tabpub

https://urbit.org

On Wed, May 20, 2020 at 2:03 PM Logan <notifications@github.com> wro

[2020-05-25 23:22] liam-fitzgerald opened #1008 "censig is incorrectly documented as having running syntax"
The documentation [here](https://urbit.org/docs/reference/hoon-expressions/rune/cen/#censig) incorrectly implies that tall-form `%~` needs to be terminated with tistis. Tall and wide forms of censig are 3-fixed, it's only the irregular `~(arm door sample)` syntax that is variadic in it's arguments.

[2020-05-28 19:28] drbeefsupreme commented on #948
So this seems mostly handled by these PR's:

https://github.com/urbit/docs/pull/809 - bucgar and bucgal
https://github.com/urbit/docs/pull/884 - bucbar

And I'm mostly finished with bucpam `$&` but I'm having some trouble with the example code. In dojo:

[code]
According to the docs on `?-`, a `mint-lost` error here means that not all cases are covered. But they are? What am I doing wrong? @Fang-

[2020-05-28 19:32] ohAitch commented on #948
Note that =old and =new are values not types, so when you call them as
types (gates) you effectively get just @ from [0 @] and ^ from [1 ^], or in
$% effectively "noun"

On Thu, May 28, 2020 at 12:28, poprox <notifications@github.com> wrote:

[2020-05-28 19:34] ohAitch commented on #948
I forget if we have an official rune for "I want to be in type syntax now", I think I'd use `=old ?([%0 @])` `=new ?([%1 ^])`

[2020-05-28 20:33] rmariani commented on #986
https://github.com/urbit/urbit.org/pull/433

[2020-05-28 21:59] Fang- commented on #948
You can toggle parsing mode with `,`. idk what rune that's shorthand for, can't find it with a quick look around hoon.hoon.

[2020-05-28 22:03] ohAitch commented on #948
Presumably $, for at least one of those directions…

[2020-06-08 20:53] Byte1122 opened #438 "tar xzf urbit-vXXX.tgz results in zip:` stdin: not in gzip format"
If you run linux (Ubuntu) and you following this tutorial: urbit.org/content/using/install.md
Than you could bounce to this error after running this:

The result;

Its maybe nice if someone can look at it, bc it's the first thing people will try out to run this nice piece of software on a server.

I solved it by download it on an other machine and unzip it there. Maybe it's combination of the use

[2020-06-08 20:55] matildepark commented on #438
@philipcmonk Would you be able to look into this?

[2020-06-08 21:59] jfranklin9000 commented on #438
I'm on Fedora 29, not Ubuntu, and I wasn't able to repro.
But I did get close:
[code]
You tried to untar a gzip'd file that was already gunzip'd.
Maybe your download agent does that?  (Although that should
have changed the extension from `.tgz` to `.tar`.)

The instructions in https://urbit.org/content/using/install.md work for me.

[2020-06-08 22:44] Byte1122 commented on #438
thanks I am running ubuntu server focal, I changed some proxy things and network setting. I think it was something to do with curl more than tar xzf. Anyhow, it's now working!

[2020-06-08 22:46] matildepark commented on #438
... well, I'm satisfied.

[2020-06-08 22:46] #438 closed, assigned to nobody

[2020-06-14 19:01] frunjik opened #1009 "arch and leaf are missing in search"
The best description i could find is:
https://urbit.org/blog/toward-a-new-clay/

[2020-06-14 19:04] frunjik opened #1010 "displayed source of ++malt seems broken"
The source of ++malt shown on
https://urbit.org/docs/reference/library/2l/#malt
seems broken

[2020-06-14 19:08] frunjik opened #1011 "broken link on https://urbit.org/docs/tutorials/hoon/arms-and-cores/"
https://urbit.org/docs/tutorials/hoon/arms-and-cores/

Link to **previous lesson** under Address-Based Wings
is broken:

https://urbit.org/docs/tutorials/hoon/arms-and-cores/@../the-subject-and-its-legs.md

[2020-06-16 23:15] pilfer-pandex opened #1012 "Cannot search for +in"
<img width="733" alt="image" src="https://user-images.githubusercontent.com/47340789/84837267-b074ef80-b005-11ea-8970-6f356c818923.png">

[2020-06-16 23:22] matildepark commented on #1012
This is because it's [not in the glossary](https://github.com/urbit/urbit.org/blob/master/static/glossary.js) — when I first drafted the glossary's stdlib definitions I just used a script and scraped the table of contents. So this needs to be added.

[2020-06-16 23:30] pilfer-pandex commented on #1012
Okay.

—
~pilfer-pandex

On Tue, Jun 16, 2020 at 7:22 PM matildepark <notifications@github.com>
wrote:

[2020-06-17 17:28] baudtack commented on #987
I've read this over and can't see what part is contradicting. Maybe I've just missed it. Can you be more specific? Feel free to reopen.

A list is either `~` or a pair of the first item in the list and the rest of the list. A lest is just the second half of that definition. Proving that the list isn't ~ to the compiler makes a list into a lest.

[2020-06-23 18:19] drbeefsupreme opened #1013 "+* no longer documented in Hoon school"
With urbit/docs#900 we no longer discuss `+*` in Hoon school. Previously we had only discussed it in the context of type polymorphism, but as that usage has been taken over by `|$`.

Now the only two spots that `+*` are mentioned in Hoon school is in code used in `gall.md` and `egg-timer.md`, where it is used as `+*  this  .`. `+*` is confusing enough that I don't think we should use it without ex

[2020-06-24 20:23] drbeefsupreme opened #1014 "update the cheat sheet"
Our [Hoon cheat sheet](https://storage.googleapis.com/media.urbit.org/docs/hoon-cheat-sheet--2017-12-12.pdf) is out of date. If the date is correct, it hasn't been updated since 2017!

It should be revitalized. Does anyone have the source for it? It is not in the docs repo as far as I can tell. Though I would also be fine with scrapping it and starting over.

Also taking suggestions on more things

[2020-06-25 02:21] belisarius222 commented on #1014
https://docs.google.com/document/d/1lS-XIN1tj9nSEdcdaBoMPBE8H6qh55-f2AoP2Gw3FJM/edit?usp=sharing

—
~rovnys-ricfer
https://urbit.org

On Wed, Jun 24, 2020 at 4:24 PM, poprox < notifications@github.com > wrote:

[2020-06-25 21:20] rmariani commented on #1009
Hi @frunjik,

We don't have a library for clay functions like we do with the Hoon standard library, so there aren't entries to even find with search. And also, clay and ford will soon be merged, so documentation will need to be generally rethought for the resulting part of the system.

[2020-06-30 22:37] drbeefsupreme opened #1016 "document |ota on using-your-ship.md and glossary. also a discussion on where to put documentation issues"
As of urbit-os-v1.0.24 (2020.06.29), part of the functionality of `|sync` has been replaced by `|ota`. This change needs to be reflected in `/using/operations/using-your-ship.md` as well as `/glossary/sync.md` and perhaps `/glossary/ota.md` and `/tutorials/arvo/clay.md` as well. We get a lot of questions about OTAs at support so I plan on handling this later this week.

Note: ignoring the `clay.md

[2020-06-30 22:38] drbeefsupreme commented on #1016
Also related: urbit/urbit.org#1007

[2020-07-01 19:37] drbeefsupreme opened #1017 "revise hoon school lesson on ford"
The long anticipated Ford Fusion arrived with urbit-os-v1.0.24, and with it comes necessary revision to our documentation.

The most pressing one in terms of how much it is probably used by the community is the Hoon school lesson on Ford at `/tutorials/hoon/ford.md` and unit tests at `tutorials/hoon/test-sets.md`. Since I wrote these lessons and plan to write Clay documentation this quarter, this

[2020-07-02 19:39] matildepark commented on #1017
I also believe a few Ford runes no longer exist?

[2020-07-02 19:56] belisarius222 commented on #1017
Yes, the Ford runes have changed significantly.  I need to write up the specification for how they work; apologies for the delay on that.

—
~rovnys-ricfer
https://urbit.org

On Thu, Jul 02, 2020 at 3:39 PM, matildepark < notifications@github.com > wrote:

[2020-07-02 20:26] drbeefsupreme commented on #1017
Yeah I will set up a meeting with you @belisarius222 when I revise this lesson to get your input. It's at least a few weeks away, though.

[2020-07-02 21:46] belisarius222 commented on #1017
There are now only four Ford runes.  A file can contain zero, one, or many of each, but each Ford expression can only be one line, and they must be in the standard order of `/-`s, `/+`s, `/=`s, and then `/*`s.

[code]

The `/-` rune imports a structures file from `/sur`.  You can import it as just `foo`, in which case the build result of that file (usually a core with mold definitions) will be pin

[2020-07-09 13:49] sigilante commented on #405
It should link to a table of past OTAs and their dates/versions as well.

[2020-07-14 01:25] philipcmonk opened #1018 "+foal has been moved"
As mentioned on urbit-help, `foal` should now be `foal:space:userlib` here and anywhere else: https://urbit.org/docs/tutorials/arvo/gall/

[2020-07-14 04:32] drbeefsupreme opened #448 "docs imported repo hasnt been updated since may 27"
Looks like the automated system took a nap, it currently points towards https://github.com/urbit/docs/tree/fa2f1ee67419e78504fed0da934b40f53664bf13

[2020-07-14 04:34] matildepark commented on #448
It's not napping. From logs:

[code]

Fixing ...

[2020-07-14 04:45] matildepark commented on #448
The adventures continue in https://github.com/urbit/urbit.org/commit/c56a484c721a8aafe6d0c1edf6f5c99b65580c39, as I find out what wiped my home directory / git config / keys...

[2020-07-14 04:45] #448 closed, assigned to matildepark

[2020-07-15 19:43] rmariani commented on #1018
fixed in https://github.com/urbit/docs/issues/908

[2020-07-20 13:43] galenwp opened #1019 "Bridge sections have changed"
"Once you arrive, proceed through the steps presented. You'll eventually arrive at a page with a few choices: Invite, Admin, and Boot Arvo. Admin is the only option that you're interested in right now; click on it."

Since Bridge has been updated, we no longer have these sections. We should update this part of the docs to reflect the current organization of Bridge.

[2020-07-20 22:33] rmariani commented on #1019
fixed https://github.com/urbit/urbit.org/pull/452

[2020-07-24 13:31] drbeefsupreme opened #1020 "update CLI instructions for King Haskell"
From @pilfer-pandex

I'll start a new branch that I'll be populated with KH instructions and wait for its full release before PR.

[2020-07-24 17:54] joemfb commented on #1020
You could open a draft PR earlier than that. I have some hesitations about these arguments (and particularly think that requiring `--serf` is unacceptable, see urbit/urbit#3172), so it'd be nice to solicit feedback more broadly.

[2020-07-24 21:56] drbeefsupreme commented on #1020
That makes sense, will do. Everything I've worked on docs-wise has been after release, so it didn't even occur to me.

[2020-07-27 18:06] baudtack commented on #988
Article has been removed.

[2020-07-27 18:07] baudtack commented on #1014
done

[2020-07-29 20:32] drbeefsupreme opened #1021 "parsing docs missing information"
Several entries in `/docs/reference/library/4e/` do not say what they produce. I'm working on parsing documentation this week so I'll take care of it, but making an issue anyways so that I don't forget.

[2020-07-29 20:45] drbeefsupreme commented on #1021
There's missing parts of other parser docs, e.g. in section 4L. I'll just go over all of them.

[2020-08-03 23:54] sigilante opened #1022 "Reintroduce unit testing docs"
The page on unit testing with Ford, https://urbit.org/docs/tutorials/hoon/test-sets/, has been removed, but should be refactored for the Ford Fusion model.

[2020-08-03 23:55] sigilante commented on #1022
Looks like overlap with urbit/urbit.org#1017.

[2020-08-24 09:16] ronreg-ribdev opened #1024 "Incorrect Operations -> Messaging documentation"
The "Joining a chat" subsection of the documentation states:

[code]

However, that dojo command appears to be invalid; the dojo rejects it when I try to type it in.

[2020-08-24 18:32] matildepark commented on #1024
I think I might've written that. @liam-fitzgerald Do we have a `|join` generator? Thought we did.

[2020-08-25 19:13] drbeefsupreme opened #1025 "add +cook and +next to parsing tutorial"
Per @Fang- 's suggestion

[2020-08-25 19:14] drbeefsupreme commented on #1004
See urbit/docs#929 urbit/docs#932 urbit/docs#936

[2020-08-25 19:24] drbeefsupreme commented on #992
Instructions for the appeared on install.md in the urbit.org repo at some point in the recent past but I'm overlooking the PR that did it.

Instructions to run urbit as a daemon using King Haskell are still needed, but that will be covered by urbit/docs#919

[2020-08-25 19:33] drbeefsupreme opened #1026 "Reorganize tutorials folder structure"
We've slowly been accumulating Hoon tutorials that don't quite fit into the current folder structure.

The worst offender at the moment is the parsing tutorial, which currently lives under the /arvo folder.

The main problem I see, though, is that /hoon is entirely for Hoon school at the moment, leaving no sensible place for Hoon tutorials that aren't a part of Hoon school. I think just making a /

[2020-08-25 19:41] vvisigoth commented on #1026
I actually think this is fine.

FTR I was just interested to see if anyone involved in the redesign of `urbit.org`/`tlon.io` had any opinions about this. @urcades @g-a-v-i-n ?

[2020-08-25 19:54] urcades commented on #1026
At face value this seems fine: "Hoon School" as a subset of writing underneath "Hoon" seems natural.

[2020-08-26 22:41] drbeefsupreme commented on #1026
I tried to make these changes today, but trying various find and replace methods to fix the links in emacs is failing me. It just gives up after it does a few replacements.

@baudtack suggested I use `find` and `sed` instead. I'll give that a shot tomorrow, just wanted to leave a note here since I had said in a meeting I'd do it today but my time is up and I'm heading out.

[2020-09-08 17:25] drbeefsupreme opened #1027 "+roll and +reel"
Docs to accommodate whatever this ends up turning into

https://github.com/urbit/urbit/issues/3430

[2020-09-16 17:41] sigilante opened #476 "Clarify use of alternative desks."
In "Using Your Ship," we read about syncing a friends `%experiments` desk to ours.

We can make a desk `|public` (although not documented here) but it's not clear how to sync that remote new desk to our ship.

There needs to be a worked example for both the remote and the local instances for syncing a new desk.

E.g.:

`~magbel` exposes a desk named `%starburst`.

To create this desk, I ran:

[cod

[2020-09-17 01:57] sigilante commented on #476
(N.B.  It does work, it's slow.  So what I suggest is adding the full example like the above to the documentation so both ends are clear.)

[2020-09-29 22:38] tylershuster opened #483 "funky sidebars when scrollbars are visible"
<img width="515" alt="image" src="https://user-images.githubusercontent.com/3999320/94623784-d72ffc80-0269-11eb-93c7-d80f8bfc53ce.png">

[2020-10-03 19:38] sigilante opened #1028 "Remove lushep from docs"
Some pages like

https://urbit.org/docs/reference/library/2i/

still feature the now-deprecated `+-` lushep rune for wet arms.  (This is no longer in the codebase.)

[2020-11-04 22:58] drbeefsupreme opened #1030 "document new Clay merge strategies"
From OTA v.1.0.59

* Added %take-this, %take-that, %meet-this, and %meet-that merge
stragies, as defined in pkg/arvo/gen/hood/merge/help.txt, which is
printed when |merge is run with no arguments.  Usually %take-that is
preferable to the old %that.

* Renamed %this and %that to %only-this and %only-that to emphasize
their destructive nature

[2020-11-06 18:51] philipcmonk opened #1031 "Threads"
Threads haven't really changed for a while now, and they're being used more, so it would be great to have some documentation.  While more docs would be great, especially of the standard thread library in lib/strandio, even just putting up this thread.txt would be a great start.  It's up-to-date, and I've gotten in the habit of linking it to people.

https://groups.google.com/a/urbit.org/g/dev/c/If

[2020-11-06 19:39] drbeefsupreme commented on #1031
You got it

https://github.com/urbit/docs/pull/963
--

—

~datnut-pollen

https://urbit.org

On Fri, Nov 6, 2020 at 1:51 PM Philip Monk <notifications@github.com> wrote:

[2020-11-07 15:01] belisarius222 opened #1032 "Arvo glossary weird text"
https://urbit.org/docs/glossary/arvo/

I think the last two sentences of the first paragraph should be deleted.

[2020-11-16 16:17] drbeefsupreme opened #1033 "portable snapshots in new vere"
From the release notes for the pending new vere release:

- Portable snapshots

 You can now create and boot from portable snapshots of your urbit's persistent
 state. For example, `urbit -n 200 path/to/pier` will replay up to event `200`,
 then write the resulting state to `path/to/pier/.urb/roc/200.jam`. To then
 boot from the created snapshot, `urbit -r 200 path/to/pier`. These options
 can be

[2020-11-16 16:19] drbeefsupreme opened #1034 "document |meld"
From the release notes for the pending new vere:

- `|meld`, global state deduplication

 Previously, `|pack` would let you initiate memory compaction, deduplicating
 all of your urbit's persistent state to ensure minimal memory usage. But this
 would fail if you did not have enough available memory to complete the
 process. `|meld` reimplements this using `ur` (discussed above). It copies
 your u

[2020-11-16 16:31] drbeefsupreme commented on #1030
urbit/docs#968

[2020-11-16 19:01] joemfb commented on #1034
More out-of-memory recovery details here: https://github.com/urbit/urbit/issues/3645#issuecomment-709631355.

[2020-11-16 19:15] drbeefsupreme commented on #1016
|ota was added to using-your-ship.md awhile back, forgot to close this

[2020-11-24 18:18] drbeefsupreme opened #1036 "breach.md missing from glossary index"
`https://urbit.org/docs/glossary/_index.md` does not list `breach.md`. I'm not sure how this page is generated so I'm tagging @matildepark. This is a tad more urgent than it would normally be, since a network-wide breach is coming soon.

[2020-11-24 18:21] matildepark commented on #1036
Fixed in https://github.com/urbit/docs/commit/483fd1ce480da9d75623f07fcaa0b09eaf518f43.

[2020-11-24 18:25] vvisigoth commented on #1036
thanks all
—
~poldec-tonteg
http://urbit.org

On Tue, Nov 24, 2020 at 12:22 PM matildepark <notifications@github.com>
wrote:

[2020-11-24 18:37] drbeefsupreme opened #1037 "fix life and rift descriptions"
Since it is now possible to transfer points between Ethereum addresses without breaching, I assume that means it is also possible for `rift` to increase without `life` increasing. There's at least a couple of places where we mention that incrementing `rift` also increments `life`, such as here https://urbit.org/docs/glossary/breach/

[2020-11-28 02:09] drbeefsupreme opened #1038 "using-your-ship.md escaping your sponsor"
`using-your-ship.md` needs to be updated to say that you can escape your sponsor with Bridge.

[2020-11-29 17:09] JohnELester opened #512 "Ames port instructions missing on hosting page"
See https://urbit.org/using/operations/hosting/

The page mentions opening up the port in the firewall and setting a static Ames port when launching Urbit, but those details are missing.

-----

![ufw and ames port](https://user-images.githubusercontent.com/25461543/100548816-f680e100-323c-11eb-95b0-021508c0fc30.png)

-----

![missing the -p portnumber flag](https://user-images.githubusercontent.c

[2020-11-29 19:13] drbeefsupreme opened #1039 "getting key from bridge incomplete"
From ~rignet-bicteg in UC

The docs for getting your key from the bridge seem to be incomplete. They were missing a Set Network Keys section after logging in for the first time into the bridge. I went to Reset Network Keys and set them up once. Without doing that you won't get the option to download the .key file.

[2020-11-30 03:55] botter-nidnul commented on #512
Has been fixed, just awaiting approval #495

[2020-11-30 14:33] JohnELester opened #514 "ufw instructions to allow https requests needs to be added"
See https://urbit.org/using/operations/hosting/

The doc walks the user through requesting a Let’s Encrypt cert but needs to also include ufw instructions for allowing https.

-----

![allow https](https://user-images.githubusercontent.com/25461543/100622619-11ac2900-32ef-11eb-93fc-39f3bdd94f03.png)

[2020-12-03 21:59] drbeefsupreme opened #1040 "hoon standard library docs need some love"
I don't know when the stdlib docs were first written but I encounter something wrong with it probably around once a month. Somebody needs to go through the whole thing, page by page, and make sure its all still up to date.

That would be a long and arduous task though, and wouldn't solve the problem of it going out of date forever. A better solution would be to import code automatically - somethin

[2020-12-03 21:59] drbeefsupreme commented on #1040
From UC:

The `+zust:so` entry is incorrect https://urbit.org/docs/reference/library/4l/

Started on this, but it turned out to be a longer than 5 minute task. Didn't immediately see what `royl` and `(stag %q...`) were. https://github.com/urbit/docs/commit/3ead505f9881fa0e91eb94832df13db731f75ac4

[2020-12-04 00:58] baudtack commented on #1040
@syzygyzer just to clarify, I was working on docstrings but doing it properly requires modification of the compiler and is a large undertaking. I have a script that does a clunky job of extracting comments from hoon source. No one seemed to like it though :-(

[2020-12-11 00:35] Fang- commented on #957
It links to the Azimuth concepts page now, which is not a 404!

[2020-12-11 00:38] Fang- commented on #999
Correctly documented as of urbit/docs#861.

[2020-12-11 21:51] drbeefsupreme commented on #948
`$~` and `$^` are also missing

[2020-12-13 04:48] drbeefsupreme opened #1041 "invite pool details"
We have some information on invite pools here: https://urbit.org/docs/tutorials/creating-an-invite-pool/

But there are still some questions it does not answer.

 - What happens if the spawn proxy address is changed away from the smart contract address? Will outstanding invite pool(s) still function?
 - Can a star create more than one invite pool at a time?
 - Can a delegated planet have more than

[2020-12-14 16:25] Fang- commented on #1041
They won't. Existing balances will remain, but Bridge (and azimuth-js) won't consider any of the invites from that star usable, and trying to send one of their planets anyway will result in a failed transaction.

You can give any planet any amount of invites to use. These will send planets from under the specific star. Configuring the pool size is done for one planet per transactions.

Yes, as a p

[2020-12-14 20:18] drbeefsupreme opened #1042 "update FAQ"
There's a few things out of date or a little unclear in the FAQ: https://urbit.org/faq/

It needs a once over. I plan to get to this sometime this week.

[2020-12-14 22:34] Fang- opened #1043 "New ames packet format"
@syzygyzer you'll want to update your fresh new ames docs with the fresh new packet format. See also urbit/urbit#4051.

[2020-12-18 07:25] drbeefsupreme opened #1045 "describe hardware wallet usage on azimuth page"
A user in UC expressed some level of confusion or misunderstanding as to how Urbit works with hardware wallets. We should mention that the standard HD wallet utilized by hardware wallets is the same pattern that we use with the Urbit HD wallet, just with a different primitive. They seemed to think it would be necessary to import the @q into the hardware wallet, which would of course eliminate the

[2020-12-18 22:11] drbeefsupreme commented on #1003
Should add this to community guides https://www.notion.so/MinIO-S3-Urbit-a18a584293b3459e8785339e60145b11

[2020-12-29 17:50] cxk280 opened #540 "Add permalink to the latest version of the AArch64 static binary"
AWS recently introduced [Graviton2-based EC2 instances](https://aws.amazon.com/ec2/graviton/), and these are now the most cost-efficient way to run Urbit on AWS. However, these instances require the AArch64 static binary. Can someone set up a permalink to the most recent version of this, as was done with `linux64` (`https://urbit.org/install/linux64/latest`)? So far I've been downloading it as des

[2020-12-29 22:31] ohAitch commented on #540
How long until an open linux Rosetta-alike makes them also the most
cost-efficient way to run x86 workloads… RIP intel

On Tue, Dec 29, 2020 at 10:50 AM Christopher King <notifications@github.com>
wrote:

[2021-01-02 22:13] cheesykatie opened #1051 "Jaque spelled incorrectly in docs/glossary"
Spelled 'jacque' here: https://urbit.org/docs/glossary/
And in the URL for its entry: https://urbit.org/docs/glossary/jacque/
And each occurence (3x) in the entry page.
Should be 'jaque' (see https://github.com/frodwith/jaque).

[2021-01-04 19:56] matildepark commented on #540
It's an easy add on urbit.org — but we don't supply the arm64 binaries on urbit/urbit. We should do that first, which I think has its own issue.

[2021-01-05 00:59] baudtack commented on #512
Resolved.

[2021-01-05 00:59] #512 closed, assigned to baudtack

[2021-01-05 01:52] #360 closed, assigned to nobody

[2021-01-05 01:52] #406 closed, assigned to drbeefsupreme

[2021-01-20 04:47] ynx0 commented on #285
I was missing this feature as well. I think that readthedocs.io does this well, where they show a some sort of symbol next to the title on hover, along with some alt-text saying something like "Permalink to this headline". I have seen a pilcrow and a chain (to symbolize a link) being used.

* [Example with chain](https://scapy.readthedocs.io/en/latest/build_dissect.html#layers)
![chain](https://us

[2021-01-20 05:22] tylershuster commented on #285
https://www.getzola.org/documentation/content/linking/#anchor-insertion

[2021-01-20 16:38] ynx0 commented on #285
I decided to try my hand at it and created a draft pr (#551). Please let me know what you think.

[2021-01-20 23:32] drbeefsupreme opened #1052 "glossary entry for groups"
Groups are the primary organizing principle for Landscape, but the glossary was written before that was the case. Either the Landscape entry should mention groups, or groups should have their own glossary entry. I'm not sure which at this point.

[2021-01-22 19:19] cxk280 commented on #540
Where does this stand?

[2021-01-22 19:20] matildepark commented on #540
Nobody is working on arm64 builds as part of the process as far as I know. @botter-nidnul any idea how that worked?

[2021-01-22 20:36] botter-nidnul commented on #540
The last thing I heard about urbit/urbit aarch64 builds [was this](https://github.com/urbit/urbit/pull/2535#issuecomment-714577605) - basically, urbit-king makes aarch64 builds complicated because it can't be cross compiled on x86. Otherwise the new build system is great, and static aarch64 binaries don't require the cumbersome patch set they used to. I'm not aware of any further work done to get

[2021-01-22 21:16] botter-nidnul commented on #540
I tried creating a redirect at https://botter-nidnul.github.io/latest_redirect but I'm not sure how to get wget or curl to follow that redirect because it's not header based, and meta tags are the best I can do on github.io

[2021-01-26 16:43] cxk280 commented on #540
The following shell script will do it:

[code]

This issue is solved so I will close it.

[2021-01-26 16:43] #540 closed, assigned to nobody

[2021-01-26 18:18] cxk280 commented on #540
@botter-nidnul (Can you just make sure you keep the binary at that link current?)

[2021-01-26 18:52] botter-nidnul commented on #540
yeah, I should see that file everytime I update that repository, and that should be enough to remind me🤞

[2021-01-26 18:54] cxk280 commented on #540
Wonderful, thank you. This saves me a lot of effort.

On Tue, Jan 26, 2021 at 1:52 PM botter <notifications@github.com> wrote:

[2021-01-29 17:08] belisarius222 opened #1053 "Irregular Expressions guide is hard to read"
https://urbit.org/docs/reference/hoon-expressions/irregular/

Specifically, the regular form is listed as "R: ...", followed by the irregular form on the same line, listed as "I: ...", which looks a lot like the barcol rune.  I also had to infer that R meant regular and I meant irregular.  I think writing out those words in full and putting the regular and irregular forms on different lines would

[2021-02-02 20:04] #514 closed, assigned to nobody

[2021-02-19 22:47] Fang- opened #1055 "Ford runes no longer work in dojo"
The dojo docs, in [the variables section](https://urbit.org/using/operations/using-your-ship/#variables) shows examples of using the `/-` and `/+` ford runes.

This no longer works. You have to use the `-build-file` thread like `=builtlib -build-file %/lib/mylib/hoon` and then you can use `your-arm:builtlib`

[2021-02-21 13:08] eamsden commented on #1055
I'd prefer that ford runes re-appear rather than the much more verbose thread indication, but whether Urbit is patched to match the docs or vice versa, they should be matched.

[2021-03-02 21:01] drbeefsupreme commented on #948
`$|` is finally merged. I believe that covers all of the ones mentioned as being important here.

[2021-03-02 21:04] drbeefsupreme commented on #1003
This was done awhile ago.

[2021-03-02 21:07] drbeefsupreme commented on #925
This is no longer relevant with how the install guide is currently written.

[2021-03-03 07:19] tinnus-napbus opened #566 "Search no longer working"
when you ctrl+/ to search for something it no longer gives any results

[2021-03-03 08:55] #566 closed, assigned to nobody

[2021-03-03 08:57] drbeefsupreme commented on #566
Thanks, my fault, fixed now

[2021-03-09 21:09] matildepark opened #1056 "remove chat-cli commands from 'using your ship'"
The entire "join flow" as depicted doesn't represent the current chat-cli experience; you would use chat-cli to view chats you're in, because we don't join chats directly this way anymore, we join groups.

[2021-03-09 22:11] Fang- commented on #1056
Dang I thought I already made an issue for this. Guess not!

Current behavior, is that instead of `;join` and `;leave` for managing what chats your ship is subscribed to (and chat-cli showing you everything), you now have `;view` and `;flee`, which use the same syntax as the previous commands, but only control what chat-cli _shows_ you.

Chat-cli is quiet by default, but after joining chats throug

[2021-03-12 04:10] drbeefsupreme opened #1057 "document ;<"
It's used often and in many important contexts.

[2021-03-26 00:10] ynx0 commented on #285
I think #551 resolves this.

[2021-03-26 13:59] Fang- commented on #285
Doesn't look like #551 affected the getting started section of the docs, but otherwise, hurray!

[2021-03-26 14:44] ynx0 commented on #285
Oh yeah, that's cause I didn't know which parts of the docs to enable them so I just did a couple of them that made sense at the time... Enabling/disabling can be done with the `anchors.py` script.

[2021-03-30 22:59] ynx0 opened #578 "Ford runes exist in glossary but direct to dead links"
I was trying to figure out what some runes like `/-` and `/+` did using the [glossary](https://github.com/urbit/urbit.org/blob/master/static/glossary.js#L900) (which is really helpful btw). However, all of the runes lead to now removed documentation (i.e. results in a 404).

[2021-03-30 23:04] matildepark commented on #578
Cc @drbeefsupreme

Honestly there is probably a way to compile the glossary from some source documentation instead of doing it manually. The problem is that the rune entries and the stdlib entries in glossary.js _I wrote by hand_ since there was no metadata with this information we could just periodically scrape. I welcome that as part of this issue as well...

[2021-04-01 22:09] #578 closed, assigned to nobody

[2021-04-02 18:35] tomholford opened #585 "upgrade zola to latest (0.13.0)"
# Summary

Attempting to run `zola serve` with 0.13.0 results in the following error:

![image](https://user-images.githubusercontent.com/16504501/113441369-005d5100-93a3-11eb-9c23-3257b76b65f1.png)

# Motivation

- Upcoming [i18n support in Zola](https://github.com/getzola/zola/pull/1391)
- 0.8.0 is no longer available via `homebrew` (`brew install zola@0.8.0` fails), which is unnecessary frictio

[2021-04-07 22:40] asyapluggedin opened #1058 "Inaccurate link in Configuring S3 Storage Doc"
[Configuring S3 Storage](https://urbit.org/using/os/s3/) instructs (in the **Add your credentials: Landscape** section) to navigate to `https://<your-ship-url>/~profile/settings` when the correct link would be `https://<planet-username-id-thingy>.tlon.network/~settings#s3`

[2021-04-07 23:44] galenwp commented on #1058
Good catch.

We probably want to update to `https://<your-ship-url>/~settings#s3` since your ship could be hosted by someone other than `tlon.network`.

[2021-04-13 14:30] #585 closed, assigned to nobody

[2021-04-13 16:28] ynx0 opened #594 "Search is hosed"
What it says on the tin. I seem the get the following console errors:
[code]

![image](https://user-images.githubusercontent.com/9275716/114587489-b81c1980-9c53-11eb-98b9-4f2622604287.png)

[2021-04-13 20:18] jalehman commented on #594
This probably got hosed due to the recent upgrade to Zola 0.13.0.

—

~wolref-podlex
https://urbit.org ( https://urbit.org/ )

On Tue, Apr 13, 2021 at 9:30 AM, Yaseen < ***@***.*** > wrote:

[2021-04-14 15:13] urcades opened #597 "S3 Storage Setup: Link to, or include guides/video on how to set up an S3 bucket for DO, AWS, and min.io"
Currently, on `https://urbit.org/using/os/s3/`, there is no listed guide for how to get S3 integrated into one's urbit.

Yesterday I attempted to explain to someone how to get S3 hooked up with AWS, and it was distinctly nightmarish. I know there are guides for this task scattered around, but we should spend the time to create very concise urbit-specific guides, given S3 bucket integration is our

[2021-04-14 15:23] eamsden commented on #597
I won't say we shouldn't document how to set it up with AWS, since people will try anyway, but almost every other hosting provider makes this easier. I have used S3 from DO but also Scaleway and Upcloud, all three are far easier than AWS. A warning that AWS in particular is a lot of effort and difficult to get right would not go amiss.

[2021-04-14 16:12] drbeefsupreme commented on #594
I was hoping this would be a simple revert until we figure out what about the new zola breaks search, but unfortunately it is not.

I made a revert PR for the docs PR here: https://github.com/urbit/docs/pull/1061
But when I try to make one for the urbit.org PR https://github.com/urbit/urbit.org/pull/588 GH says "Sorry, this pull request couldn’t be reverted automatically. It may have already been

[2021-04-14 16:20] tylershuster commented on #594
Give me a second, I might be able to fix this

[2021-04-14 16:20] matildepark commented on #594
I found it I think, lol

—
~haddef-sigwen
https://urbit.org

[2021-04-14 16:22] tylershuster commented on #594
Do we just remove `{% if config.build_search_index %}`?

[2021-04-14 17:05] #594 closed, assigned to nobody

[2021-04-20 10:13] mikegogulski opened #602 "Fix RSS feed"
Zola supports it, and the code is already in the `<head>` section:
[code]

But /rss.xml and /blog/rss.xml return 404.

[2021-04-20 22:57] #602 closed, assigned to nobody

[2021-04-22 23:54] tinnus-napbus opened #605 "main text area of docs is too narrow"
The main text area column thingy is extremely narrow. This results in wrapping of a lot of codeblocks which makes them difficult to read.

Eg:

![2021-04-23_11h44m53s](https://user-images.githubusercontent.com/77721746/115798137-a2fc7300-a429-11eb-8ed7-defa2898f810.png)

Something approximately like this would be better:

![2021-04-23_11h51m44s](https://user-images.githubusercontent.com/77721746/1

[2021-04-26 21:22] drbeefsupreme opened #1059 "$care:clay scry examples"
In https://github.com/urbit/docs/pull/1055 I have brought the Clay `data-types.md` doc up to date. One particular entry that probably needs its own sort of tutorial is how to make use of all 16 of the `$care:clay` submodes. To a newbie, it is not obvious how one goes about this.

@tinnus-napbus has already started outlining this here https://github.com/tinnus-napbus/clay-docs/blob/main/scry.md

[2021-04-26 21:27] drbeefsupreme opened #1060 "Clay marks guide/tutorial"
We already have a summary of how marks are used here: https://urbit.org/docs/arvo/clay/architecture/#marks

But it would be nice to have a more in-depth tutorial on how to use marks and write new ones.

[2021-04-26 22:42] drbeefsupreme commented on #605
I noticed today this the formatting on this page is bad now - not sure when it happened. Maybe the update to the latest version of zola? https://urbit.org/docs/hoon/reference/auras/

I would try to fix it manually but since it was fine before and now it isn't, it would just be treating the symptom rather than the cause.

[2021-04-26 22:49] tinnus-napbus commented on #605
I asked matilde and she said it's cos of this: https://github.com/urbit/urbit.org/blob/master/templates/sections/docs.html#L20

which seemingly comes from here: https://github.com/urbit/urbit.org/blob/master/sass/indigo.scss#L968

I played around and it seems it should be about 54em - 56em iirc. I dunno exactly where it should be modified though, probably not in the indigo css file? Probably in th

[2021-04-26 23:14] matildepark commented on #605
@drbeefsupreme That page's blocks look weird specifically because Zola's parser wraps code blocks in `<pre><code>` now, which has `white-space: pre-wrap`, which removes the scroll CSS. We could just make `pre code` undo that white-space declaration.

As for the _width_, that's from the `measure-wide` class, so you could just remove it, but then it becomes like, super duper wide. So, depends how wi

[2021-04-26 23:28] tylershuster opened #1061 "irregular forms page has confusing, possibly broken formatting"
<img width="943" alt="image" src="https://user-images.githubusercontent.com/3999320/116163339-6e4c1e00-a6ac-11eb-915b-1e78bd82a8f5.png">

"Docs" is the link text for all these, perhaps an incomplete job?

[2021-04-27 14:26] tacryt-socryp opened #610 "Hosting Providers Section of Get Started Guide Needs To be More Concise"
Specifically this section on how to set up your own Urbit on a cloud server should be moved to its own page so as to not appear to be a large wall of text, given that this page is oriented toward less technical people who do not want to run their Urbit themselves.

![image](https://user-images.githubusercontent.com/1377557/116258239-6470fc00-a73a-11eb-8c74-4e779179068f.png)

[2021-04-27 14:36] tacryt-socryp opened #611 "Base Get Started Page Should be Shorter and its Current Content Should Be Split into Multiple Pages"
This planet/comet section should be the end of the page and should include links to go forward to a part 2.

Overall, I think this guide should be a 3-part document so that it is less a wall of text regarding things the user may or may not care about.

1. Get Started + Installating Urbit (download the command, installation, distinction between planets and comets) ->

2. Booting Guide (one page for

[2021-04-27 14:39] tacryt-socryp opened #1062 "FAQ Page Needs to be Split Up and have a Link Index like a Wikipedia Page"
This page is one of the worst in the whole documentation (not the content, but it's massive and impossible to navigate)

[2021-04-27 14:41] matildepark commented on #1062
it does...on the left

[2021-04-27 14:43] tacryt-socryp commented on #1062
It does not on mobile. A lot of these pages need to be viewed on mobile and be optimized.

[2021-04-27 14:45] matildepark commented on #1062
There's a whole mobile navigation element we use on docs we could easily port to the page_indiced template. *shrug* In which case it's better filed as an urbit.org issue.

[2021-04-27 14:46] tacryt-socryp commented on #1062
Regardless, I don't think this should be one page. This seems better as a directory page in the same style as the top-level docs page

https://urbit.org/docs/

[2021-04-27 14:53] tacryt-socryp opened #1063 "Docs Search Needs to be Easily Found and Used on Mobile"

[2021-04-27 15:25] tylershuster commented on #611
I think this will probably undergo a total overhaul after Taisho hits 1.0.

[2021-04-27 21:19] rabsef-bicrym commented on #1060
I start down that path in the pr that I submitted today, but it is in the context of the specific application and parsing JSON.
urbit/docs#1067

I second that this would be helpful and would be interested in working on it.

[2021-05-02 03:16] fischerando opened #614 "add Urbit Community Dialogues to Events list"
As they're hosted in Urbit Community, would it be inappropriate to list the Urbit Community Dialogues on the Events page?

I understand that's easier said than done. However, there are lots of people who would be great fits for the network but (understandably) don't use Twitter, and without that it's hard to give a good glimpse of what kind of discussion exists on the network. Given the diverse to

[2021-05-03 13:41] galenwp commented on #614
This seems like a good idea to me

[2021-05-09 14:08] ynx0 opened #1064 "Source code listing for `+malt` seems to be erroneous"
Title.

See https://github.com/urbit/docs/blob/3d60a5a2ffd6aea020219c50cfe9087c4dae4992/hoon/reference/stdlib/2l.md , which currently shows
[code]

According to https://github.com/urbit/urbit/blob/42bde744d8f1dbfe8c6ec13b086687d6714748e3/pkg/arvo/sys/hoon.hoon#L1923-L1926 ,
it seems like it should be:
[code]

[2021-05-11 11:36] tinnus-napbus opened #1065 "graph-store docs need to be updated with v1 & v2 changes"
graph-store data structures have changed slightly since the introduction of versioning, so the docs are slightly wrong. Probably there should also be a section added that explains the versioning.

[2021-05-17 20:51] ynx0 opened #1066 "Deprecated arms `+my` and `+sy` are still littered around in example code"
According to @tacryt-socryp , `+my` and `+sy` are deprecated in favor of `+malt` and `+silt`.

[2021-05-19 23:51] thelifeandtimes opened #1067 "Hooniversity links to development docs are broken."
The links in the hooniversity lessons go to a '404 page not found'. The proper resources can be found relatively easily via search, but could be worth updating.
example:
hooniversity link to the hoon style guide: https://urbit.org/docs/tutorials/hoon/style/
actual link to the hoon style guide: https://urbit.org/docs/hoon/reference/style/

[2021-05-20 15:13] drbeefsupreme commented on #1067
You must have an old version of urbit.org. Try clearing your cache? There is no link to https://urbit.org/docs/tutorials/hoon/style/ anywhere on urbit.org right now.

[2021-05-20 15:14] matildepark commented on #1067
They speak about https://hooniversity.org linking here.

[2021-05-20 15:24] drbeefsupreme commented on #1067
Ah of course. That one must have escaped the redirects.

https://github.com/urbit/urbit.org/pull/626

LMK if you find any others. We should have most of them, but since they were created manually it would be easy to miss a few.

[2021-05-27 20:20] ohAitch opened #1068 "Vere noun road model code block styled too narrow"
https://urbit.org/docs/vere/nouns/
<img width="561" alt="Screen Shot 2021-05-27 at 1 18 54 PM" src="https://user-images.githubusercontent.com/1857414/119891764-9a9aca80-bef6-11eb-9482-c9949728bd3e.png">

[2021-05-27 22:46] tacryt-socryp opened #633 "Typo on bitcoin-wallet page"
![image](https://user-images.githubusercontent.com/1377557/119906234-713c6780-bf13-11eb-8482-d1a8f7812497.png)

[2021-05-29 15:57] Fang- opened #1069 "$> and $< missing from cheat sheet"
Someone was trying to hand-roll these, because they didn't now they existed. The cheat sheet doesn't mention them!

[2021-06-02 06:39] philipcmonk commented on #1043
@belisarius222 @drbeefsupreme Was just looking at this and realized this never got updated.  Should be pretty easy to read out of +encode-packet and friends.

[2021-06-02 17:25] drbeefsupreme commented on #1068
This is creating problems elsewhere too e.g. https://urbit.org/docs/arvo/clay/data-types/

@matildepark how can we embiggen the blocks?

[2021-06-02 17:38] drbeefsupreme commented on #1059
urbit/docs#1069

[2021-06-02 22:20] drbeefsupreme opened #1070 "stdlib dif:by undocumented"

[2021-06-03 17:43] thelifeandtimes opened #1071 "Colhep as a tuple in Hoon Style guide has markdown typo"
In the final paragraph of this section: https://urbit.org/docs/hoon/reference/style/#fixed-sequences-and-backstep-indentation

the list of runes that are tuples includes `:-,` but it should be `:-`, with the comma outside the code element.

[2021-06-04 16:37] drbeefsupreme commented on #1071
Thanks! https://github.com/urbit/docs/commit/f99a557141495c001e5c5f67bc328989df4b1529

[2021-06-06 17:11] mcevoypeter opened #1072 "typo in description of lte standard library function"
It seems like the following line of https://urbit.org/docs/hoon/hoon-school/conditionals/

should be

[2021-06-07 20:15] drbeefsupreme commented on #1068
https://github.com/urbit/urbit.org/pull/608

[2021-06-07 20:16] #605 closed, assigned to nobody

[2021-06-08 22:19] drbeefsupreme opened #802 "stdlib `+at` core undocumented"
https://urbit.org/docs/hoon/reference/stdlib/4b/

[2021-06-09 17:13] Fang- opened #1073 "Dill docs incorrect/outdated"
Besides urbit/urbit#4463 changing up its interface and semantics a bit, I don't think the first paragraph of its overview was ever correct. (If it was, that's before my time!)

I'd be down to update these docs, or help someone else do so. Just making an issue so this is on the record.

[2021-06-11 15:24] drbeefsupreme commented on #1069
@baudtack didn't you do the last edits on the cheat sheet? Where is the file that generates the pdf? I'm guessing its LaTeX?

[2021-06-11 15:27] drbeefsupreme commented on #1064
Thanks!

[2021-06-11 15:29] drbeefsupreme commented on #1072
Thanks!

[2021-06-11 16:18] drbeefsupreme opened #1074 "+foot example no longer works"
It also contains a lushep, and the code is out of date. See urbit/docs#1097 and urbit/urbit.org#1028

[2021-06-11 16:24] drbeefsupreme commented on #1040
urbit/docs#1097

[2021-06-11 16:42] drbeefsupreme commented on #1061
@tylershuster Is this issue just about the docs links or about the formatting more generally? They each link to the respective rune, which seems right.

Some general comments I have on the page:

I like that each entry has a standardized structure, but there might be some small improvements possible. It's good that the structure is explained at the top.

I suppose we could rename the "docs" links

[2021-06-23 21:47] drbeefsupreme opened #660 "roadmap discusses early 2021 in future tense"
Time for an update https://urbit.org/understanding-urbit/roadmap/

[2021-06-23 21:50] #633 closed, assigned to nobody

[2021-06-24 13:49] galenwp commented on #660
agh yeah all this stuff has to get updated, i think

[2021-06-29 15:06] h5gq3 opened #669 "search in docs not working on ipad"
clicking on search does nothing

[2021-06-29 18:33] baudtack commented on #928
No longer an issue. The real way to fix issues is to just wait two years.

[2021-07-09 20:43] marisarow opened #681 "Dead Link"
When I click on 'Development channel in Landscape' link on https://urbit.org/ it opens a new tab with the url: about:blank. When I click out of the tab and return, only then do I see the url address update to 'web+urbitgraph://group/~bitbet-bolbel/urbit-community/graph/~darrux-landes/development'. This is unexpected behavior.

Expected behavior: Open Landscape with modal Join Group.

I am using a

[2021-07-19 04:01] urcades opened #683 "Latest grants page implementation doesn't tell me anything about what proposals, bounties and apprenticeships are"
The Grants page `/grants` is missing some content which explains what each program offers.

This is the current page's implementation (zoomed out):

<img width="650" alt="Screen Shot 2021-07-19 at 1 27 42 AM" src="https://user-images.githubusercontent.com/1195363/126107523-25267552-2bc6-4680-8123-5dd0278865db.png">

This is the current page's information:

<img width="804" alt="Screen Shot 2021-07

[2021-07-19 04:11] urcades opened #684 "Design: Rethink the Blog + Events section"
https://user-images.githubusercontent.com/1195363/126109213-cc2822ae-9904-4f21-8922-b126b8a846ac.mov

Currently, the "Header as Toggle" is a little confusing, and not immediately apparent as a clickable element.

We should design a section (or sections) that clearly depict both blog posts and events in a clarified manner.

Some related fixes that should be solved along with this work:

- Fix: I ex

[2021-07-19 04:26] urcades opened #685 "[docs] Pages with siblings should have Next/Previous links (e.g. Hoon School)"
A basic version of next/previous buttons have been designed for docs, but Gav may have some ideas for more rich buttons that echo the navigation designed for /blog

<img width="648" alt="Screen Shot 2021-07-19 at 12 27 24 AM" src="https://user-images.githubusercontent.com/1195363/126102855-a44e38d3-2ffe-426d-a588-2645b10c3838.png">

[2021-07-19 04:30] urcades opened #686 "Fix: "Urbit/Documentation" requires a navigation item in the docs sidebar"
"Urbit/Documentation" (the first page one lands on, when clicking into "Docs") requires a navigation item in the sidebar, so it can be revisited + one can understand where they are in the docs:

<img width="1374" alt="Screen Shot 2021-07-19 at 12 30 25 AM" src="https://user-images.githubusercontent.com/1195363/126103113-221c4202-d2b5-4c08-a39d-021a1ff877ad.png">

[2021-07-19 04:41] urcades opened #687 "Style Guide and Public Brand Assets for Urbit.org"
For the forthcoming iterations of urbit.org that will follow the `gold` release, we should eventually specify a minimal set of design constraints for Urbit site, and any resulting Urbit "brand" materials that we can imagine the community making use of.

These elements could be sourced within the site somewhere, easily accessible for anyone wanting to extend or leverage an "Urbit Look and Feel".

S

[2021-07-19 04:44] urcades opened #688 "Design: Revisit/rebalance typography, once site is fully redesigned"
During our last design review for urbit.org, a number of critiques on the current typographic direction were made:

- Scaling of footer typography w/ respect to the overall sizing of the footer needs some balancing
- Sizing is huge -> I think h1 should be h2 and so forth.
- The typography of a blog post doesn’t feel as good as it used to

It would be good to revisit some of these critiques once we

[2021-07-19 04:48] urcades opened #689 "Fix: Title text on some cover images in Events is illegible due to dark text on dark image"
Certain "cover images" listed within `/events` are impossible to read due to the cover's dark text being situated over darker images. Some examples:

<img width="939" alt="Screen Shot 2021-07-19 at 12 48 37 AM" src="https://user-images.githubusercontent.com/1195363/126104577-efd7f54e-9c25-4bf8-a7d5-da576bde3ecd.png">

<img width="981" alt="Screen Shot 2021-07-19 at 12 48 43 AM" src="https://user-i

[2021-07-19 05:15] urcades opened #690 "Design + Copywriting: New Front Page "Urbit Ownership" section, Star/Market Explainer, etc."
A section of the front/home page which communicates to current + potential owners of Urbit should be created soon.

Questions this section should answer:

- How can an urbit owner (current or future) understand the structure of the network?
- How do I buy address space?
- What is address space useful for?
- What is the address space market like?
- Why would I want to liquidate my assets (stars)?
-

[2021-07-19 05:31] urcades opened #691 "Pages/entries under "About" (FKA "Understanding Urbit") contain images that need to be correctly sized to fit within article body"
Currently, images in the pages under "About" in the footer are breaking outside of the article column width:

<img width="1498" alt="Screen Shot 2021-07-19 at 1 31 25 AM" src="https://user-images.githubusercontent.com/1195363/126107861-4e40b046-c091-4a86-9f7a-44cbb86247bc.png">

These should be refactored so the max-width of the images is constrained to the article's width.

[2021-07-19 05:36] urcades opened #692 "Fix: FAQ page requires a sidebar like Docs proper"
Currently, the FAQ page in the latest implementation contains no means of navigating across the headers listed in the FAQ, making quick traversal of the listed questions difficult.

We can simply use the existing sidebar component that's we're using for docs proper (which seems incorrect, since this sidebar is used for traversing across pages), or we could develop a feature suggested in #693 , whi

[2021-07-19 05:37] urcades opened #693 "Right-side "Header Navigation" in Docs Pages for quickly jumping between headers in a single page"
Some documentation sites have built a secondary navigation interface for navigating between header elements in a single page. The Tailwind docs surface a good example of this navigation type:

<img width="1379" alt="Screen Shot 2021-07-19 at 1 43 40 AM" src="https://user-images.githubusercontent.com/1195363/126108829-1d4a980e-c558-4ece-83f1-eb10684c4186.png">

Note how the lefthand nav refers to t

[2021-07-19 05:50] urcades opened #694 "Fix: `Grants (8 Open)` CTA on font page, should anchor-link to list of actual grants, not the top of the page"
https://user-images.githubusercontent.com/1195363/126109475-14ed5131-4450-424f-944a-35927732e12e.mov

Currently, when one clicks on the "n Open" CTA under the Urbit Grants section, they're taking to the top of `/grants`, which isn't particularly useful (open grants are not immediately displayed).

We should anchor-link directly to the list of open grants.

[2021-07-19 05:55] urcades opened #695 "Design: Explore a new "Activity Feed" for the front page"
Design: Explore a new "Activity Feed" for the front page which mingles blog posts, events, network activity, sales/market information, major events, etc. into a single interface to show a "sign of life" of the Urbit network — This could presumably replace our Blog/Events/Media section on the home/front page.

[2021-07-19 05:57] urcades opened #696 "Design: Next iteration of "What is Urbit?"/"About Urbit""
We need a section/CTA in the front/home page dedicated to explaining the high-level story + ideals + reasons that inform "The Urbit Project".

This should effectively form a more long-lasting "What is Urbit?" that's more decoupled from Tlon's product delivery schedule.

This new CTA could take on the form of a video, dynamic media, or a story, but should be a lot more easy to digest than our curre

[2021-07-19 05:59] urcades opened #697 "Editorialized Urbit.org Hero CTA"
Design: Urbit.org's "Hero CTA" should be scheduled + structured according to major release-stories we want to publicize, it should be more directly a surface for comms/marcom to communicate through.

On a "technical implementation" subject, the Hero element could possibly be built using metadata similar to blog or event posts, which would enable comms/foundation members to simply "publish" new her

[2021-07-19 06:14] urcades opened #699 "Copywriting: Most docs copy could use less prose-like language + less resulting length"
This is ultimately up to the UF, but in the latest round of feedback for the urbit.org refresh, it was noted that the style of writing for the majority of Urbit's documentation is lengthy, tends towards prose, and overall results in incredibly long pages.

This is understandably a longer-term, and very involved project, but we should consider updating + refining the writing style used across docs

[2021-07-19 06:22] urcades opened #700 "Re-instill Soul/Novelty/Newness via art, brand, illustration, etc."
The latest update to urbit.org has been characterized as a "cleaning house" update, referring to the team completely updating the build + development process of urbit.org, as well as lightly setting the overall look and feel back to somewhat of a "default"-feeling state.

We imagine that after this project, urbit.org will be ripe for a refactoring of how it presents itself to the outside world. Wh

[2021-07-19 06:25] urcades opened #701 "Improved + heightened separation between "Developer Documentation" and "Urbit Usage Documentation""
We need an improved + heightened separation between "Developer Documentation" and "Urbit Usage Documentation".

As it stands, it's confusing to colocate how to use Landscape + Urbit Userspace and how to use Urbit as a technical system. People who are interested in learning how to use Landscape shouldn't need to worry about what a binary is, or what Nock, Arvo, and Hoon are.

This boils down to how

[2021-07-19 07:11] urcades opened #703 "Search interface could use increasingly useful default states, possibly return more useful results, or track commonly-linked/related pages for searches"
The current search experience for Urbit.org is decent. Like anything, it can always be improved.

In addition to honing the results fetched after a successful search, further iterations of the search interface could set up new "default" states depending on what page one was on, glossary results could become ever-expanded and retrieved when useful, language-related results could become ever more pr

[2021-07-19 07:15] urcades opened #704 "Copywriting: Update the primary "Grants" front page copy, highlighting how grants can lead into co-ownership over the network"
This issue is derived from a bit of direct feedback from Galen:

<img width="843" alt="Screen Shot 2021-07-19 at 3 14 30 AM" src="https://user-images.githubusercontent.com/1195363/126118367-3c2940fb-fb65-4249-a26b-b38e48418cd1.png">

[2021-07-19 07:57] urcades opened #705 "Docs: Fix alignment of primary "home" button and Docs nav + search"
Currently, the "back to home" link and the primary docs "navigation" and "search bar" are a little misaligned. Ideally they are fully in-line with one another.

See the comparison below:

<img width="1262" alt="Screen Shot 2021-07-19 at 3 56 55 AM" src="https://user-images.githubusercontent.com/1195363/126124060-4efc55f9-7451-45c0-bf4c-42ea83f75f29.png">

[2021-07-19 16:04] urcades opened #706 "Comms: Youtube Cover Art Normalization/Simplification, keep visual structure similar to events?"
The way we design these cover images needs to be rethought:

<img width="1137" alt="Screen Shot 2021-07-19 at 12 08 32 PM" src="https://user-images.githubusercontent.com/1195363/126191877-bf75bfe7-9623-4cf7-936e-e11d1e171519.png">

This is a project that may be best suited for integrating into a comms work schedule (which doesn't exist on GitHub), but in order to rectify some of the changes we're

[2021-07-19 16:14] urcades opened #707 "Completely revise the IA for Urbit Documentation"
We should revise the information architecture for Urbit Documentation, oriented around types of developer activity, technical structures, learning paths, etc. — this restructuring should directly follow from what we believe to be the most important groups of people we need to communicate with.

A primary task of this project will be to establish existing or desired "developer archetypes" that cont

[2021-07-19 17:00] urcades opened #708 "Design: Improved Grants List filtering/search/application UX"
The current Grants list filtering experience:

<img width="1370" alt="Screen Shot 2021-07-19 at 1 00 52 PM" src="https://user-images.githubusercontent.com/1195363/126198530-40632a32-e067-4b9c-aa52-f3d2964e7f29.png">

As Grants becomes an increasingly populated and trafficked interface, we're likely going to need to develop a more rich means of searching, filtering, and viewing the state of grants.

[2021-07-19 17:57] urcades opened #709 "Design + Marketing: Front-page “Hero” Illustrations for major consumer/user projects"
We have an artist available to produce work for this project, we simply need deadlines + scheduling.

Should be aligned with the "primary" work suggested in #697

[2021-07-19 18:06] urcades opened #710 "Copywriting: Urbit.org primary tagline needs to be updated to perfectly encapsulate the project"
This is a straightforward issue, it's what it says on the tin.

[2021-07-19 18:07] urcades opened #711 ""Editorialize" the Grants page"
Editorialize the Grants section of the site (`https://urbit.org/grants/`), highlighting more stories about Urbit app/agent/core development, ongoing stories about the developer community, etc.

Add a new Gifts Section, telling the story of how off the cuff gifts are granted to conspicuously useful people, people who add to the culture of the network, etc. — emphasis on non-technical contributions

[2021-07-19 18:51] urcades opened #712 "Events, on both the front page and on the actual `/events` page, should surface up a more obvious RSVP/event attend link as a main CTA"
At the moment, events cannot be directly RSVP'd to

We should consider implementing an additional "Event RSVP URL" metadata field which adds a button to an event component for quick RSVPing.

[2021-07-19 19:06] urcades opened #713 "[docs] Page trees should have an index that's navigated to upon first click"
via @jalehman

[2021-07-19 19:08] urcades commented on #713
The implementing team is contesting this particular issue

[2021-07-19 19:15] jalehman commented on #713
That's fine, although there are many places in the docs where we put (debatably) useful information like this: https://urbit.org/docs/system-overview/

Usually it serves as an overview of the contents of each subdirectory, but I'll admit that the quality of these overviews is hit or miss. The current structure, where we have content in URLs that cannot be reached through the interface, is ambiguou

[2021-07-19 19:16] matildepark commented on #713
My main counter-example is, imagine you want to go to 2c of the standard library in Hoon.

Hoon -> refresh
Reference -> refresh
Standard library -> refresh
2c -> refresh

—
~haddef-sigwen
https://urbit.org

[2021-07-19 19:23] matildepark commented on #712
@tirwyd-sarmes Can you work with @g-a-v-i-n on amending the events data structure here?

[2021-07-19 19:27] urcades commented on #684
This work may be semi-dependent on metadata being fixed a la #712

[2021-07-19 19:29] matildepark opened #714 "[grants] I should be able to submit a proposal and learn how to—see [here](https://urbit.org/grants/proposals/) for reference"

[2021-07-19 20:44] #689 closed, assigned to matildepark

[2021-07-19 20:47] #704 closed, assigned to matildepark

[2021-07-19 21:31] #691 closed, assigned to g-a-v-i-n

[2021-07-19 22:05] #694 closed, assigned to g-a-v-i-n

[2021-07-19 23:26] urcades commented on #705
addressed via commit 5ec6ab0

[2021-07-19 23:26] #705 closed, assigned to urcades

[2021-07-20 23:15] #714 closed, assigned to matildepark

[2021-07-21 21:59] #686 closed, assigned to matildepark

[2021-07-21 23:36] #692 closed, assigned to matildepark

[2021-07-21 23:36] #693 closed, assigned to nobody

[2021-07-22 07:41] urcades commented on #684
A pretty "dumb" take on how to simply unfold each section for visibility, nothing fancy here:

![Screen Shot 2021-07-22 at 3 34 47 AM](https://user-images.githubusercontent.com/1195363/126604199-95b5965b-3f6d-442e-8a20-54085b30c543.png)

Each CTA under the respective row leads to the post index page of both blog and events. I was thinking pretty roughly that for each event, maybe we surface up RSV

[2021-07-22 20:42] #685 closed, assigned to matildepark

[2021-07-23 14:38] drbeefsupreme opened #1075 "graph-store scry interface"
urbit-os-v2.94

This release will be pushed to the network as an over-the-air update

Base hash (check with +trouble):
0v11.b7q2p.0asjp.9a28m.qupu3.jo0ga.sd5v4.b83ga.ld7mc.3dkd8.2pk1v

Release Notes:
- A complete refactor of graph-store's scry interface. Documentation here:
https://gall-doc-generator.vercel.app/scries
- A new %edit update for %metadata-store, for more granular updating

Breaking c

[2021-07-24 13:36] ynx0 opened #803 "Links that are also formatted as code do not look like links"
Example: https://github.com/urbit/docs/blob/master/userspace/graph-store/validator-walkthrough.md#earthmars-interface-details, which renders fine on github but not on urbit.org.

Compare github:

<img width="619" alt="Screen Shot 2021-07-24 at 9 36 34 AM" src="https://user-images.githubusercontent.com/9275716/126870135-e3ccd8b0-5873-4d82-a4ff-0a26cacf1e2d.png">

with urbit.org:

<img width="619" a

[2021-07-24 18:21] urcades opened #716 "Fix the /using and /getting-started sidebars"
The two pages:

- https://urbit-org-gold.vercel.app/getting-started
- https://urbit-org-gold.vercel.app/using

both require fixed/improved sidebars to properly render the contents of each section — currently they feel a little broken or "missing" something, possibly due to their nature of being docs-but-not-docs

[2021-07-24 18:26] matildepark commented on #716
Can you be more specific about what should be altered?

[2021-07-24 18:40] urcades commented on #716
Yes, definitely! I was really just setting this up as a placeholder, going to substantiate it momentarily.

The main issue here is that the 'root' of the page (the one you land on, if you click the links above) isn't displayed in the sidebar, so one feels slightly displaced when landing on the page.

I was going to reference the sidebar used for Docs proper, and try and implement these pages simil

[2021-07-25 06:40] urcades commented on #716
So, I tried actually muddling around in the code to no effect. This is essentially what I'm getting at needs to be changed. The current  state of the sidebar for each respective page:

![Screen Shot 2021-07-25 at 2 38 31 AM](https://user-images.githubusercontent.com/1195363/126890168-f1e2c581-f4e7-4986-beb9-82295a0373ac.png)

What I was trying to prod it into displaying:

![Screen Shot 2021-07-25

[2021-07-26 16:45] #716 closed, assigned to nobody

[2021-07-26 19:15] tacryt-socryp opened #717 "Docs: Safari scrollbars look really wonky"
<img width="1140" alt="Screen Shot 2021-07-26 at 2 13 59 PM" src="https://user-images.githubusercontent.com/1377557/127045632-3de4ff75-ab6c-4a57-942c-3fc6e52428e8.png">

[2021-07-26 19:17] tacryt-socryp commented on #717
Content in right pane gets squished easily also:
<img width="1140" alt="Screen Shot 2021-07-26 at 2 17 33 PM" src="https://user-images.githubusercontent.com/1377557/127045973-3cc445f8-9aa7-49bd-93cb-70d10b352f97.png">

[2021-07-26 19:19] tacryt-socryp opened #718 "Events: Coming soon button not clickable. Is it even a button?"
<img width="1140" alt="Screen Shot 2021-07-26 at 2 18 44 PM" src="https://user-images.githubusercontent.com/1377557/127046135-e5075ac5-295e-4b98-a60b-fdfaaa685ee5.png">

[2021-07-26 19:21] tacryt-socryp opened #719 "Content too small, gets squished and has scrollbars in Getting Started"
<img width="1140" alt="Screen Shot 2021-07-26 at 2 21 04 PM" src="https://user-images.githubusercontent.com/1377557/127046421-cdfa1dd2-e533-4be7-b0f7-943749073511.png">

[2021-07-26 19:22] tacryt-socryp opened #720 "Understanding urbit: borders get cut off by border radius"
<img width="1140" alt="Screen Shot 2021-07-26 at 2 22 19 PM" src="https://user-images.githubusercontent.com/1377557/127046517-5fc3cdf2-cde2-47f4-b65e-1d746f7d58f3.png">

[2021-07-26 19:23] tacryt-socryp opened #721 "Broken image on Urbit ID page"
https://urbit-org-gold.vercel.app/understanding-urbit/urbit-id

This image link is broken: https://media.urbit.org/site/understanding-urbit/urbit-id/urbit-id-address-space-1.svg%22

Could be a typo with that %22?

[2021-07-26 19:24] tacryt-socryp opened #722 "Broken image on Urbit OS page"
Could be a typo with the %22?

https://media.urbit.org/site/understanding-urbit/network-os/urbit-os-diagram-apart.svg%22

[2021-07-26 21:00] tacryt-socryp commented on #1062
resolved in gold

[2021-07-26 21:00] tacryt-socryp commented on #611
fixed in gold

[2021-07-26 21:00] #611 closed, assigned to nobody

[2021-07-26 22:05] matildepark commented on #718
It isn't. @urcades should we separate out what 'button' and 'subheader' styling is in this respect?

[2021-07-26 22:18] urcades commented on #718
This element is definitely intended to be something like a "special" header (a label), not an interactive element — we could definitely do with making these a little more diminutive, less overlapping with interactive elements. I'll give this one some thought soon.

[2021-07-27 15:20] urcades commented on #721
Yeah, when I check out the actual source, we see this:

![Screen Shot 2021-07-27 at 11 19 29 AM](https://user-images.githubusercontent.com/1195363/127180909-38c857f5-fd68-45b8-b8c4-38715e533ffb.png)

This image's url actually works when clicked through — are we processing images somehow and breaking the media reference?

[2021-07-27 15:22] urcades commented on #721
Ah, I see what's going on

[2021-07-27 15:26] matildepark commented on #721
You just remove the `"` I believe

[2021-07-27 15:28] urcades commented on #721
I believe I fixed the issue: https://github.com/urbit/urbit.org/commit/7af2a5c9d2d36a2193a35951544eb06e5212441d

For some reason, there was a `"` appended to the image link.

Unsure if I need to rebuild the preview site or if it'll deploy with the last pushed commit, but it should be back to normal.

[2021-07-27 15:29] matildepark commented on #721
It just deploys itself each commit — thanks!

[2021-07-27 15:29] #721 closed, assigned to urcades

[2021-07-27 15:30] urcades commented on #722
Fixed via https://github.com/urbit/urbit.org/commit/7af2a5c9d2d36a2193a35951544eb06e5212441d

[2021-07-27 15:30] #722 closed, assigned to urcades

[2021-07-27 15:47] urcades commented on #718
I just edited the headers down to look less interactive, more like subheaders. Boring but obvious:

![Screen Shot 2021-07-27 at 11 47 08 AM](https://user-images.githubusercontent.com/1195363/127185354-6e3492ee-8eb7-4331-8706-6a136cc97349.png)

[2021-07-27 15:47] #718 closed, assigned to urcades

[2021-07-27 16:53] #719 closed, assigned to nobody

[2021-07-27 16:55] #720 closed, assigned to nobody

[2021-07-27 23:12] #717 closed, assigned to nobody

[2021-07-28 02:19] jalehman opened #724 "Grants: Why is there Apprenticeships and Apprenticeship? Seems like a bug."

[2021-07-28 02:21] matildepark commented on #724
This is because half the entries say one or the other

[2021-07-28 02:23] matildepark commented on #724
Aight, well, might be my bad, but I did see both during merge resolution — fixed by https://github.com/urbit/urbit.org/pull/723/commits/a24039bb74e76977dcf9f0d86940fb582728288c

[2021-07-28 02:23] #724 closed, assigned to nobody

[2021-07-28 02:26] jalehman opened #725 "Docs: Links open within existing tab."
I would expect external sites to urbit.org to open a new tab. Such as 'Tlon'

[2021-07-28 02:27] jalehman commented on #725
This is currently the case on our existing docs @marisarow. See here: https://urbit.org/docs/

Since this isn't a regression, we'll keep it as an open issue for post-release.

[2021-07-28 02:29] jalehman opened #726 "Grants: Tags look like buttons, but do not act like buttons."
Can we change UI to look less interactive? OR Make them interactive.

[2021-07-28 02:37] jalehman commented on #726
I see that buttons are more square, where tags are more pill-like, but they are indeed similar. @urcades or @g-a-v-i-n, can either of you weigh in on this?

[2021-07-28 02:57] jalehman opened #727 "Grants: side navigation isn't right"
Crawling the headers doesn't work right here—I don't want to see each grant as a navigable element.

<img width="1390" alt="Screen Shot 2021-07-27 at 7 56 24 PM" src="https://user-images.githubusercontent.com/550978/127256498-7a012b3f-a805-4c08-9817-ac1236eabd2d.png">

The idea is to immediately tell the person that's just arrived to the page what it is that they can do here, and I think it should

[2021-07-28 03:07] matildepark commented on #727
I tried this with a `noh3s` to only show the very, very top level headers and it looked pretty bare, but it's to taste I suppose.

[2021-07-28 03:09] matildepark commented on #727
Fixed in https://github.com/urbit/urbit.org/commit/1d77c15312a5fe71bbbc202801ac11ce78d667be

[2021-07-28 03:09] #727 closed, assigned to nobody

[2021-07-28 03:30] urcades commented on #726
@jalehman Yeah, the actual cards themselves definitely need some work — will get a simple refactor of these folded in soon

[2021-07-28 13:27] ynx0 opened #729 "Long article titles wrap, which can cause confusion"
<img width="239" alt="Screen Shot 2021-07-28 at 9 25 39 AM" src="https://user-images.githubusercontent.com/9275716/127330232-38968dcc-2dd2-444f-ac8b-222c021f4991.png">

See above image. "Overview" seems to be a new section, where actually its just a part of the article "Data Structure Overview"

[2021-07-28 13:33] matildepark commented on #729
It’s just wrapping. Is it better to truncate them?

[2021-07-28 13:35] ynx0 commented on #729
Not feeling super strongly but yeah I think so. Just because it really does look like a new section to me which truncation would definitely clear up. Or, pushing the wrapping so that it would at least be in-line with the content before it.

[2021-07-28 13:38] ynx0 opened #731 "`<code>` tags in glossary don't seem to render"
<img width="667" alt="Screen Shot 2021-07-28 at 9 36 24 AM" src="https://user-images.githubusercontent.com/9275716/127331914-efa46927-89aa-46d8-b620-f4895f4f8e1f.png">

[2021-07-28 13:43] ynx0 opened #732 "Old anchor links for certain runes don't work"
For instance, when you navigate to https://urbit.org/docs/hoon/reference/rune/wut#overview

The following links to runes no longer work, because they refer to anchors `#wutpam` and `#wutbar`, while the new anchors seem to be `#-wutpam` and `#-wutbar`
![image](https://user-images.githubusercontent.com/9275716/127332404-5c5a895a-63f7-455e-956e-adb2823c87c2.png)

![image](https://user-images.githubus

[2021-07-28 13:44] ynx0 commented on #729
It also just looks kinda weird here:
<img src="https://user-images.githubusercontent.com/9275716/127332870-2eae7b84-130f-482f-add7-c00072af4736.png" width="200px">

[2021-07-28 13:47] matildepark commented on #732
This can be fixed by adding `{#wutpam}` etc at the end of the headers to specify an id; the new markdown renderer appears to care about the code block in the title so it adds a -

[2021-07-28 13:48] matildepark commented on #729
Oh interesting; this may be doable by just making the `<li>` inline-blocks

[2021-07-28 13:55] ynx0 commented on #729
Oh yeah, idk how it will actually look, but if you do decide to make them inline, maybe giving slightly more space between different title, or slightly squeezing together words within the same title would help differentiate between them better.

[2021-07-28 16:45] ynx0 opened #735 "Can't use arrow keys to select items in search results"
What it says on the tin

[2021-07-28 16:49] ynx0 commented on #729
One piece of justification for the squeezing of a wrapped title / giving it space is:
<p align="left"><img src="https://user-images.githubusercontent.com/9275716/127363193-3c36cc7b-e988-4e6c-9469-5aad09c175ea.png" width="200px"></p>

Because my headers are admittedly quite long, they seem to meld together into one blob

[2021-07-28 17:00] tirwyd-sarmes commented on #684
Big fan of the unfolded Blog and Events section. When I spoke with @g-a-v-i-n a month ago we thought about having the events section not using cards on the home page, maybe more of a horizontal "list" view with standardized mini-cards or something.

[2021-07-28 19:12] g-a-v-i-n commented on #684
Looks good, working on this now

[2021-07-28 20:09] g-a-v-i-n commented on #684
surfacing RSVP button only seems to make sense when the event is in the future - what do we want to do with past events? I am defaulting to hiding the RSVP button.

[2021-07-28 20:17] urcades commented on #684
Yeah, good point — there's no need to RSVP for past events.

—
~fabled-faster
https://urbit.org/

On Wed, Jul 28, 2021 at 4:10 PM Gavin ***@***.***> wrote:

[2021-07-28 20:22] ashelkovnykov opened #737 "Incorrect Shortcut for Search"
I'm running Linux, but the website displays a Mac OS shortcut for using search. See the image below:
![urbit-linux-bug](https://user-images.githubusercontent.com/4383244/127389873-18992407-48b5-4eff-8ca7-abdd685fca8e.png)

The search box opens correctly if I press `ctrl-k`.

OS: `Pop!_OS 20.10`
Kernel: `5.11.0-7620-generic`
Browser: `Vivaldi 4.0.2312.41`

[2021-07-28 20:38] g-a-v-i-n commented on #684
https://urbit-org-8sxjpfuk7-urbit.vercel.app

PR: https://github.com/urbit/urbit.org/pull/738

[2021-07-28 20:40] g-a-v-i-n commented on #726
It would be nice to refactor this soon because of #739

[2021-07-28 20:48] g-a-v-i-n commented on #684
Hmmm where did the lefthand nav come from? @matildepark

<img width="1338" alt="Screen Shot 2021-07-28 at 1 48 07 PM" src="https://user-images.githubusercontent.com/5265021/127393803-1219f0f2-1013-417d-9220-ceab47046346.png">

[2021-07-28 20:51] matildepark commented on #684
TableOfContents component inserts a nav on any page. It was introduced at @jalehman's request yesterday.

[2021-07-28 20:51] g-a-v-i-n commented on #684
it messes up layout

[2021-07-28 20:52] g-a-v-i-n commented on #684
too many people working on this page rn. needs design input

[2021-07-28 20:52] matildepark commented on #684
I don't really feel strongly about it, I just put it in for him. It's yours

[2021-07-28 21:27] g-a-v-i-n commented on #712
Resolved in #738

[2021-07-28 21:28] g-a-v-i-n commented on #684
Resolved in #738

[2021-07-28 21:28] #684 closed, assigned to urcades, g-a-v-i-n

[2021-07-28 21:28] #712 closed, assigned to g-a-v-i-n

[2021-07-28 21:34] g-a-v-i-n commented on #713
Adding that part of the opposition to this is opening or exploring the tree navigation would navigate you away from your current page. As a reader I could not remain on my current page while opening subdirectories.

[2021-07-28 21:36] g-a-v-i-n commented on #713
If we flattened the IA of the docs and constrained the depth to 2, I would be more open to this. For example

**Arvo**
subItem
subItem
subItem
**Azimuth**
subItem
subItem
subItem
...

We could also add more depth by extending the length of each page. For example: https://nodejs.org/dist/latest-v14.x/docs/api/buffer.html

[2021-07-28 22:00] g-a-v-i-n commented on #707
Chiming in to +1 this. There are multiple issues with the docs organization we cannot just design away.

For example, there are many different ways individual pieces of documentation have been organized, which then bubble up to the righthand table of contents sidebar. Sometimes this sidebar helps, other times it does not, as demonstrated below.
<img width="1264" alt="Screen Shot 2021-07-28 at 2 45

[2021-07-28 22:19] #737 closed, assigned to nobody

[2021-07-28 22:19] #729 closed, assigned to nobody

[2021-07-29 03:24] ashelkovnykov commented on #737
Nice work, thank you

[2021-07-29 04:07] tinnus-napbus opened #742 "<tags> enclosed in single backticks aren't escaped"
[code]

gets treated like html, only triple backticks actually escape them. Annoying cos sometimes you want inline code snippets with `<stuff>`

[2021-07-29 04:13] matildepark commented on #742
Escape them with `\`

[2021-07-29 04:17] ohAitch commented on #742
does \`inline\` code also eat backslashes then??

[2021-07-29 04:23] tinnus-napbus commented on #742
that doesn't work

[2021-07-29 04:25] tinnus-napbus commented on #742
[code]
 and
[code]
 render as `\`

[2021-07-29 04:42] ohAitch commented on #742
Looks like next.js uses `remark`, which claims to be commonmark spec-compliant - and certainly this seems to work in raw remark: https://q84s6.csb.app/

[2021-07-29 04:49] matildepark commented on #742
Oh, I see now, I escaped this with html entities. https://raw.githubusercontent.com/urbit/urbit.org/master/content/docs/system-overview/arvo.md

I think it’s because we inject the markdown string as html, or something.

—
~haddef-sigwen
https://urbit.org

[2021-07-29 05:06] tinnus-napbus commented on #742
oh wait it has the same problems in the triple-backticked blocks too. See the h1 hello worlds in the code blocks here: https://urbit.org/docs/arvo/eyre/examples#direct-http-handling-with-gall-agents

should I go through this stuff and replace all tags with entities or can this be fixed?

[2021-07-29 05:08] ohAitch commented on #742
Entities also [shouldn't work](https://qmtq0.csb.app/), though it's consistent with the page being double-parsed as html - presumably the parser _produces_ `<code>&lt;code words&gt;</code>` and then that gets "rendered" and re-rendered

[2021-07-29 13:05] tinnus-napbus opened #744 "tables should have borders and such"
tables currently look really bad. There's barely any padding and no borders and such (see https://urbit.org/docs/arvo/eyre/external-api-ref#poke)

they should look basically exactly how github does them:

|foo|bar|baz|
|--|--|--|
|blah|blah|blah|
|blah|blah|blah|
|blah|blah|blah|
|blah|blah|blah|
|blah|blah|blah|
|blah|blah|blah|

[2021-07-29 14:56] tinnus-napbus opened #745 "docs body a little too wide"
old urbit.org style was way way too narrow for docs but this is a little too wide imo

super stretched out sentences are harder to read

[2021-07-29 20:19] g-a-v-i-n commented on #745
Resolved in #747

[2021-07-29 20:19] #745 closed, assigned to g-a-v-i-n

[2021-07-29 20:19] g-a-v-i-n commented on #744
Resolved in #747

[2021-07-29 20:19] #744 closed, assigned to g-a-v-i-n

[2021-07-30 05:51] urcades opened #748 "urbit.org search: up/down arrows do not select search results"
Currently, the UP/DOWN arrows on the keyboard do not function for navigating through Command-K search results, which is a regression from the previous search interface.

[2021-07-30 19:26] g-a-v-i-n commented on #748
Dupe of #735

[2021-07-30 19:26] #748 closed, assigned to nobody

[2021-07-31 05:03] tinnus-napbus opened #749 ""More Events" Button under Events section on front pages goes to docs rather than events"

[2021-08-02 20:15] jalehman opened #750 "Move reference to bottom of Arvo section"
<img width="264" alt="Screen Shot 2021-08-02 at 1 14 54 PM" src="https://user-images.githubusercontent.com/550978/127918303-83c4f452-1b49-40fb-be9c-a154a80406d9.png">

[2021-08-02 20:25] jalehman opened #751 "Opening a new docs page should scroll to the top of the screen"
The way it works currently is kind of weird. If you scroll part of the way down a page and then open another page, you'll end up somewhere in the middle of that page. You should always start at the top.

[2021-08-02 21:17] #750 closed, assigned to nobody

[2021-08-02 21:18] drbeefsupreme opened #754 "import issues from archived docs repo"
It looks like there's a few ways to do this. If anyone already knows how to do it be my guest, otherwise I'll take a crack at it soon.

[2021-08-02 21:20] drbeefsupreme opened #755 "put vanes into their own /vanes folder under /arvo"

[2021-08-03 17:33] drbeefsupreme opened #757 "some standard library links from ToC dont work"
https://urbit.org/docs/hoon/reference/stdlib/table-of-contents

Example of working link: https://urbit.org/docs/hoon/reference/stdlib/4j#ab

Example of non-working link: https://urbit.org/docs/hoon/reference/stdlib/3d#raws-og

I haven't investigated yet what is causing this or how widespread it is.

[2021-08-03 17:35] drbeefsupreme commented on #757
Immediately after submitting this I think I see the issue. The correct tags for a link with a colon in them is now e.g. "rawsog" rather than "raws-og". So probably just removing the hyphens from the links on the ToC page will fix this.

[2021-08-03 19:12] #757 closed, assigned to drbeefsupreme

[2021-08-04 14:24] ynx0 opened #759 "All urls in the ames overview are broken"
They seem to use the old zola linking syntax

[2021-08-04 15:42] drbeefsupreme commented on #759
Thanks. This seems to be widespread. I'll get on fixing these now.

[2021-08-04 17:51] #759 closed, assigned to drbeefsupreme

[2021-08-06 16:17] drbeefsupreme opened #765 ""using" docs are hard to find"
There's a link to it at the bottom of the front page "Operator's Manual", and then another one on the page for setting up a planet: https://urbit.org/getting-started/planet

I think there should be a more prominent link on the front page, probably next to the Docs link at the top, and also one on the Getting Started page. Thoughts?

[2021-08-09 01:13] marisarow opened #768 "Search Functionality"
When I search 'Urbit ID', I expect the most relevant docs, blog posts, or events to show in the search. Currently, our search does not appear to surface relevant information in any prioritized manner. For example, when I search for Urbit ID, I would expect that Understanding Urbit would be one of the first results.

[2021-08-09 10:06] tinnus-napbus opened #770 "hoon syntax highlighter doesn't handle escaped double-quotes in tapes"
if you have a tape in some hoon code like `"blah\"blah"`, it doesn't treat the middle double-quote as being escaped, so it ends the tape there, then starts a new tape at the next one that swallows the rest of your code.

[2021-08-09 21:00] g-a-v-i-n commented on #768
I am going to try using docsearch.algolia.com

[2021-08-09 21:01] #751 closed, assigned to g-a-v-i-n

[2021-08-09 21:09] g-a-v-i-n commented on #735
Resolved in #756

[2021-08-09 21:09] #735 closed, assigned to g-a-v-i-n

[2021-08-09 21:12] #749 closed, assigned to g-a-v-i-n

[2021-08-10 21:20] mikeosborne opened #775 "Event Thumbnails don't show date or link"
Event thumbnails on the main page and events page should show the date of the event. Right now you have to click all the way to the event's page to see the date.

Also, the thumbnail should render the event link if it is specified in the registration_url tag.

[2021-08-11 00:03] g-a-v-i-n commented on #775
Waiting for date refactor to come through but this is on the docket.

[2021-08-13 20:02] urcades opened #778 "urbit.org-wide search capability doesn't appear to work"
When invoking search using Cmd+K, I'm able to retrieve a list of results, but clicking into an item just closes the search without navigating to a new page.

cc @g-a-v-i-n : Going to initially assign to you because of the search refactor stuff you've been working on, feel free to send this over to someone else to fix

[2021-08-13 20:03] g-a-v-i-n commented on #778
Thanks, on it

[2021-08-13 20:23] g-a-v-i-n commented on #778
Patched in #779

[2021-08-13 20:33] #778 closed, assigned to g-a-v-i-n

[2021-08-13 22:08] drbeefsupreme opened #780 "remove use of `mo` from stdlib docs"
I'm guessing `+mo` used to make `map`s?

example:
https://urbit.org/docs/hoon/reference/stdlib/2j

[2021-08-13 22:59] ohAitch commented on #780
What ever happened to it?

On Fri, Aug 13, 2021 at 3:08 PM poprox ***@***.***> wrote:

[2021-08-16 21:23] drbeefsupreme opened #788 "what are scries?"
@tinnus-napbus has done an excellent job documenting scry endpoints, but we don't actually explain what scries are in a general sense anywhere in the docs. A short page in `/arvo/concepts` would probably suffice.

[2021-08-16 23:45] urcades opened #790 "docs: add the ability to submit a PR against the docs on every single page"
Within Tailwind's css docs, you can see at the bottom of their pages a link to [submit a PR](https://tailwindcss.com/docs/background-origin#disabling) against the page the link was followed from.

We often run into intrepid urbit devs who run into various frustrations w/ our current docs, and establishing a means of quickly submitting patches to the docs could help us out in a time when we're tryi