[2016-04-11 19:09] ohAitch opened #804 ":talk # repl functionality"
Doesn't appear to be documented, in what is now using/messaging.md in the cleanorg branch.

[2016-04-15 17:40] ohAitch opened #805 "<list> should be used with [src] instead of [dataPath]"
Blocked on urbit/tree#9, which implements such.

[2016-04-15 19:15] ohAitch commented on #805
Most of these shouldn't even _have_ a `dataPath`, because they just use the current one. Though a `src="."` might be fine.

[2016-04-15 19:22] galenwp commented on #805
i think src=“.” should be implicit.  No?

[2016-04-15 19:23] ohAitch commented on #805
It already is for dataPath! Yet docs/*.md is putting it in anyway :/

On Friday, 15 April 2016, Galen Wolfe-Pauly notifications@github.com
wrote:

[2016-05-31 19:54] torchhound opened #806 "Broken link in docs/hoon/syntax"
"Here's the FizzBuzz demo code, in idiomatic rune syntax. Compare with the [original](https://urbit.org/docs/demo/)." Original is a hyperlink that currently leads to a 404.

[2016-06-01 19:22] philipcmonk commented on #806
Thanks, I'll fix this.

[2016-06-04 23:33] galenwp opened #807 "Pandoc everything"
We really should normalize our markdown formats.  In the past we have used [pandoc](http://pandoc.org/), which is great.

I guess this issue has two parts:
- Pandoc everything in the repo
- Create a `contributing.md` that explains the standard.

[2016-06-05 17:18] bvschwartz opened #808 "Friends of FizzBuzz exercise two is unfair :)"
This is the one where you have to figure out how to pass two parameters to a gate. I believe the answer is just

[code]

(Maybe there is a better way?) However it is not clearly documented in the hoon docs as far as I can see. I suppose it can be figured out by implication. Perhaps the syntax section should talk about the syntax for creating some basic things like numbers, strings, cells/tuples, a

[2016-06-05 17:25] galenwp commented on #808
I see a comments box here: http://urbit.org/docs/hoon/exercises/fizzbuzz/, but do you mean on each documentation page?  (@philipcmonk is the person to answer the rest of your question)

[2016-06-05 17:28] bvschwartz commented on #808
Doh! Never mind that part about a comment. I somehow missed that when it was staring me in the face.

[2016-06-05 17:40] galenwp commented on #808
No problem!  I should say, we have been working through some issues with the comments.  More on that tomorrow.

[2016-06-06 18:05] ohAitch opened #809 "Irregular form syntax docs were lost in transition"
[code]

[2016-06-06 22:12] bvschwartz opened #810 ":moar should be more clearly documented"
You can kind of figure out out based on usage, but it deserves its own entry, probably in the twig reference.

[2016-06-07 00:18] joemfb commented on #809
The irregular form of `:cast` (``@t`%a`) was on the `:like` page... Fixed in urbit/docs#25

[2016-06-07 00:25] joemfb opened #811 "Hoon concepts page has broken links"
`mint`, `twig`, `span`, and `limb` have broken links on the Hoon concepts page (http://urbit.org/docs/hoon/concepts/). It's not clear where those links should go.

[2016-06-07 00:34] joemfb opened #812 "different forms of twig labels are confusing"
for example, `:cons` vs `$cons`. There's clearly a difference: `$cons` prints a core (and I don't know how to call it); I can call `:cons`, but not print it. It seems like it'd be simpler if the twig reference used the `:cons` form in its descriptions. If the distinction is important in the docs, it would be helpful to call it out explicitly.

This pattern is present on most of the twig-family sum

[2016-06-07 00:36] ohAitch commented on #812
$cons is the type for %cons, and refers to the hoon mold for the AST type,
where %cons is used as a discriminated union tag. :cons is the keyword form.

On Monday, 6 June 2016, Joseph Bryan notifications@github.com wrote:

[2016-06-07 01:11] joemfb commented on #812
Thanks!

Let me try:

Is that correct?

[2016-06-07 01:16] cgyarvin commented on #812
Exactly right!

Unfortunately, in a mere English sentence it's often way too fuzzy which of these should be used where...

Sent from my iPhone

[2016-06-07 01:37] joemfb commented on #812
We must transcend mere English!

More seriously, I re-read the first half of the Hoon documentation while writing that. I think it'd be useful to present that level of information with that degree of proximity - _somewhere_. At the same time, it's not at all clear to me that reading such a sentence can be remotely meaningful without first having read the entirety of the documentation. One way or a

[2016-06-07 01:43] galenwp commented on #812
A glossary would be a welcome PR for the docs, that's for sure!

[2016-06-07 01:45] cgyarvin commented on #812
I agree with this sentiment, cubed.  It's a real weak point in the current docs!

Sent from my iPhone

[2016-06-07 01:51] galenwp commented on #811
They should link to the glossary that doesn't exist! :P

[2016-06-07 03:22] joemfb opened #813 ":cast and :new expand to :bunt, which is not defined"
`^-` (`:cast`) expands to `:like(:bunt(p) q)` (http://urbit.org/docs/hoon/twig/ket-cast/hep-cast/)

`=|` (`:new`) expands to `:pin(:bunt(p) q)` (http://urbit.org/docs/hoon/twig/tis-flow/bar-new/)

`:bunt` is not specifically defined in the docs. The closes is in http://urbit.org/docs/hoon/twig/buc-mold/:

There's a `$bunt` mold (?), but no keyword sigil for it.

[2016-06-07 04:40] joemfb opened #814 "several twigs have truncated explanations"
- http://urbit.org/docs/hoon/twig/bar-core/cen-core/

- http://urbit.org/docs/hoon/twig/cen-call/sig-open/

- http://urbit.org/docs/hoon/twig/sig-hint/cen-fast/

[2016-06-07 06:32] galenwp commented on #814
This looks like it could be a mistake in porting some doc forward.  (Which I think we probably did programmatically).

But, digging in, maybe not.  Here's an ancient version of `|%`: https://github.com/urbit/docs/blob/32c88d6ac989ed96dfeabf79a968686e33a7ed2f/docs/system/hoon/runes/br/brcn.md

[2016-06-07 06:39] galenwp commented on #814
Yeah, I thought I could find this by digging around in git history — but now I just have to ask @cgyarvin.  I have a vague memory of a conversation where he decided to rework some twig examples...

[2016-06-10 00:37] davidgrenier opened #815 "Proper word references"
I'm wondering if it wouldn't help the reader to give the familiar "incorrect" word within parentheses and the correct Urbit term in code block, such as:

A `mold` is a constructor `gate` (function) [...]

As opposed to:

A `mold` is a constructor function (`gate`) [...]

I feel it may speed up absorption a little bit. If you agree I'd be willing to go through with it and send a pull request.

[2016-06-10 00:39] ault011 commented on #815
I personally think that this is a great idea, and have heard similar feedback. Would love to hear other input, though @curtis, @phil, @anton, @joey

[2016-06-10 00:48] galenwp commented on #815
The combination of this and a glossary would be great

[2016-06-10 00:49] ault011 commented on #815
(That’s a yes, please go for it and let me know if  you need any help!)

[2016-06-10 00:55] galenwp commented on #815
Woah there. Definitely would like to hear @cgyarvin and @philipcmonk weigh in.

[2016-06-10 00:56] ault011 commented on #815
sorry i just got really excited :p

[2016-06-10 00:57] cgyarvin commented on #815
Yes!

Sent from my iPhone

[2016-06-10 00:59] philipcmonk commented on #815
Personally, I think in most cases the urbit word isn't useful and we should just use the "incorrect" word all the time.  However, since we seem dead-set on teaching everyone the new words, we should probably go all the way.  I think "gate (function)" will teach faster than "function (gate)".

[2016-06-10 01:00] ault011 commented on #815
actually +1

[2016-06-10 01:02] davidgrenier commented on #815
Ok I'm gonna finish reading the entire Hoon section and get to it, then feel free to take it or leave it as It'll be worth giving me a second reading either way.

[2016-06-10 01:33] joeykrug commented on #815
Yeah I suggested something similar to this a couple weeks back as that's the urbit/docs#1 issue i ran into in the paper, going back and looking up definitions again and again; glossary would be great too

[2016-06-13 22:44] galenwp opened #816 "Change ^x to ctrl-x, or use both?"
As per: https://www.reddit.com/r/urbit/comments/4ny941/the_command_line_doesnt_work/ it seems like it might be confusing to say `^x` when we mean `ctrl-x`.  I think @asgardiator and I talked about this the other day.

Any reason not to just switch?  I know `^X` is a convention, but I'd rather not confuse anyone.

[2016-06-13 22:48] philipcmonk commented on #816
Agree that ctrl-x is better.

On Mon, Jun 13, 2016 at 3:44 PM, Galen Wolfe-Pauly <notifications@github.com

[2016-06-13 22:55] 0x70b1a5 commented on #816
+1 or should I say "plus 1"

On Mon, Jun 13, 2016, 15:48 Philip Monk notifications@github.com wrote:

[2016-06-13 23:01] philipcmonk commented on #816
Dude, this is urbit.  It's clearly "lus 1".

Also, this is 2016, so we have little emojis we can use on issues.  But since we don't get notifications from them, they're pretty much useless.  Fun, though!

[2016-06-13 23:15] ohAitch commented on #816
They're useful if 50 people want something to happen, but the maintainer
doesn't want 50 notifications

And yeah, I agree with maximally unambiguous keyboard shortcut
descriptions.

On Monday, 13 June 2016, Philip Monk notifications@github.com wrote:

[2016-06-14 01:45] knubie opened #817 "Had to use `{{arg/TYPE $~} $~}}` instead of `{{arg/TYPE ~} ~}}` in arvo/subject"
Referring specifically to [this line](https://github.com/urbit/docs/blame/master/docs/arvo/subject.md#L96), I had to use `{{arg/TYPE $~} $~}}`, as `{{arg/TYPE ~} ~}}` would throw an error. Not sure the reason why though!

[2016-06-14 01:54] cgyarvin commented on #817
Ooh, that's a doc error.

~ is ^-(@n 0), ie, nil.  $~ is |=(\* ~), ie, the mold for ~.

Sent from my iPhone

[2016-06-14 02:17] knubie commented on #817
Gotcha! I'll make a pull request.

[2016-06-15 16:36] alethiophile opened #818 "Usage instructions out-of-date"
Various usage instructions and examples under `using/filesystem` are now apparently out of date. For instance: `|merge %desk [~planet-name %desk]` now gives `nest-fail`, and only functions with `|merge %desk /~planet-name/desk=`; `|sync %desk ~planet-name` fails, requiring instead `|sync %desk ~planet-name %desk` (docs state the remote desk is optional if the same as the local desk); `|cp /path1 /

[2016-06-15 16:54] galenwp commented on #818
This is a good catch. Would you be up for submitting a PR?

[2016-06-15 16:57] ohAitch commented on #818
I don't know about "out of date", none of those sound compatible with any
version of the generators I've ever seen. Definitely broken regardless.

On Wednesday, 15 June 2016, Tom Hunt notifications@github.com wrote:

[2016-06-15 17:15] alethiophile commented on #818
I could make a PR with examples of the invocations that have worked for me. I don't know enough about the underlying concepts to really correct the descriptions. (For instance, what exactly is a 'beak'? Docs say a cell `[~planet-name %desk]` qualifies, but that doesn't work. I don't know what's correct.)

[2016-06-15 17:30] galenwp commented on #818
Hm.  Fair.  To be clear, you're referring to: http://urbit.org/docs/using/filesystem/ ?  I think @ohAitch will handle this.

[2016-06-15 17:32] ohAitch commented on #818
On it. A beak is definitely neither a ship-desk cell nor
/~doznec/home/2/web/md(which has a subpath)

On Wednesday, 15 June 2016, Galen Wolfe-Pauly notifications@github.com
wrote:

[2016-06-15 19:51] knubie opened #819 "Glossary of terms"
Because Urbit introduces _so many_ novel terms and nomenclatures, it may be helpful to have a master glossary page added to the docs as a quick reference for everything. As of now, all of the definitions/explanations for these terms are split across multiple categories and subcategories and can be difficult at times to know where to find the one you're looking for.

[2016-06-15 19:54] philipcmonk commented on #819
There is work moving forward on this, mostly by @joemfb and @asgardiator .  I believe this is where the work is going on:

https://github.com/joemfb/docs/pull/2

[2016-06-16 15:07] alethiophile opened #820 "Failing examples for arvo/network"
Under `arvo/network`, the three examples (echo, square, pong) all give different definitions of the door argument. Only the one in `echo.hoon` works; the others fail with `-find.$` or similar. The definitions:

echo.hoon:

[code]

square.hoon:

[code]

pong.hoon:

[code]

Both `square.hoon` and `pong.hoon` work correctly if given `echo.hoon`'s argument definition.

[2016-06-16 15:57] galenwp commented on #820
That looks to me like a 151-ization mistake. Your solution is right. Mind sending a PR? This should be easy.

[2016-06-17 18:35] galenwp commented on #815
Just bumping this (although it's closed) since it just came up in the office.  Glossary has come a long way, this would also be great.

[2016-06-21 19:15] chc4 commented on #813
We have the bunt variant for a twig, but never actually register it in the keyword parser. Just adding `(word %bunt expa)` to https://github.com/urbit/arvo/blob/master/arvo/hoon.hoon#L9844 should work

Side note, but I'm pretty sure that https://github.com/urbit/arvo/blob/master/arvo/hoon.hoon#L239 is wrong - `%$(_1)` is syntax erroring, and we never actually register a %bunt rune, especially not

[2016-06-22 02:25] knubie opened #821 "Code in /arvo/network/ is different from urbit/examples code"
Specifically in the section "Sending a message to another urbit" the docs describe a "target" as an "urbit and app" with the code

[code]

However in the [examples/pong.hoon code](https://github.com/urbit/examples/blob/master/gall/pong/app/examples/pong.hoon#L15) the line is

[code]

where `%pong` is replaced with `dap`.

[2016-06-22 04:35] galenwp commented on #821
@philipcmonk will know the answer here.  Good catch.

[2016-06-22 04:36] galenwp commented on #818
@ohAitch should we merge your branch?

[2016-06-22 04:37] ohAitch commented on #818
Yup, when I made the PR I thought docs also had "master == deploy" semantics

[2016-06-22 04:39] galenwp commented on #818
Well, it looks like the PR didn't get closed for a few minor issues.  You're free to close it when it's ready, of course.

And yeah: master gets deployed periodically.

[2016-06-22 04:41] ohAitch commented on #818
Ah right, the `ship` vs `urbit` thing. I'll put it on my list

[2016-06-22 17:17] philipcmonk commented on #821
I believe the version in the examples is correct.  In docs/arvo/network, that line should be `[to dap]`.  Also, in the earlier full example it has `[to %pong]`, which should also be changed.

[2016-06-22 18:46] philipcmonk commented on #808
Woops, sorry for dropping this.  That is indeed the correct answer.  The `{}` construct is used in the doc a decent amount, but I can't find a place where it's defined.  In general, I feel like `docs/hoon/basic`'s introduction of types (spans) without giving the most common syntaxes for them is misguided.  `{}` means the `%cell` type, as you seem to have figured out.

(I know, I know, we "don't ha

[2016-06-22 18:49] ohAitch commented on #808
We don't have syntax for "types", by which most people mean spans; we do
have syntax for molds, which are explicitly called out as another
valid contender for the word.

On Wednesday, 22 June 2016, Philip Monk notifications@github.com wrote:

[2016-06-22 18:55] philipcmonk commented on #808
I'm a simple man.  I see `|=  {start/atom end/atom}`, and I see a type signature, containing an argument type.  You can try to argue this is complicated underneath, but it doesn't change the fact that it's _true_.

To be clear, though, your point here is pedantic, not pedagogical, right?  In particular, do you disagree with the proposal that when we introduce the spans in `docs/hoon/basic`, we sho

[2016-06-22 18:57] ohAitch commented on #808
Yes, I was agreeing with you that "we don't have syntax for spans" doesn't
help anyone who's using "type" imprecisely ^-^

On Wednesday, 22 June 2016, Philip Monk notifications@github.com wrote:

[2016-06-22 19:04] cgyarvin commented on #808
I would actually introduce this in the FizzBuzz exercise itself.  I think
it's a mistake to try to turn the reference docs into a tutorial -- I don't
think they can be made into a very good tutorial, and part of what makes
reference docs reference docs is that we introduce one concept at a time.

On Wed, Jun 22, 2016 at 11:57 AM, Anton Dyudin notifications@github.com
wrote:

[2016-06-22 19:10] philipcmonk commented on #808
Okay, I see your point.  What if, maybe in a sidebar (blockquote), we give a quick example or two of a syntax for creating a mold whose icon is the type you're discussing.  For those who're referring back to this after having seen the mold syntaxes, it would be easier to connect their hands-on experience with the theory.

Also, is there some part of the reference that does introduce mold syntaxes?

[2016-06-22 19:42] cgyarvin commented on #808
Sounds great.

It's in the per mold doc I think.  Ie, buried.  Your tutorials are still the best we have...

Sent from my iPhone

[2016-06-22 20:47] cgyarvin commented on #813
Fixed in https://github.com/urbit/arvo/pull/177.

[2016-06-23 04:12] philipcmonk opened #822 "Should document talk message activation"
Is it documented somewhere already?  It should go in docs/using/messaging, I think?

[2016-06-23 04:13] galenwp commented on #822
It should be in there.  Isn't it?

[2016-06-23 04:14] galenwp commented on #822
Ok, it isn't.

[2016-06-23 17:39] joemfb opened #823 "undocumented twigs"
I've been reading `hoon.hoon`, and I've come across the following undocumented twigs:

[code]

[2016-06-24 01:19] joemfb commented on #823
In urbit/docs#55, it was said that these twigs are deprecated. Is that true of all 10? Will they be removed from the language once Arvo has been refactored?

[2016-06-24 01:22] philipcmonk commented on #823
I don't think they're all deprecated.  In particular, `=~` needs to stay, I don't know what would replace `^.`, and I occasionally find `|^` useful.

[2016-06-24 02:14] cgyarvin commented on #823
=~ should be implied at the top level of any parse.  It already is in ford.

.^ is obviously just my omission.

|^ is marginal -- opinions may vary...

Sent from my iPhone

[2016-06-24 05:50] joemfb commented on #809
Here's some relevant links:
- https://github.com/urbit/old-urbit.org/blob/master/bestiary/hoon/rune/irregular.markdown
- https://github.com/urbit/docs/blob/8c634ff17e7ada8584069ee7018490471b112fb2/docs/programming/cheat-sheets/hoon.md

And also, linked from the glossary PR:

http://www.bayleshanks.com/?action=browse&id=notes-computer-programming-hoon-hoonCheatSheet&raw=1

[2016-06-24 05:51] joemfb commented on #804
gah, messed up the reference in urbit/docs#56. this should be closeable ...

[2016-06-24 06:16] joemfb commented on #809
And, while I'm at it, the `odor` cheat-sheet is really good too: https://github.com/urbit/docs/blob/8c634ff17e7ada8584069ee7018490471b112fb2/docs/programming/cheat-sheets/odors.md

[2016-06-24 06:21] galenwp commented on #809
That odors sheet looks like it just needs to be tested / normalized to the current form.  If people think it's useful, let's include it.

[2016-06-24 06:22] galenwp commented on #809
I feel like some of those irregular forms have changed, but the cheat sheet was intended to be included in these docs (to my memory).  That's a great thing to have on hand for day to day programming in hoon.

[2016-06-28 05:54] eaterjolly opened #824 "Peer-Peer Crypto Documentation"
Bearing in mind that the crypto is likely the most sensitive part of the project and extensive documentation may speed exposing vulnerable points, understanding the full extent of peer-enforced powers versus protocol-enforced powers granted by the certificates/sibyls. Also, to what degree are private keys and re-signing are significant? A person concerned about security may want to initiate a phys

[2016-06-28 17:45] ohAitch commented on #824
Cross-compatibility between two claimants on the same galaxy with different
keys, or their children, is nonexistent; similarly, whoever is in the %ames
of any other galaxy / families wins, and the other is ignored by said
family tree. Tlon is legitimate by virtue of maintaining the popular
distribution, and allocating itself a sizable portion of galaxies in that
distribution.

On Monday, 27 June 2

[2016-06-28 17:50] galenwp commented on #824
I'm not really the person to comment on most of what's brought up here: but I will say that any lack of documentation is simply a mistake to be fixed.  We still have work to do on our docs — there's certainly no intent to obfuscate.  @juped might be a good person to comment on the actual crypto code.

[2016-06-28 17:58] juped commented on #824
The specification is in the whitepaper: http://media.urbit.org/whitepaper.pdf

[2016-06-28 19:21] eaterjolly commented on #824
@juped Admitably only having read seemingly relevant sections prior to posting, please correct me if I missed anything crucial to answering my inquiry, which I don't think would be the case else I wouldn't bother raising the issue.

"Ames addresses are 128-bit atoms. Addresses above 64-bit are hashes of a public key. 64, 32, and 16-bit addresses are initially signed by their half-width prefix. Ini

[2016-06-28 19:43] ohAitch commented on #824
Hardcoded means
https://github.com/urbit/arvo/blob/master/arvo/ames.hoon#L145-L400, which
is compiled into the urbit.pill bootstrapping binary, and thereafter
available as source on any ship. Urbit is not crypto-specific, but the
initial key is, so a valid galaxy must have a certificate chain signed by
the initial one. If someone gets a hold of it, there is a key-pinning race;
someone losing but t

[2016-06-28 23:54] eaterjolly commented on #824
Isn't it the peers in question recieving a message who in turn decide whether or not to accept the certificate of an insurgent galaxy? Unless there is some sort of renewal process be necessary (which I'm sure would be necessary as the P versus NP ratio gradually depreciate over time, both through discovery and through weakening of the underlining formula) in order to maintain "Star Citizen"-ship (

[2016-06-28 23:59] eaterjolly commented on #824
(The chief implication being, each star/galaxy would have it's own real world or (arbitrary-work) artistic or (arbitrary-work) endorsement requirments for newly joining sibyls. Mostly the difference would be technically arbitrary, but culturally and ethically significant in non-normative unobvious fashion.)

(Cooperation being non-trivial, each citizen would have to invest confidence in a particul

[2016-06-29 02:51] ohAitch commented on #824
The peers do decide whether to accept the new certificate; and the renewal
process is communicating said new certificate to all existing peers.
Non-peers are less critical, though in practice at least on the star level
all updates are flooded across the network.

The longterm authority of Tlon is intended to disappear, or rather be
complemented by similar levels of authority from other galaxy-hold

[2016-06-29 04:11] joemfb opened #825 "truncated paragraphs in whitepaper"
End of section 4.2, page 10: "for the relationship between the ... identity of the node"

[2016-06-29 04:41] joemfb commented on #825
Wasn't sure where I should put this ...

A couple other minor issues:
- page 14: "a ordinary noun"
- page 25: "Arvo application core (whether vane or userlevel app) core"

[2016-06-29 18:12] eaterjolly commented on #824
Yes, perhaps I referred directly to Tlon too liberally here. There is a lot of question of governence when it comes to Urbit, but not a lot of information on what 'powers' exist with regards to the address space or what stake planets have which provide a medium for force to be used. As the saying goes government is just "a community of people with the monopoly on the legitimate use of force".

I f

[2016-07-08 23:16] philipcmonk opened #2 "Objections typo"
[code]

[2016-07-14 22:44] ohAitch opened #826 "+- wet arm syntax undocumented"

[2016-07-14 23:33] joemfb commented on #826
Implicitly documented in `|*` ;)

https://urbit.org/docs/hoon/twig/bar-core/tar-gill/

[2016-07-14 23:40] joemfb opened #827 "undocumented tree addressing syntaxes"
Lark syntax and whatever you call `&n` and `|n` are currently undocumented.

[2016-07-14 23:43] cgyarvin commented on #827
Crap you're right.  We really need a better central place for all irregular forms...

Sent from my iPhone

[2016-07-14 23:45] juped commented on #827
I call them "at" and "after", but don't recommend this because & is not @

[2016-07-14 23:47] ohAitch commented on #827
I distinctly remember creating a doc/hoon/irregular.md on at least two
separate occasions. Which repo's history is that likely to be in?

On Thursday, 14 July 2016, Raymond Pasco notifications@github.com wrote:

[2016-07-14 23:48] joemfb commented on #827
I added some links to urbit/urbit.org#809 ...

[2016-07-14 23:49] juped commented on #827
Probably docs. But it may only have existed on your personal checkouts.

[2016-07-22 20:33] cgyarvin opened #828 "Library docs aren't searchable with ^f"
A single-page rendering would be much desired.  (courtesy of ~hobten-hinrym).

[2016-07-22 20:36] Fang- commented on #828
In the vein of searchability: I heard there used to be a built-in search function. Might be worth bringing that back if it works well enough.

[2016-07-23 17:17] hotgiraffe opened #829 "Urbyte 0 fake ~zod creation issue"
The procedure for creating a fake ~zod in "Urbyte 0: setup and nouns" didn't work for me, urbit just sat waiting for the hood indefinitely.
There was an error about missing ./arvo directory though.
On a whim I cloned urbit/arvo repo and symlinked it into the current directory; this time the fake ~zod was up and running in a minute.

[2016-07-23 17:47] cgyarvin commented on #829
Sorry!  Of course you did the right thing.  We fixed this in the docs but seem to have somehow reverted the live site...

Sent from my iPhone

[2016-07-23 18:01] cgyarvin commented on #829
You should see the correct instructions now when you look at Urbyte 0.  If
not, I'd love to hear it!  There may be some Cloudflare or other caching
badness...

On Sat, Jul 23, 2016 at 10:47 AM, curtis.yarvin@gmail.com wrote:

[2016-07-23 18:26] hotgiraffe commented on #829
yes, the docs are good now! thanks

[2016-07-25 20:36] galenwp commented on #828
You can see the component here: https://github.com/urbit/tree/blob/master/js/components/SearchComponent.coffee

I think it depended on a renderer or something — which was slow.  @ohAitch would remember.

[2016-07-30 18:51] hoclun-rigsep opened #830 "examples mix keyword stems and runic stems"
Example:

A trivial gate:

[code]

A slightly less trivial gate:

[code]

If I got some guidance on this I would regularise the examples found in docs/hoon/twig.

(It's cool to have quasi-sensible names for the twigs, like `|_` 'door', but they should IMHO never be used in example code in `:door` form.)

[2016-07-30 19:04] galenwp commented on #830
I agree that these should all be the same.  Why not just make them all show both styles?

[2016-07-30 19:23] chc4 commented on #830
Maybe something like how the [React website](https://facebook.github.io/react/) does it? Have a text box with both, and be able to switch between them via tabs.

[2016-07-30 20:19] cgyarvin commented on #830
I'd love any of these kinds of solutions!  No need for anything super fancy...

Sent from my iPhone

[2016-07-30 23:38] galenwp commented on #830
I say let's start with examples mirrored in both syntaxes.  Doing something mirrored should be as simple as adding a component to tree and just wrapping the two examples in it.

@hidwes-matped, would you be up for working on this?

[2016-07-31 00:26] hoclun-rigsep commented on #830
@galenwp if I knew exactly what you meant by 'mirrored,' I would work on this.

[2016-07-31 00:33] galenwp commented on #830
For example, one instance that uses `:door` and one that uses `|=` in successive codeblocks.

[code]

[code]

Or did I misunderstand your original thinking?

[2016-07-31 00:39] hoclun-rigsep commented on #830
No that's just fine, I can do that.

[2016-07-31 00:50] galenwp commented on #830
Great!  We're here to help if you need it.

[2016-07-31 23:00] hoclun-rigsep commented on #821
Will address in next pr

[2016-07-31 23:52] hoclun-rigsep commented on #830
On the supposition that this is the appropriate place for it, here's what I
think about the runes and keywords, based solely on one man's experience
throwing himself into hoon for the past two weeks.

I believe keyword forms should never appear in code blocks or example
code. The keyword forms scream 'forced compromise.' They introduce
another 'sigil,' `:`, when we already have `$word`, `%word`, a

[2016-08-01 01:40] juped commented on #830
The truth is, nobody likes them but Curtis. But, might I plug http://urbit.org/fora for discussions? (Sign on at http://[your-ship].urbit.org/ to post under your own name on urbit.org.)

[2016-08-01 01:51] hoclun-rigsep commented on #809
Where in the hierarchy do we want a glossary of irregular forms?

[2016-08-01 06:51] galenwp commented on #809
Off the cuff I'd say `/hoon/twig/irregular.md` (or similar).  @cgyarvin, what do you think?

[2016-08-01 18:42] cgyarvin commented on #830
Ha ha, you try playing god-emperor sometime.  Everybody thinks for some
reason it must be fun.  It's no fun being right when everyone else is
wrong, I can tell you that.

hidwes, everything you say is basically true.  (Although people who learned
without the keywords _do_ say, internally and externally, "barcab" instead
of "door.")  This is in general a really insightful comment and reminds me
of

[2016-08-03 03:38] eaterjolly opened #831 "Clarification of What is a Ship and How one comes about"
After spending sometime considering what it could possibly mean for the address namespace to be "pre-mined" a wording I realize to be absent from the docs, however still confusing.

If I'm correct, the urbit network requires each peer to retain 3 unique bytes of data. A public key, a private key, and a ship. The public key is a comet, effectively. It is used in combination with the private key to

[2016-08-03 18:03] cgyarvin commented on #831
To say that a public key implies a comet is slightly not-quite-right.  A key is not a ship.  Possession of a keypair whose public key hashes to a certain 128-bit number implies the right to create a comet whose address is that number.  But in theory, that comet could even rekey and transfer its ownership to a new keypair -- I don't know _why_ anyone would want to do this, but it's technically quit

[2016-08-03 18:07] galenwp commented on #831
(We haven't really talked about it much publicly since it's still basically being tested — but https://urbit.org/fora is a good place for this kind of post too!)

[2016-08-03 19:01] eaterjolly commented on #831
So a comet is technically the hash of a public key, but wouldn't it be _simpler_ to make it the public key itself? This way there would be no feasible way to _try_ and transfer it. I know it sounds like a nuance, but the consideration is made out to anticipating that a new user may understand the protocol (through access to source code alone) and see it as technically feasible however be ignorant

[2016-08-03 19:45] juped commented on #831
The obvious problem here is that the public keys are giant RSA keys. And even in crypto B, where they’re not, they’re still 512-bit keys.

But this is different from the will of a ship, which tells you its actual current key. Comets just have a special way to assert authority for their _creation_, which is self-signing rather than parent signing. Will _updates_ are always signed by the previous wi

[2016-08-03 20:26] eaterjolly commented on #831
I apologize, this is my ignorance on this matter showing.
My experience with keys was been limited to light usage of gpg, and I had assumed the fingerprint was the public key and the rest was embedded meta-data.

That leads to the next question, why can't the fingerprint then be used. And, the answer which would be most expected would be that the fingerprint of an rsa key is it's hash..

If it isn

[2016-08-03 21:58] juped commented on #831
“key fingerprint” is a term of art meaning “fixed-length hash of a public key”.

[2016-08-04 02:10] eaterjolly commented on #831
I appreciate all the clarification here. Really the only thing perhaps that deserves more WP:DUEWEIGHT as they say in the wiki-world, would be that a ship is a name attached to a long rsa public key.

I imagine that information would eventually be a crucial distinction to anyone trying to explain how urbit works to a friend or wants to use a pre-existing key pair (if say they want to associate the

[2016-08-04 05:51] eaterjolly commented on #831
urbit/docs#86
I made a fork. One probably could do more to clarify besides just this small edit, but it's my proposal for a stop-gap measure atleast.

@galenwp Unfortunately, it doesn't seem to allow me to post as a comet and I lack a device with the 2gb ram required to run urbit atm, so there really wouldn't be much point in getting a planet.
I am very much interested in the network system urbit

[2016-08-10 07:05] ghost opened #832 "Broken link on shell"
From the url "http://urbit.org/docs/using/shell/" clicking on the link from "For a complete explanation on urbith paths, see the filesystem section)" to the filesystem section cannot be resolved because it goes to "http://urbit.org/docs/using/shell/filesystem.md". The next page in the doc is the filesytem doc. At the bottom of the page if you click "next: filesystem" it correctly takes you to "htt

[2016-08-17 21:35] ault011 opened #833 "mark conversions do not work in marks quickstart chapter"
`~fintud-macrep:dojo> &examples-cord &atom &examples-cord &atom 9` should give:

`'57'`

but instead:

ford: no link: [%examples-cord %atom]
ford: casting %examples-cord to %atom
ford: cast %atom

Similarly: `~fintud-macrep:dojo> &examples-cord 17` should give:

`'17'`

but instead:

[code]

[2016-08-17 21:41] ault011 opened #834 "up.hoon app from HTTP request chapter does not work"
I inserted the proper mark (++ cord) from the marks section and then successfully poked the app as per the instructions: `:examples-up &cord 'http://www.google.com'`

The output should be:

[code]

with printfs occurring every 10 seconds. But instead, nothing happens.

According to the tutorial, there should be printfs every 10 seconds or so verifying that the app is up.

[2016-08-17 21:54] ault011 opened #835 "Security Driver quickstart chapters need serious attention"
In the security drivers chapter, everything works up until the example code following this text: ‘Creating an app is easy and well-documented.‘

Then the rest of it is broken.

[2016-08-17 21:56] ault011 opened #836 "API Connector quickstart chapter has broken example code"
According to @juped , the API connectors example code is broken. Either @philipcmonk or @ohAitch should probably take a look at it to determine whether or not we should fix it or just omit this chapter for now.

[2016-08-17 21:56] ault011 opened #837 "Arvo Internals Quickstart chapter is incomplete"
http://urbit.org/docs/arvo/internals/

[2016-08-18 01:20] eaterjolly commented on #831
After my fork being merged, I consider this issue resolved. [For the most part.]

[2016-08-25 14:21] joemfb opened #3 "the dao blog post is broken"
http://urbit.org/blog/dao/

[2016-08-25 15:20] galenwp commented on #3
Thanks. Looks like it didn't sync properly.

[2016-08-26 12:32] hoclun-rigsep opened #838 "No anchor links or index for standard library"
Finding the documentation for a given arm requires one to grep the source or else guess which section it's in. Also can't link to anything from other parts of the docs.

[2016-08-26 18:50] philipcmonk commented on #838
Definitely agree that at least the standard library should be searchable.

It is actually possible to link to a specific section using its id, like this:  http://urbit.org/~~/docs/hoon/library/4n/#-mong

It's not intuitive how to do this, so I'd argue there should be a "permalink" button or something.

[2016-08-26 18:59] galenwp commented on #838
Yeah, it should be searchable.  One experiment worth trying would be just loading everything on a single page.  Then it could at least be ctrl-f-able.

Also agree that tree should have the standard 'link' next to any header.  We do tag them all with ids for this purpose.

[2016-08-28 12:26] Fang- commented on #804
Ping, this can indeed be closed.

[2016-08-28 12:27] Fang- commented on #805
Fixed in urbit/docs#6, this issue can be closed.

[2016-08-28 12:42] Fang- commented on #819
Glossary has been added to the docs in urbit/docs#34, this issue can be closed.

[2016-08-31 17:22] ohAitch opened #839 "Explain difference between %hiss and %them"
They are both "make an http request", but `%hiss` is a wrapper around `%them` that does mark translation and authentication.

[2016-10-31 02:08] #3 closed, assigned to nobody

[2016-12-03 22:38] hoclun-rigsep commented on #823
Is |^ the wet version of |_ ?

[2016-12-03 22:43] cgyarvin commented on #823
No, |^ is a |_ crossed with a |-.  I'd plotted to get rid of it but was foiled by popular demand...

Sent from my iPhone

[2016-12-03 22:44] hoclun-rigsep commented on #823
Ok.

What did you mean by:

[2016-12-03 23:05] cgyarvin commented on #823
You should be able to write a file that's not one twig, but a list of twigs implicitly connected by =>.  Everything loaded by %ford, which is anything not a vane or hoon.hoon, already works this way.

Sent from my iPhone

[2016-12-07 04:11] joemfb opened #840 "unable to install libsigsegv-devel on Amazon Linux"
With regards to http://urbit.org/docs/using/install/,

I tried recently, and wasn't able to resolve the package, even with yum --enablerepo epel.

I was able to build urbit by manually installing libsigsegv from source -- I just thought the absence of the package should be noted here.

[2016-12-07 06:03] galenwp commented on #840
Thanks for reporting this.  I feel like we should just provide a public AMI.  Thoughts?

[2016-12-07 06:05] ohAitch commented on #840
A dockerfile would probably make more sense, if the network issues got
resolved

On Tuesday, 6 December 2016, Galen Wolfe-Pauly <notifications@github.com>
wrote:

[2016-12-07 06:08] galenwp commented on #840
Isn't it much, much simpler to just launch a specific AMI?

[2016-12-07 06:26] cgyarvin commented on #840
Galen is right.

Sent from my iPhone

[2016-12-07 06:45] galenwp commented on #840
I'm all for providing a dockerfile as well. And fixing the related networking issues.

[2016-12-19 19:53] ohAitch opened #7 ""Empty path" weird text color"
This should be CSS'd white or something, right?
<img width="1554" alt="screenshot 2016-12-19 11 51 20" src="https://cloud.githubusercontent.com/assets/1857414/21326930/9fbfb3a8-c5e1-11e6-8bcd-370e2c54e0a0.png">

[2017-01-30 00:51] hoclun-rigsep opened #841 "Fix 164 syntax in about/runtime.md"
From about/runtime.md:

    |  ++  arvo
    |    |%
    |    ++  come  |=  [yen=@ ova=(list ovum) nyf=pone]  ::  11
    |              ^-  [(list ovum) _+>]
    |              !!
    |    ++  keep  |=  [now=@da hap=path]                ::  4
    |              ^-  (unit ,@da)
    |              !!
    |    ++  load  |=  [yen=@ ova=(list ovum) nyf=pane]  ::  86
    |              ^-  [(list ovum) _

[2017-01-30 01:17] hoclun-rigsep commented on #835
`[%e %vi %pump-blocked /com/github 6]`

[2017-01-30 01:19] hoclun-rigsep commented on #836
The instructions work up to here: `~your-urbit:dojo> .^(arch %gy /=gh=/issues)`
That fails with:

     %ap-slam-mismatch
     /
     {ren/@tas tyl//}
     peek slam fail
     gall: %gh: call: %peek: type mismatch

I can get it to work by changing the sample mold in ++peek:

`|=  {ren/@tas tyl/path}` becomes `|=  *`, and it works, producing the expected result. Unfortunately I don't really understa

[2017-01-30 01:21] galenwp commented on #835
This error is something I'm familiar with, but could you let us know how you can ended up there?

Sent from my phone

[2017-01-30 01:38] hoclun-rigsep commented on #835
It is as ault011 says: follow the instructions under the OAuth2 heading and this is what will happen. It doesn't matter whether you've run `|init-auth-basic` first or not. The loading of the keys from github seems to work fine. The dojo examples using `|init-auth-basic` seem to work fine, including those set out in the API Connectors page. The error from my last comment, `[%e %vi %pump-blocked /co

[2017-01-30 01:51] galenwp commented on #835
Ah, sorry. Got this as an email and was confused. Yeah, this needs attention.

[2017-01-30 17:53] cgyarvin commented on #841
Yeah, that's the old syntax (Hoon 164).  These docs need to be updated for
the latest syntax (151).

On Sun, Jan 29, 2017 at 4:51 PM, hoclun-rigsep <notifications@github.com>
wrote:

[2017-01-30 17:58] cgyarvin commented on #835
This is an %eyre error which seems to indicate that the security driver has
crashed.  Anton the %eyre expert can probably say more.

Note that we're planning to move the security drivers to %gall in
cc-release...

On Sun, Jan 29, 2017 at 5:51 PM, Galen Wolfe-Pauly <notifications@github.com

[2017-01-30 20:51] heow opened #842 "docs html underline rendered too low in Firefox"
<img width="1178" alt="screen1" src="https://cloud.githubusercontent.com/assets/137922/22441085/e68839c0-e703-11e6-82cc-26b5882f99e9.png">

[2017-01-30 23:20] hoclun-rigsep commented on #835
OK. Would it be imprudent to work on the API connectors for this reason? You could also read that as, what can I do around here?

[2017-01-30 23:32] cgyarvin commented on #835
"Imprudent" is too strong a word -- anything you do in API connectors will
probably be portable.  The road is very rocky and not under maintenance
right now.   But we'll always at least try to help!

Anton, did I forget to cc you here?  What do you make of this issue in
vi:eyre?

On Mon, Jan 30, 2017 at 3:20 PM, hoclun-rigsep <notifications@github.com>
wrote:

[2017-01-30 23:34] galenwp commented on #835
We'd certainly like it to be under maintenance.

[2017-01-30 23:36] cgyarvin commented on #835
Sorry, "under maintenance" was me misspeaking.  We are maintaining the
maintenance branch.  I just meant not "under reconstruction" on the master
branch.

On Mon, Jan 30, 2017 at 3:34 PM, Galen Wolfe-Pauly <notifications@github.com

[2017-01-31 16:33] heow commented on #842
Looks like it's this CSS controlling it, in the codemirror-fonts-bootstrap-tree.css:7768

.sections h1:first-of-type {
    padding-bottom: 1rem;
}

Looks like a lib, poking around to see if it's easily overridden locally.

[2017-01-31 20:45] galenwp commented on #842
Yep, that sounds right.  I think we're bundling our css — it's probably from https://github.com/urbit/tree/blob/master/css/_sections.scss

[2017-01-31 22:31] ohAitch commented on #835
What's happening here is that one of your requests is not returning for some reason.  The core problem is that some HTTP requests [hang open indefinitely](https://github.com/urbit/urbit/issues/784), causing the queue of outbound API requests for a domain to become blocked.

That's what the `pump-blocked` printf is telling you.  You can change `?.  liv` to `?.  |(liv =(4 ~(wyt in req)))` in `%eyre`

[2017-02-02 10:54] urcades opened #843 "Tiny lil' misspelling in 'Layout' doc page"
https://github.com/urbit/docs/blame/master/docs/using/layout.md#L94

'Default web **requets**' => 'Default web **requests**'

That's all ✔️

[2017-02-02 22:20] hoclun-rigsep commented on #843
Addressed in upcoming pr

[2017-02-02 22:28] cgyarvin commented on #843
Thanks both!

On Thu, Feb 2, 2017 at 2:20 PM, hoclun-rigsep <notifications@github.com>
wrote:

[2017-02-02 22:29] ohAitch commented on #841
yup, now it's {p/wire q/card}

On Thu, Feb 2, 2017 at 2:27 PM, hoclun-rigsep <notifications@github.com>
wrote:

[2017-02-04 00:13] matthewrj commented on #835
How do you clean up the queue and escape from the pump-blocked state. Right now all requests to api.github.com result in [%e %vi %pump-blocked /com/github 13] and I'm not sure how to proceed.

[2017-02-04 06:18] galenwp commented on #842
I think this should be fixed.

[2017-02-05 20:18] hoclun-rigsep commented on #835
Right now I am merely editing the existing security drivers and connectors so they will compile after the structural changes in zuse and hoon. Need guidance on writing things like `role:lines:clay` as opposed to

     =,  clay
     =,  lines
     [...]
     role

or

    =,  clay
    [...]
    role:lines

(And while on the subject, the relationship between `.` and `:` has always been a little myst

[2017-02-05 20:40] cgyarvin commented on #835
Anton's fix above (at line 1947 of eyre.hoon on master) should clear this.

But... I would suggest working out of a fakezod and killing it.  There's a
lot of dodgy code in this area.

On Fri, Feb 3, 2017 at 4:13 PM, Matthew Jones <notifications@github.com>
wrote:

[2017-02-05 20:42] cgyarvin commented on #835
Since we don't have clear guidelines yet, use your best judgment.  You
certainly want to minimize =,.  It complicates the semantics of the
subject.  But what makes your code more readable?  That's hard to
micromanage.

I can't do anything about your creepy feeling!

On Sun, Feb 5, 2017 at 12:18 PM, hoclun-rigsep <notifications@github.com>
wrote:

[2017-02-05 21:08] hoclun-rigsep commented on #835
As in, `urbit -c` a new fakezod every time the, uh, pump gets blocked?

[2017-02-05 21:09] cgyarvin commented on #835
That's the best I can do at the moment!  I'll talk to Anton about it on
Monday.

On Sun, Feb 5, 2017 at 1:08 PM, hoclun-rigsep <notifications@github.com>
wrote:

[2017-02-05 21:10] hoclun-rigsep commented on #835
10-4, just making sure that's what you meant.

[2017-02-05 21:20] hoclun-rigsep commented on #841
fixed in forthcoming pr

[2017-02-05 21:55] galenwp commented on #835
I believe that editing that line in eyre and pushing another request on the stack is all that's needed.

[2017-02-08 05:42] andrewlmurray opened #844 "Multiple links broken on root docs page when browsing back from other pages"
To reproduce:

1. Load urbit.org/docs/. notice the link is in the top paragraphs are all correct.

2. Browse to a sub-page (for example visit http://urbit.org/docs/using/install/)

3. Click the urbit-tilde in the top left corner to return to the main page (don't use the back button)

4. Notice all the links in the top paragraphs are now missing /docs and thus route to pages
that don't exist.

[2017-02-08 05:44] xykj61 commented on #844
@galenwp Is this a Tree issue or an issue in our Markdown links?

[2017-02-08 06:47] galenwp commented on #844
This is a good catch.  Thanks!

The issue is that you don't get a trailing slash when returning to `/docs`.  I think we'll need to update the `navhome` to be `/docs/` in all the YAML.  See: https://raw.githubusercontent.com/urbit/docs/master/docs/using/install.md.

[2017-02-08 19:17] xykj61 opened #845 "Markdown YAML order sorting incorrectly."
The reason the docs/arvo pages seem out of order (Security Drivers and API's coming before basic Hoon material) is because the YAML sorting is not functioning properly. Tree is sorting `11` and `12` before `2` and `3`. I tried fixing this by changing pages 0-9 to 00-09. This didn't work, but changing the page range from 1-12 to 11-22 fixed this.

Going to PR this so it works, but not sure if there

[2017-02-08 19:21] cgyarvin commented on #845
The numbering model makes it a huge pain to add a chapter in the middle of
something.  -1.  Would be nice to do it some other way.

On Wed, Feb 8, 2017 at 11:17 AM, Keaton Dunsford <notifications@github.com>
wrote:

[2017-02-08 20:14] galenwp opened #846 "Ford horn rune documentation"
_From @chc4 on June 17, 2015 18:47_

Although the %ford commentary file mentions all the different horns and what they do, it's not the most discoverable place for it. The guide/a-ford.md tutorial, for example, says to check the rune index for the horn runes, but they aren't actually there yet.

Either a rune subdirectory for fas or one for %vane-specific runes should probably be created (along wi

[2017-02-08 20:14] galenwp commented on #846
These should definitely be in the rune index. Thanks!

[2017-02-08 20:14] galenwp commented on #846
OK, now the runes are actually on track to being realized: https://github.com/urbit/docs/tree/reorg.  @chc4 it would be great if you wanted to add these to https://github.com/urbit/docs/tree/reorg/docs/system/hoon/runes.

[2017-02-08 20:14] galenwp commented on #846
_From @chc4 on February 28, 2016 1:50_

I think there were some changes to the ford runes recently to make it differ from the %ford commentary (which, incidentally, seems to have disappeared)
/!mark/ and https://github.com/urbit/arvo/issues/34 are the ones I've noticed, but there might be others. Reading ford.hoon also isn't the easiest thing to understand - https://github.com/urbit/arvo/blob/mast

[2017-02-08 20:14] galenwp commented on #846
Yes, I do think some of these are in flux (as per discussion here: https://github.com/urbit/examples/issues/13).  @ohAitch can help understand `%ford`.

[2017-02-08 20:14] galenwp commented on #846
We do need to have the ford runes documented somewhere.  Maybe @keatondunsford can work on this at some point.

[2017-02-08 20:39] xykj61 opened #847 "HTTP to HTTPS?"
From /docs/using/admin

But our 'secure" HTTPS is probably still better than normal HTTP, yes? Because almost all our docs right now use `http` in Urbit links. and our instructions regarding `localhost` all say to use port `8080` instead of `8443`.

[2017-02-08 20:59] galenwp commented on #847
Our links should just use `//`, meaning that if you showed up on HTTPS you stay on HTTPS.  (Just checked, and this appears to be the case).

The HTTPS on urbit.org is different from what's being described there.  That's referring to the actual SSL implementation within Urbit itself.  In general, we try to be as conservative about our security promises as possible.

When browsing locally it really

[2017-02-08 21:01] galenwp opened #848 "Document backspace in dojo"
As discussed in https://github.com/urbit/urbit/issues/336

[2017-02-08 21:03] galenwp opened #849 "! runes are incomplete"
_From @ohAitch on October 26, 2015 21:34_

The page for `!_` should mention how `!:` and `!.` work, not claim it's tall/wide form is `?!`.
Other runes should be checked for similar issues.

_Copied from original issue: urbit/urbit#459_

[2017-02-08 21:37] galenwp opened #850 "A catalog of syntax collisions with other languages"
_From @ohAitch on December 1, 2015 16:14_

C, bash, js, perl; I'm sure there's a list of the top 50, or at least 10, somewhere, and it would be useful to be able to point people at a reference for what expressions mean completely different things in hoon vs. something else you might be used to. A sort of inverse Rosetta code, maybe; the list could also contains expressions that _do_ mean the same

[2017-02-08 21:37] galenwp commented on #850
_From @ohAitch on February 25, 2016 19:17_

Found the list: http://rigaux.org/language-study/syntax-across-languages

[2017-02-08 22:03] galenwp opened #851 "%eyre endpoints not documented"
_From @ault011 on December 11, 2015 8:41_

Started a  fake ~zod and fake ~bud, with my fifa app running on ~zod. When I tried to login to the app with `bud` using the url `http://localhost:8444/~bud/home/pub/fifa`, I received the error below.

This line in particular showed me that something wasn't right: `[p=~bud q=%home r=[%tas p=%pub]]`

Note also the `; ~bud |Haile Selassie| is your neighbor`

[2017-02-08 22:03] galenwp commented on #851
_From @ohAitch on December 11, 2015 18:33_

The problem here is that the url for accessing a file as another ship is `/~/as/~bud/home/pub/fifa`, while just `/~bud/home/pub/fifa` is accessing a file _on_ another ship, with a revision of `%pub`(hence the request never completing, the label doesn't exist).

This is of course documented nowhere public, and should be.

[2017-02-09 02:12] cgyarvin commented on #846
This has always been a troubling organizational problem in the doc. They're
not part of Hoon in the strictest, most autistic sense.  But...

On Wed, Feb 8, 2017 at 12:14 PM, Galen Wolfe-Pauly <notifications@github.com

[2017-02-09 02:27] galenwp commented on #846
... but we're going to document them anyway.

[2017-02-09 04:03] xykj61 opened #852 "'Function', 'arguments', & 'args' are "wrong" terminology."
There are a number of docs which, out of seemingly being hastily written from familiarity, use "non-Urbit" technical terminology such as 'functions' and 'arguments' instead of 'gate' and 'sample', just to name a few. Not a *huge* deal, but as with many of the other things I'm going through, it might help to be consistent.

@cgyarvin, thoughts?

[2017-02-09 19:54] galenwp commented on #852
I honestly feel like we should be doing more of that, and earlier on.  Or at least provide some kind of a glossary / key.

[2017-02-09 19:55] galenwp commented on #852
As per: https://github.com/urbit/docs/issues/134

[2017-02-09 19:56] galenwp commented on #845
This is a tree bug, and should be fixed there.  Can you move this issue there?  I understand the number ordering is annoying, but we're just matching Jekyll here.  Happy to hear another solution, but fixing the existing intended behavior isn't that hard.

[2017-02-09 19:58] galenwp commented on #843
@hoclun-rigsep how's that PR coming?

[2017-02-09 19:58] cgyarvin commented on #852
Sorry, I should have answered this.  It's a tough problem.  I favor
consistency but not at the expense of self-parody.  I don't know how much
that helps you in the trenches.

One very missing thing in Urbit is a good glossary.  If our doxology linked
routinely to the glossary, it would be much less of a problem.

On Thu, Feb 9, 2017 at 11:55 AM, Galen Wolfe-Pauly <notifications@github.com

[2017-02-09 20:02] galenwp commented on #852
Well, there is this: http://urbit.org/docs/about/glossary/.  Perhaps we should extend it with a kind of rosetta stone section.

[2017-02-09 20:03] cgyarvin commented on #852
Agreed, I think it'd be a great thing for Keaton to improve.

On Thu, Feb 9, 2017 at 12:02 PM, Galen Wolfe-Pauly <notifications@github.com

[2017-02-10 04:32] hoclun-rigsep commented on #843
It's coming but I'll be away and won't be able to submit until Saturday or perhaps Sunday.

[2017-02-10 04:38] galenwp commented on #843
Totally fine! Just checking. Was in the docs today.

[2017-02-12 17:12] hoclun-rigsep commented on #827
I put the &n and &| stuff in hoon/twig/limb/limb.md. Is that where the +<+<+-> stuff belongs too?

[2017-02-13 18:03] cgyarvin commented on #827
Yes, definitely.

On Sun, Feb 12, 2017 at 9:12 AM, hoclun-rigsep <notifications@github.com>
wrote:

[2017-02-14 04:22] xykj61 opened #853 "`? ~~Ürbit` test in Urbyte 1 broken."
@galenwp thinks this is a bug in our UTF-8, not the syntax itself. @cgyarvin, can you verify this?

Should return:
[code]

Edit: By "broken", I mean Dojo blocks the command from being entered (just beeps at you a lot).

[2017-02-14 06:08] urcades opened #854 "Copy fix: Community/Contact list item on front page"
Here again with a tiny edit needed on http://urbit.org/docs/ —

<img width="393" alt="screen shot 2017-02-14 at 1 06 26 am" src="https://cloud.githubusercontent.com/assets/1195363/22917290/d519290c-f251-11e6-839e-0786c65735da.png">

In the second bullet, `discussion forumon` are running into one another.

That's it!

[2017-02-14 17:30] xykj61 commented on #854
Fixed this with a recent PR that should be merged into Master now. Just haven't pushed to our web ship, but we'll do that today. Thanks!

[2017-02-14 22:50] urcades commented on #854
most excellent — good to know!

[2017-04-01 08:05] Peregrine42 opened #9 "Mixed Content Warning in Firefox 52.0.1"
Hi Urbit,

When I visit `https://urbit.org`, I get a warning from Firefox that my connection is not secure.
I've spent a little time looking into the issue, and it seems that image content coming from `media.urbit.org` is not using SSL. This causes Firefox to issue a warning that some parts of the site are using HTTP, when the user requested an HTTPS connection.

That is my best guess at the cause

[2017-04-01 15:02] galenwp commented on #9
Hello!  Thanks!  This is the correct channel, and I think I know what's going on.  Our images are hosted on GCP, and I think there is (or was, when we set this up) some problem with custom certificates.

Anyway, I'll look into this again and report back.

[2017-04-10 11:05] Peregrine42 commented on #9
Thank you very much! Great response!

[2017-05-11 19:55] tcikoritys opened #855 "explanations of binary tree addressing should use binary, not integers"
Earlier today in talk, I had asked what the difference was between +2.something and (snag 2 something). This became a discussion about binary trees, addressing, and how to get each item specifically from the tree with +number.something. This syntax was also described in Urbyte 2, but the numbers and terminology used are not well explained, and to me made Urbit seem more foreign and hard to grasp.

[2017-05-11 20:25] cgyarvin commented on #855
This is certainly true and also a great way to describe tree addressing!

On Thu, May 11, 2017 at 12:55 PM, Derek Roberts <notifications@github.com>
wrote:

[2017-05-11 20:52] galenwp commented on #855
Yeah, this makes sense.  Would happily accept a PR that made this change.

Do we cover tree addressing outside of Urbyte 2?

[2017-06-03 16:54] xykj61 commented on #853
This works:

[code]

This is the weird `@tx` cord parsing we were talking about @ohAitch with the `plan` mark/surs you wrote.

Not sure which way should be correct for the sake of doc (don't think our actual docs document this as well).

[2017-06-03 18:24] ohAitch commented on #853
`~~Ürbit` should not work, `~~...` is the unquoted string syntax and can't have non-`@ta` characters like Ü
`@tx` is relevant insofar as the '' irregular form is only pretty-printed for literally `@t`, not user-defined subauras thereof. Though perhaps it should be?

[2017-06-15 20:34] Fang- opened #856 "Latest release"
The [installation instructions](https://github.com/urbit/docs/blob/master/docs/using/install.md) link to files with version numbers in their name. We could update these manually for every release, but either of the following solutions seem more robust to me.

* Link to `media.urbit.org/dist/xyz/latest.file` instead, and set up a small script to copy in the latest release from the [GitHub releases

[2017-06-15 20:36] juped commented on #856
The reason for media.urbit.org links is github's annoying practice of using redirects on the release page, meaning you can't copy the url and download it from the command line (as easily as you should).

[2017-06-19 03:22] galenwp opened #12 "Links at the bottom of the address space post are broken"
The links at the bottom of [https://urbit.org/posts/address-space/](https://urbit.org/posts/address-space/) don't correctly point to the constitution or beliefs and principles posts.

Looking at the [.md](https://urbit.org/posts/address-space.md) this is just a matter of actually putting the links in.  Probably something that got rushed out.

[2017-06-20 17:05] cxk280 commented on #852
Pull request urbit/docs#172 starts building on Galen's suggestion.

[2017-06-20 17:11] cxk280 commented on #850
I do think that focusing on "_x_ in Hoon means _y_ in OtherLanguage" will be a more productive use of time for getting more people learning Hoon faster than focusing on syntax collisions. Focus on what Hoon is, not what it isn't.

Pull request urbit/docs#172 begins building such a Rosetta stone using JavaScript.

[2017-06-23 08:56] cxk280 commented on #816
`ctrl-x` definitely. `^x` is confusing. The docs need ruthless elimination of ambiguity.

Do you want me to submit a PR with the change?

[2017-06-23 20:41] Fang- commented on #816
Resolved in urbit/docs#103.

[2017-07-07 00:59] ngzax commented on #852
Since urbit/docs#172 has been merged, this issue probably should be closed.

[2017-07-07 01:45] Fang- commented on #852
urbit/docs#172 doesn't seem to solve inconsistent use of function vs gate, args vs sample etc. Having glossaries for those kinds of "translations" helps, but doesn't address the core of this issue.

[2017-07-09 16:21] ngzax opened #857 "Examples in Hoon Library 2i Page (Maps) largely don't work"
/docs/hoon/library/2i/md

Discovered this while trying to learn about hoon maps. Many of the example don't work because (mo is no longer valid hoon. I do have a PR to fix this coming very soon, though there is still one example I couldn't figure out how to fix.

[2017-07-10 17:08] cgyarvin commented on #857
Great work guys!

On Mon, Jul 10, 2017 at 10:00 AM, Fang <notifications@github.com> wrote:

[2017-07-25 00:59] ngzax commented on #838
This bugs me as well. I am working on a patch via an index page for this now.

[2017-08-30 23:34] belisarius222 commented on #846
The link earlier is no longer valid. Here are the parsers for ford runes in arvo's maintenance branch:
https://github.com/urbit/arvo/blob/maint-20170614/arvo/ford.hoon?utf8=%E2%9C%93#L745

And here's master:
https://github.com/urbit/arvo/blob/master/sys/vane/ford.hoon#L751

[2017-09-10 18:54] Fang- opened #14 "Stream uses old talk main.js"
It seems stream is still using a version of the talk/main.js that doesn't incorporate urbit/arvo#420, causing it to fail to load messages when an `%app` message is among the most recent messages.

[2017-09-11 15:16] xykj61 commented on #14
Good catch; this explains why I couldn't load a Stream feed last night. But, how does that make sense if the path is the same for normal web talk?

[code]

[2017-09-11 15:18] xykj61 commented on #14
Is this a %ford caching issue? Doesn't seem like it would be after enough time. `/=home=/web/talk/main.js` should be the most current `:talk` `main.js` it seems.

[2017-09-11 15:23] Fang- commented on #14
Doesn't the web ship run its own slightly modified version of arvo? I wouldn't at all be surprised if it just needs manual updating.

[2017-09-11 18:44] xykj61 commented on #14
Ah, you're right. CC @ohAitch, but I can do this myself now too.

[2017-09-30 05:45] joshuareagan commented on #855
It's explained briefly in the Nock documentation:

https://urbit.org/docs/nock/explanation/

[2017-10-02 05:31] joshuareagan commented on #852
Ideally we'd generally use "sample" and "gate" rather than "argument" and "function", and when we introduce new Urbit terms in a document (or doc series) we'd link to the relevant part of the glossary.

The problem though, is that the glossary mostly uses strict definitions, as it almost certainly should.  So when a beginner looks something up, the definition includes two or three more terms he mu

[2017-10-02 14:45] belisarius222 commented on #852
I think having both strict definition and discussion linkable from the docs is a good idea. Maybe each glossary item should include only the strict definition and a link to the longer definition and discussion.

It should be possible to teach hoon without the recursive nightmare. I think having a "learn you a hoon" guide that goes painfully slowly might be the way to go:
first teach basic hoon exp

[2017-10-03 02:11] joshuareagan commented on #852
The question important here is this: how much do we bootstrap from non-Urbit concepts as we teach Hoon in the documentation?  I'm defending at least a modest degree of such bootstrapping, and it sort of seems like that makes mine a dissenting voice.

Of course the docs you're talking about sound great, Ted, so you should write them.  :)

[2017-10-03 02:52] cgyarvin commented on #852
Ted should definitely write them.   (Ted doesn't know it, but in the next
phase of his employment, we're going to chain him to the wall and feed him
only water and crushed Adderall.)

On Mon, Oct 2, 2017 at 7:11 PM, Joshua Reagan <notifications@github.com>
wrote:

[2017-10-03 03:01] mattlevan commented on #852
Perhaps this is a stretch for this issue thread, but hey. My thoughts on this and the docs more generally:

Josh and Ted are right, first off. There's certainly some truth to the recursive nature of learning Urbit with the docs, as a newbie. There also *must* be room for both extensive and strict definitions as well as longer discussions in the glossary. I think we're missing a huge point and need

[2017-10-03 03:53] joshuareagan opened #858 "Glossary Organization"
I'm going to start adding some definitions to the glossary---it's pretty short right now.  But the organization seems a bit haphazard.  In a way it seems like there are sections: a ship section, a Nock section, and a Hoon section---but these seem not to have much internal order.  I'm sure most people use something like ctrl+f to find what they want anyway, but it still seems like we should clean t

[2017-10-03 05:14] galenwp commented on #858
I think alphabetical order per-section makes sense.  It'd also be nice if each definition had an id so you could `#link` to it.

[2017-10-03 05:28] joshuareagan commented on #858
Good idea.

[2017-10-03 14:08] joemfb commented on #858
This time around, I am choosing to have no dog in this fight. Historical context is here: https://groups.google.com/forum/#!topic/urbit-dev/bjQ2B767yS8.

[2017-10-03 16:22] belisarius222 commented on #852
@cgyarvin I'm down.

@joshuareagan I do think the docs should be largely self-contained. Even the type system is unusual enough that comparisons to other type systems are likely to be misleading. It's fine to have a few references to external concepts (e.g. "type system"), but I think the main difficulty learning hoon is the number of _internal_ concepts. You and Curtis are both right that I shoul

[2017-10-05 22:12] joshuareagan commented on #852
@belisarius222 In some sense I agree that the docs should be self-contained, but this is a bit ambiguous; and in any case it's one virtue we have to weigh against others.

Thankfully we're not committed to one set of trade-offs.  We can have different learning paths, and your doc idea would be great for one of those.  OTOH, I think that the current Hoon and Arvo doc series cover a different but ne

[2017-10-05 22:19] cgyarvin commented on #852
All I can say is that this is a hard problem and I welcome creative new
thinking about it.  :-)

On Thu, Oct 5, 2017 at 3:12 PM, Joshua Reagan <notifications@github.com>
wrote:

[2017-10-05 22:21] joshuareagan commented on #852
Agreed, it's definitely hard.  I'll do my best!

[2017-10-06 00:02] belisarius222 commented on #852
I guess that's what I get for trying to debate a logician :) @joshuareagan the more you tell me about Quine, the cooler his work seems.

As for the accuracy / intuitiveness tradeoff, I don't think we're anywhere near the [Pareto frontier](https://en.wikipedia.org/wiki/Pareto_efficiency) with our current docs, so I'm not too concerned. Also, why would I care, "gavagai" isn't even four letters!

I'm

[2017-10-06 00:11] joshuareagan commented on #852
I don't think we're all that far apart.

[2017-10-06 00:30] belisarius222 commented on #852
I agree :)

[2017-10-06 18:57] xykj61 commented on #855
Looks like Josh's PR above solves this. Thanks for the suggestion!

[2017-10-07 11:55] joshuareagan opened #859 "Documentation ambiguity"
"A Hoon expression is called a twig. A twig is an AST node: the noun that the Hoon compiler makes when it parses a source expression."

This quotation is from twig.md.  It's really puzzling.  On the one hand, a "twig" is a Hoon expression, and Hoon expressions live in the source file.  On the other hand, a "twig" is a node in a noun produced by the Hoon compiler when it's fed a source file.

I obj

[2017-10-07 17:55] cgyarvin commented on #859
Yes, “expression” for source and “twig” for node are fine.

Sent from my iPhone

[2017-10-08 02:40] joshuareagan commented on #859
Huh, that was easy...

Next question: upon making the change above, how to clarify the names of sub-expressions?  Some runes have certain sub-expressions that must evaluate to molds; the rest can evaluate to anything.  The current docs call the former "moss" and the latter "seed".  These names are said to be aliases for "twigs".  In hoon.hoon it looks like everything is just called a "twig", so "m

[2017-10-08 03:10] joshuareagan commented on #859
Or maybe we can speak in terms of "moldy" and "woody" subexpressions, dropping "moss" and "seed"...

[2017-10-08 03:10] joshuareagan commented on #859
I think my preference is simply to say "subexpression" but call the special ones "moldy".

[2017-10-08 03:16] cgyarvin commented on #859
I have a better idea: “value” and “pattern” modes.

We’ve essentially gone from one mode and two syntaxes, to two modes (parsing contexts) and one syntax.

Sent from my iPhone

[2017-10-20 00:15] joshuareagan commented on #858
The glossary is a reference document, not a tutorial, so I think alphabetizing it makes the most sense.  I'm not a hug fan of the sections, though I understand why others like them.  But for a glossary, the three main priorities should be (1) formal correctness, (2) completeness of coverage, and (3) it's easy to look up a term on the page.  Naturally most people will use ctrl+f anyway, but it's st

[2017-10-20 01:02] xykj61 commented on #858
Yeah, you're right. K, I'll merge your stuff. Thanks!

[2017-11-08 18:53] dustinb commented on #852
Thoughts from a "developer" in the trenches trying to learn hoon:  I think the idea of 3 ways to learn is well intentioned but I find myself getting lost in the docs.  The main way I get lost is  I'm going through a section and I realize I  don't know what I thought i knew or I lost the concept of something in the maze of twigs.  The difficult part is I can't recall where I first learned" that con

[2017-11-08 19:34] cgyarvin commented on #852
All good perspectives.  There is really no perfect answer here.

On Wed, Nov 8, 2017 at 10:53 AM, Dustin Butler <notifications@github.com>
wrote:

[2017-12-10 12:21] joshuareagan commented on #859
I deleted my old comments which were basically misunderstandings.  I like the value/pattern distinction for expressions.  With latest updates to Hoon and upcoming doc revisions, I'm happy.

[2017-12-10 12:31] joshuareagan opened #860 "Delete Expressions doc?"
I've been looking over Hoon docs and making some revisions.  With the latest changes to Hoon and some distinctions Curtis has made (e.g. value/pattern) I think we're on the right track.

Given these changes though, the current Expressions doc for Hoon makes little sense.  We have two options:

(1) Rewrite it so it makes sense, or

(2) Delete it.

As it stands, this doc is quite sloppy about the di

[2017-12-10 17:53] cgyarvin commented on #860
I favor (2).

Sent from my iPhone

[2017-12-10 19:01] ohAitch commented on #860
Re redundancy, my memory is that we intentionally have two parallel doc
series: the top-down immediate-results oriented one, and the bottom-up
incremental full understanding one. Since you're likening the page to
mint:ut, I'm guest this is part of the latter; what is your opinion on the
rest of the docs in the same directory? If you think they cover twigs
sufficiently /without jumping out to the p

[2017-12-11 07:08] joshuareagan commented on #860
I'm okay with the 2-track idea.  But I'm not sure where this doc fits in that discussion.  My understanding is the "top-down" style is great for those who don't care about foundations and who want to write apps ASAP.  "I don't need to understand every little detail, I just want high-level abstraction that gives me a good approximation of the semantics in a hurry."  This approach clearly is compati

[2017-12-11 22:25] belisarius222 commented on #860
Yeah I think deleting this for now makes sense. The only problem with
deleting it is that it’s the only real explanation of moss and seed, which
are used extensively in the individual rune docs.

In order for a set of hoon docs to be complete, they should include
detailed documentation about the compiler itself, since hoon is defined
metacircularly and can call its own compiler in various ways. Ca

[2017-12-12 15:07] joshuareagan commented on #860
The moss and seed vocab will need to be removed too.  We'll need some
different conventions for the rune docs.

I think @cgyarvin wants to use the value/pattern terms for subexpressions?
So maybe something like:

The syntax for the `:-` rune is:

[code]

The syntax for the `^-` rune is:

[code]

[2017-12-12 18:15] belisarius222 commented on #860
That looks good to me.

On Tue, Dec 12, 2017 at 7:07 AM, Joshua Reagan <notifications@github.com>
wrote:

[2017-12-12 18:47] cgyarvin commented on #860
Yes.  I’ve been through so much terminology on this issue...

Sent from my iPhone

[2017-12-13 02:19] joshuareagan commented on #860
Sometimes you need to test thousands of materials as filaments, to make a better light bulb...

I'll work on a PR that removes "Expressions" and that revises the rune docs accordingly.

[2017-12-13 02:36] joshuareagan commented on #860
Actually I'd really rather just say `<value>` and `<mold>`.  Are there any pattern expressions that aren't molds?  Using a new word carries a cost, so what's the benefit?

[2017-12-13 02:49] cgyarvin commented on #860
I am trying to get “model” to be a preferred synonym for “mold.”  Will rename ++tile to ++modl I think.

Maybe the model is the ++modl is the abstract description; the mold is the gate we build from it.  The transformation from model to mold is not trivial!

Sent from my iPhone

[2017-12-13 02:51] joshuareagan commented on #860
Ok, so if I understand you correctly, the model is evaluated against the subject to become a mold?

[2017-12-13 02:52] joshuareagan commented on #860
Actually I don't think I understand you...

[2017-12-13 03:06] cgyarvin commented on #860
The model is rendered (by ++ax) into a hoon.  Rather confusingly, the raw hoon produced by the parser is boiled to produce a model!  I intend to simplify this a little, but for now...

So it’s hoon (raw AST)->model->hoon (normalizing gate).

Sent from my iPhone

[2017-12-13 16:25] belisarius222 commented on #860
@cgyarvin please correct me if I butcher this, but here’s my understanding:

The model is a data structure used by the hoon compiler when doing
type-checking. Let’s say you have a `|=  a. ...`, and you call that gate
somewhere in your code on a value whose type is defined by a mold`b`. It’s
not obvious how to check whether the type defined by the mold `b`nests
inside the type defined by the mold `

[2017-12-13 17:01] ohAitch commented on #860
Mm not quite: the hoon compiler, whenever it compiles an "opaque"
executable, generates a type for its output, and type checking is performed
against that.

Models are just a convenient short-hand syntax for creating molds, and are
composed of irreguar(or regular) form $ runes, * ^ @ ? ~ base types, and
%~.some_constant fixed atoms. This syntax can be opted out of with ,foo and
_foo, which are mol

[2017-12-13 18:17] cgyarvin commented on #860
Yeah no.  The type-checker never sees the model (currently ++tile, will be
++modl).

Think of a ++tile as an intermediate data structure that's used in macro
expansion.  Most runes work by expanding themselves to other hoons in
++open:ap.  ++ax, the tile engine, is entirely within this process.

On Wed, Dec 13, 2017 at 8:25 AM, Ted Blackman <notifications@github.com>
wrote:

[2017-12-14 14:56] joshuareagan commented on #860
So that others can check my understanding, here's my attempt:

I start with Hoon source, which the parser turns into a hoon, an AST.  Certain (sub-)hoons in that AST were molds in the source, like `a=@` and `[p=^ q=@]` or whatever.  These got parsed in "pattern" mode to become models (i.e. currently `++tile`s, soon to be `++modl`s).  When the time is right, these models are converted (in a non-tri

[2017-12-14 15:33] joemfb commented on #860
If i've read this correctly, it seems like a simpler name change than it's being made out to be: "clam" -> "mold"; "mold" -> "model".

In other words, we've been using the word "mold" to refer to that which is bunted, cast by, inferred over, etc. Now, mold would refer only to the normalizing gate that is generated if necessary, and model would refer to all the uses in general.

[2017-12-14 15:37] joshuareagan commented on #860
My question is just this: what benefit in predictive power at the semantic level is gained by taking one concept and splitting it in two?

[2017-12-14 18:00] cgyarvin commented on #860
Your interpretation is correct, but let me fill in some missing pieces that
might change your opinion.

I feel that the main thing that makes learning Hoon, or any part of Urbit,
difficult for people, is that they feel the system has depths they are
afraid of.  This feeling can be alleviated, but the only real cure for the
disorder is touching the bottom of the river with their own feet.  While it

[2017-12-14 18:16] cgyarvin commented on #860
Here is my interpretation of what a model is.

A model is a noun shape.  It's an abstract description of a noun-based data
structure.  It can be used as a macro for generating hoons, in three ways.

One, it can build a mold -- a hoon that produces a gate which accepts any
noun, and produces a correctly-typed instance of the data structure.
Two, it can build a bunt -- a hoon that produces a constan

[2017-12-14 19:43] xykj61 commented on #860
Alright, the `/docs/hoon/twig/` doc has been superseded by the new `/docs/hoon/rune/` doc, which has no description of models versus patterns and just lists all the runes reference style for the time being. This should buy some time for @joshuareagan and I to rewrite it.

Also note, effective now: rune docs are now at `/docs/hoon/rune/cen/tis/` now, for example, instead of `/docs/hoon/twig/cen-cal

[2017-12-22 05:11] mikolajpp opened #861 "Advanced section should provide examples."
So even though I understand every word in the "Advanced types" section of hoon, I still have no idea how to use these concepts. The only takeaway I got is that usually my cores are gold, and also you can do some magic with bridges.

I am at the point where I think I have got the basics of hoon mastered. While risking being harsh, I would say that without at least some examples this section is pret

[2017-12-22 16:18] mattlevan commented on #861
@mikolajpp Check out the [examples section](https://urbit.org/docs/hoon/examples/) of the Hoon docs.

[2017-12-22 16:32] mikolajpp commented on #861
My complaint is about the examples for usage of advanced gates. I.e. how to actually _do_ polymorphism, some examples for differences between wet/dry gates and good practices etc.

Examples section rather does not satisfy that.
I think we need "Advanced Examples", or at least maybe some snippets from inside Arvo to illustrate these concepts.

[2017-12-22 17:19] galenwp commented on #861
This sounds right to me. I'd be curious to know what @keatondunsford and @belisarius222 think about this. I know they have plans for a reorganization to the docs.

[2017-12-22 19:50] cgyarvin commented on #861
Agreed, although it's worth cautioning that Urbit isn't like other
functional languages -- we want you to do high-power shit as *little* as
possible.

On Fri, Dec 22, 2017 at 9:19 AM, Galen Wolfe-Pauly <notifications@github.com

[2017-12-23 02:46] mikolajpp commented on #861
I agree with this sentiment. I am seeing it all over Elm and it works great. So this is not about muh Monads/Typeclasses and what else; It is good to have as little with as much expressive power. Still I feel painful holes in my Hoon knowledge (mainly typesystem) and I would hope this section would alleviate that (it seems ~taglux-nidsep is working on some type system docs).

[2017-12-23 03:59] ohAitch commented on #861
Yeah, having concrete explanations would help a lot here, we don't want
everyone to write their own ++roll but we definitely want people to
understand the existing one well enough that *using* it doesn't ping as
"high power".

On Friday, 22 December 2017, mikolajpp <notifications@github.com> wrote:

[2017-12-30 16:02] mikolajpp opened #862 "Undocumented "=," rune"
I have not been able to find this rune in the cheatsheet. Is it outdated?

[2017-12-30 17:48] cgyarvin commented on #862
No, it’s indated!  It bridges a name into your namespace, so within =,  foo you can say bar and it means bar:foo (if there is a bar:foo).

Sent from my iPhone

[2017-12-30 19:34] mikolajpp commented on #862
Great, this is what I thought looking at .hoons in arvo. I guess it should be put somewhere in the docs then...

[2017-12-30 20:35] mikolajpp commented on #862
When adding this rune to docs, it may be worth pointing out reckless use can lead to non-obvious bugs due to symbol shadowing.

[2018-01-13 14:41] tlon-gh-bot opened #863 "Write down sec/ "magic paths" in a right place"
<a href="https://github.com/ohAitch"><img src="https://avatars3.githubusercontent.com/u/1857414?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ohAitch](https://github.com/ohAitch)**
_~2016.02.04..20.25.28_
_Originally opened as https://github.com/urbit/urbit/issues/693_

----

Two come to mind:
- the eyre redirect-uri endpoint format, `http://~sampel.urbit.org/~/ac/www

[2018-01-14 17:14] mikolajpp commented on #851
Chiming in. It seems in the documentation of eyre stuff such as /~/is subscriptions and so on
are outdated. I take talk as a reference, and the endpoints look very different.

For example, this is doc:
`/~/is/[app]/path/to.[mark]`

This is how actual talk does things:
`/~/is/~dispex-binwed-sivweg-dosnul--larwen-mirdem-widnem-poshet/hall/client.json`

So that format seems to be
`/~/is/~ship/app/wir

[2018-01-17 00:41] Fang- opened #864 "No digraph pronunciation guidelines"
`++` is pronounced `slus` instead of `luslus`. Apparently there's more irregular ones. These should all be documented, for as far as we want to insist they still exist. See also urbit/urbit#593.

[2018-01-17 09:30] Fang- opened #865 "Missing install dependency"
`zlib1g-dev` should be mentioned as a dependency. See urbit/urbit#873.

[2018-01-25 00:53] tlon-gh-bot opened #127 "RSS feed lacks heaps of content"
<a href="https://github.com/allanhortle"><img src="https://avatars1.githubusercontent.com/u/3760524?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [allanhortle](https://github.com/allanhortle)**
_~2018.01.24..21.43.02_
_Originally opened as https://github.com/urbit/fora/issues/4_

----

I'd love to keep track of what's going on with Urbit via RSS but it's really hard.

[2018-01-25 00:58] Fang- commented on #127
I'll pick this up if nobody's going to... eventually. RSS is important to me too, but this is also low priority compared to all the other things on my stack. This might be a good contributor issue, I'll take a closer look at where this got (or always was) messed up later.

[2018-01-26 19:52] tlon-gh-bot opened #866 "Automatic conversion in &examples-cord doesn't work."
<a href="https://github.com/ponnys-podfer"><img src="https://avatars1.githubusercontent.com/u/21070904?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ponnys-podfer](https://github.com/ponnys-podfer)**
_~2016.09.29..05.43.08_
_Originally opened as https://github.com/urbit/arvo/issues/271_

----

In the [documentation for Marks](http://urbit.org/~~/docs/arvo/marks/), the

[2018-01-31 17:01] xykj61 opened #867 "Document =? tiswut rune"
See: urbit/arvo#321.

[2018-01-31 17:04] xykj61 commented on #865
@Fang- In addition to this, we also need `python`, as per urbit/urbit#917, right? I'm assuming we mean `python2`.

[2018-01-31 18:08] Fang- commented on #865
Yeah, that seems correct to me.

[2018-02-22 00:35] Fang- opened #868 "Application development best practices"
It is I, The Random Userspace Dev!
I have developed an application that is considerably complex. I may want to update it in the future, and I definitely don't want it to break on my users. Sadly, there is nothing telling me how. I launch my app anyway, and all is well. Users report connectivity is bugged. I investigate, fix, and push it live. Half my users can no longer use the app. Huh.
My name i

[2018-02-23 15:07] Fang- opened #869 "Galaxy syncing instructions"
Most galaxies will want to stay up to date with ~zod. We need to provide instructions for that somewhere.

[code]

See also urbit/arvo#648.

[2018-03-09 19:02] xykj61 commented on #865
Fixed with 28ed8bcf081defd60bb40b873df01308b7fb7d55.

[2018-03-09 19:28] Fang- commented on #809
We have [irregular syntax docs](https://urbit.org/docs/hoon/irregular) now.

[2018-03-09 19:29] Fang- commented on #812
Twig labels are no longer a thing.

[2018-03-09 19:31] Fang- commented on #814
Descriptions are no longer truncated.

[2018-03-09 19:34] Fang- commented on #823
The ^ ket and ! zap runes mentioned here are still missing.

[2018-03-09 19:47] xykj61 commented on #834
This works, but the app's code style could be improved.

[2018-03-09 19:53] Fang- commented on #837
Seems to be fine now.

[2018-03-16 19:06] Fang- commented on #846
These have been documented now. See [here](https://github.com/urbit/docs/blob/master/docs/arvo/internals/ford/runes.md).

[2018-03-30 18:05] Fang- commented on #838
Will be fixed when urbit/docs#187 or something like it gets merged.

[2018-03-30 18:11] xykj61 commented on #845
This should be fixed in new static Tree, so closing this. @ixv, can you confirm?

[2018-03-30 18:15] xykj61 commented on #852
I think we agree that in the upcoming docs rewrite, this issue needs to be addressed. Closing this for now, as there are no immediate next actions, but adding the 'rewrite' label so we can reference this later.

[2018-03-30 18:16] xykj61 commented on #853
Looks like this specific example got removed from the urbyte, so this can be closed.

[2018-03-30 18:18] xykj61 commented on #856
This has effectively been solved by electing to have people build from source for now. We're also working on install and upgrade scripts for Vere that will automate pulling the latest urbit/urbit master code and making the new binary. WIP.

[2018-03-30 18:20] ohAitch commented on #856
Oh, so we're no longer going to be uploading a `.deb`?

[2018-03-31 08:23] mikolajpp opened #870 "Hoon pedagogy - Plato now allows anonymous code execution"
While everyone was asleep, Plato has reached another milestone: a ship running plato can now offer remote code evaluation without logging in.

You can try it out here: http://plato.urbitetorbi.org:8080/plato.html

By default, if plato detects you are not logged in to your ship, it will obtain a fake identity for you (or others) to use using eyre /~as/anon mechanism.

My current idea is to _not_ ma

[2018-03-31 16:29] joshuareagan commented on #870
This is wonderful!

[2018-03-31 17:36] galenwp commented on #870
It really is.

[2018-03-31 18:28] cgyarvin commented on #870
When I hear the phrase “anonymous code execution,” I always stand up and cheer!  :-)

Sent from my iPhone

[2018-03-31 18:40] joshuareagan commented on #870
lol

[2018-04-01 02:53] mikolajpp commented on #870
@cgyarvin I had my doubts, but then the people demanded it long enough.

When something hacks my urbit at least we know there is an exploit in mule :))

Jokes aside, previously anonymous code execution was enforced on the frontend only. You could still poke the plato manually. The proper solution to this is having flag in plato which could be set.

[2018-04-01 21:09] joshuareagan commented on #870
At this stage if people are learning enough Hoon to hack tutorial comets running Plato, I see that as a good thing.

[2018-04-07 16:50] mikolajpp opened #871 "Eternal nest fail help"
It seems dabbling at frontend for far too long and I forgot some crucial parts of Hoon.
We have this little snippet (best used wit plato!):

[code]

I know that in case of parser failure p.a is a list of tanks (a tang). But it seems compiler knows better.
No matter how many checks I put in, it always fails with nest-fail. I am correctly dispatching on failure flag with `?:`. Then prove that list i

[2018-04-07 16:51] mikolajpp commented on #871
I hope our news docs will get a section on 'proving' stuff in practice. I have no idea where in the current docs I should turn for self-help, so it would be good to maybe add an article on two on such pitfalls.

[2018-04-07 17:42] mikolajpp commented on #871
Eh, I was hit again by https://github.com/urbit/arvo/issues/573

[2018-04-07 18:36] ohAitch commented on #871
Yeah, and I think even if it were fixed you'd probably want to use a `?-` for clarity that you're matching on a `$%`.

[2018-04-07 18:43] mikolajpp commented on #871
Hmm, why? I thought the purpose of `?:` was to be clear `I am matching this for truth or false`
which imo is much clearer than `%&`, `%|`...

[2018-04-07 20:57] ohAitch commented on #871
`?:` is just "if", and usually used in the context of `?: (gth foo bar)` etc.

If the conditional is *specifically destructuring pattern-matching*, with subject type implications, you want to use `?=`, `?-`, `?~` etc; which can frequently be `?: ?=(%| -.foo) ...early-return` in uneven-complexity cases.

[2018-04-08 03:58] mikolajpp commented on #871
OK, I see. Would it be possible to provide more information from the compiler in this case.

I am not taking about introducing more error messages, just a way to extract this information by clever code injection.

For example, in Plato I am gonna doing some tricks on nest-fail to get better error

[2018-04-08 03:59] mikolajpp commented on #871
Continued.

Better error messages by injecting debug code before offending expression to show their type.

So if it possible to somehow detect this error I would consider that a fix.

[2018-04-08 04:02] ohAitch commented on #871
There's commented out "what did we want / what did we get" ~|s in the compiler/jets, if the type printer were less verbose those would probably be turned on by default :3

[2018-04-08 04:57] mikolajpp commented on #871
The proper way to make type printer less verbose would to make it stop at hoon types. All I want to know it tried to match against a tang, I don't care than that is a list of tanks which it then the union of… and so on.

How much work it would be to make it recognize fundamental types?

[2018-04-08 05:00] mikolajpp commented on #871
Or better yet, it should be aware of all types in current scope, including user defined ones. That's how compilers usually work.

[2018-04-08 17:43] cgyarvin commented on #871
The type printer is being massively overhauled as we speak :-)

On Sat, Apr 7, 2018 at 10:00 PM, mikolajpp <notifications@github.com> wrote:

[2018-04-08 18:14] mikolajpp commented on #871
@cgyarvin This sounds too exciting...

I am able to get *much* more user friendlyness out of the current system in Plato than I thought (will release next week).

Essentially, I catch all types of errors I am able to get from tank printer.
For syntax errors we mark the error line and put red glaring marks at the spot parser catched the cold.

For compiler errors we mark the offending fragment.

Th

[2018-04-08 20:22] cgyarvin commented on #871
Yeah, tanks are tanks because they are simple as hell and you can hack the hell them.  There will be better ways to do all this.

I’m starting to actually want to use this thing of yours!  Will it let me use vim (or at least neovim)?

Sent from my iPhone

[2018-04-08 20:41] mikolajpp commented on #871
I presume you just want to use the Plato backend? Because for the frontend part,  now we have only the original frontend, which works in the browser and uses ace editor (which I think has bindings of all major editors, including VIM).

That said, nothing prevents someone from hooking Plato itself into any editor. API is very simple, and I can get to document it next week.

Plato sur is this:
[code

[2018-04-08 21:36] ohAitch commented on #871
The type printer cannot stop at "tried to match a type named `tang`", as the current type type doesn't record the name of the arm that the mold that produced the type came from, but presumably that's part of the overhaul :P

[2018-04-09 19:36] mikolajpp commented on #871
@cgyarvin

The latest version of plato has error introspection working quite well:

![sneak-peek](http://tinyimg.io/i/vdgKKQa.gif)

We can surely talk about bringing this goodies to other editors, though I have never used neovim. All it needs is ability to make JSON HTTP requests to plato.

[2018-04-09 20:43] cgyarvin commented on #871
The information is there!  Nice bandaid, but ++ut could still use a
rewrite.

I've never worked with neovim -- I just have the vim bindings in my
fingers, and I hear neovim is the only decent clone.  Sadly, I can't make
hacking this a priority for myself...

On Mon, Apr 9, 2018 at 12:37 PM, mikolajpp <notifications@github.com> wrote:

[2018-04-10 06:18] mikolajpp commented on #871
@cgyarvin , I would very much prefer ++ut having a rewrite.

Plato has inflated to 400 lines half of which is re-parsing of errors.

So what's the editor you are using right now? It would be cool for plato to gain another frontend - provided it is possible to hook whatever you are using right into plato via HTTP requests

[2018-04-10 15:40] ohAitch commented on #871
Stock vim, sounds like. Which can *maybe* have a Plato highlighting layer hacked into it with scripts?

[2018-04-10 16:12] cgyarvin commented on #871
Do not under any circumstances do any engineering on or near stock vim.  I can certainly switch to neovim. :-)

Sent from my iPhone

[2018-04-10 16:30] ohAitch commented on #871
Haven't you heard? Vimscript is an excellent language with many features :)
:) :)

On Tuesday, 10 April 2018, cgyarvin <notifications@github.com> wrote:

[2018-04-14 11:31] mikolajpp opened #872 "Docs on hall: ideal state management"
There is a curious sentence in hall docs:
[code]

On the surface, it would seem that state replication by apps should be explicitly discouraged - that's why hall manages state in the first place, as opposed to being just transport protocol.
So the question is, why would apps want to replicate what is already in hall? Does talk do this? If so, what is the reasoning behind such duplication.

[2018-04-14 11:43] Fang- commented on #872
Talk does indeed store a local copy of the data (that is, client config and inbox state). This just makes its job so much easier, since it doesn't have to constantly be in touch with hall to check for things like glyphs, messages at a specific number, etc.

"But shouldn't they just ask hall", you might say. Well, they *should* be *able* to, but hall doesn't offer the degree of flexibility and deta

[2018-04-14 11:47] mikolajpp commented on #872
The way I imagined hall so far, is that all ships would would run a hall. Why would not I be able to read messages that has arrived on my moon's hall?

[2018-04-14 11:52] Fang- commented on #872
Keep in mind that not all clients run on ships. ie webtalk, or whatever phone app people will cook up.

You're right though, moons *should* totally keep a 1-on-1 copy of their planet's hall state. They currently don't, but I plan on rectifying that next time I do serious work on hall (later this year).

[2018-04-14 11:58] mikolajpp commented on #872
Webtalk is just a frontend for a ship's talk though which handles the actual interaction with hall. Question of displaying messages via a random app will work the same: they will need to use an API (which hall in such turn should also provide) to get messages. Of course it might make sense to cache/store on the frontend them whatever, but that's outside of Urbit.

Yeah, I am more interested how th

[2018-04-14 12:11] Fang- commented on #872
Small correction, webtalk is just a frontend for a ship's *hall*. It doesn't connect to a client (like talk), it connects to the server (hall) directly.

Correct, and that's entirely intentional. Hall is now a generic messaging server, and talk is the "reference implementation" in that it provides access to most of the functionality hall exposes. So no, none of the functionality in talk will be mo

[2018-04-14 12:20] mikolajpp commented on #872
So when you said

Which kind of 'yes' it implies. I thought it means in the future hall will start using .^ and no longer keep state by itself

[2018-04-14 12:34] Fang- commented on #872
I meant that in the future using `.^` should be an *option* (ie hall supports it properly), but I imagine most clients will want to keep at least *some* local state. That'll all be up to client implementation though, which hall doesn't really care about. Clients should do whatever works best for their case.

[2018-04-18 21:33] rmariani opened #873 "possible error (or misleading language) on ++term documentation"
https://urbit.org/docs/hoon/library/2q/#-term

Unless this is just phrased awkwardly and means something else, it does not seem to be true, even in the example given right below it:

`> %dead-fish9
%dead-fish9
`
This ends in a digit character, which is supposedly not allowed. Ending it with a `-` works fine, too.

`> %dead-fish9-
%dead-fish9-`

The Dojo won't let a number or `-` come first, so tha

[2018-04-18 21:34] cgyarvin commented on #873
Yes, this is a (small) bug -- the constraint is correct, the enforcement is
not.

On Wed, Apr 18, 2018 at 2:33 PM, rmariani <notifications@github.com> wrote:

[2018-04-18 21:36] Fang- commented on #873
Wait, so we're not allowed to end terms with digits? Why?

[2018-04-18 21:41] rmariani commented on #873
Ok, I am going to change the example then

[2018-04-18 21:42] cgyarvin commented on #873
Ok, maybe the enforcement is correct but the constraint is not :-)  The new
structure system actually can enforce whatever ++sane implements but I have
it turned off for compatibility reasons!

On Wed, Apr 18, 2018 at 2:36 PM, Fang <notifications@github.com> wrote:

[2018-05-02 18:42] joshuareagan opened #874 "canonical definition of "Urbit""
There are a number of distinct definitions of "Urbit" in the documentation, and I'm wondering which of these is the preferred one.  It can be (1) the clean-slate software stack, (2) the P2P network of personal servers; or we sometimes say (3) each personal server is "an urbit" (usually lowercase?).  Are there others?

The third definition is fairly distinct from the first two, and if we lowercase

[2018-05-02 19:04] ohAitch commented on #874
I think canonically they're "Urbit", "the Urbit network", and "an Urbit"
respectively; people certainly use "Facebook"(the software system) vs "a
Facebook"(digital identity running in that software system) in this way.
And the network is just the set of Urbits(3, as instantiations of 1) you
can see.

On Wednesday, 2 May 2018, Joshua Reagan <notifications@github.com> wrote:

[2018-05-02 19:04] rmariani commented on #874
It's muddled, you're right. We hear both "Urbit is a clean-slate software stack" and "Urbit is a virtual city of general-purpose personal servers."

Maybe because (1) doesn't mean much without (2) and vice versa. In my humble opinion, (1) should be the dominant usage for the purposes of a technical overview, because the new software stack is where all the technical meat lives. The P2P network is m

[2018-05-02 19:05] cgyarvin commented on #874
I have been very insistent on the lower case for an urbit, the thing

Sent from my iPhone

[2018-05-02 19:06] joshuareagan commented on #874
Okay, that's pretty clear.  Thanks guys.

[2018-05-03 01:36] joshuareagan commented on #874
Sorry to bother y'all again, another question: What specifically is the referent of "my urbit"?  Is it the virtual machine actively running ~taglux-nidsep?  Is it the state of ~taglux-nidsep in memory?  Is it the event log?

[2018-05-03 01:52] joshuareagan commented on #874
It's also helpful if y'all tell me that "my urbit" doesn't have a precise referent, in the event this hasn't been nailed down.

[2018-05-03 02:01] ohAitch commented on #874
Probably the noun in memory: the event log exists so you don't lose it, and
the specific unix process / VPS instance / etc is ephemeral to what your
urbit is.

Alternately, the abstract concept represented by the name's four bytes:
your urbit's memory is said noun as maintained by some trusted key-value
store, its name is those bytes, its reputation is some set of nouns
floating around other urbit

[2018-05-03 04:01] joshuareagan commented on #874
This followup question might be slightly off topic...

The noun (which is my urbit) is in the subject, but what about when I create a new subject to run, say, this snippet of Hoon in Dojo:

[code]

iirc, this creates a new subject with only `[23 12]` in it, so while I'm running this there is data in memory that isn't part of my urbit (the noun in the original subject).

If my computer loses power

[2018-05-03 04:31] cgyarvin commented on #874
If your computer loses power, it forgets about all events that haven't been
committed.  So yes.

On Wed, May 2, 2018 at 9:01 PM, Joshua Reagan <notifications@github.com>
wrote:

[2018-05-03 04:37] joshuareagan commented on #874
Okay, so "committed" here seems to mean: "is incorporated into the master noun in the 'base-level' subject."

[2018-05-03 04:55] joshuareagan commented on #874
Sorry, I'm pushing this point because I thought this worked a different way.  I thought that when my computer lost power, (i) the subject (all of them) was just lost, and that (ii) when I restarted, the urbit's state was recreated from the event log (or a checkpoint plus some events).  If this is the case, then the noun in memory isn't really "my urbit", or else my urbit is lost every time I lose

[2018-05-03 04:59] joshuareagan commented on #874
Actually, both could be true, so long as the noun in the 'base-level' subject is guaranteed to be a function of the event log.  Is it?

[2018-05-03 05:02] cgyarvin commented on #874
The short answer is: there are many more layers here than you think.  And
yes, everything in the system is a function of the event log.

But an event which is partly computed, but not committed, never happened.
It is written out of history.  If this bothers you, you might be worried
that trillions of virtual quantum particles are colliding every picosecond
in every atom of your brain...

On Wed, M

[2018-05-03 05:07] joshuareagan commented on #874
My worry isn't quite that skeptical!  I'm okay with defining "my urbit" so that partially computed functions get thrown away.  I'm not as comfortable if it's defined so that the noun (="my urbit") in the subject gets thrown away and can't be reconstructed from the event log.  But if I understand you correctly, you're suggesting that can't happen.  So I think I'm happy.

If I'm not taxing your pati

[2018-05-03 05:16] joshuareagan commented on #874
By the way, I speak of a 'base-level subject' because I'm under the impression that Nock basically has a stack of subjects, so that a new one is added every time Nock 2---or a macro that reduces to Nock 2---is called.  When that computation is complete, that subject is removed from the stack.  I'm thinking of "my urbit" as the noun in the subject at the bottom of this stack.

[2018-05-03 05:21] cgyarvin commented on #874
The idea of “the” subject is a common illusion inherited from old-fashioned “environments.”  Any noun can be used as a subject.

Your expressions in the dojo use a subject which the dojo builds, out of shell variables and other state, on top of the kernel subject that  %gall passes it.  All this state, at rest, is formal state and reproducible from events.

I’d

Sent from my iPhone

[2018-05-03 05:22] cgyarvin commented on #874
The stack frames in a computation are *not* formal state.  The programmer has no way to access this data introspectively.

Sent from my iPhone

[2018-05-03 05:39] joshuareagan commented on #874
It seems like we are talking past one another.  Yes, it's also my understanding that the programmer can't access (most of) this data.  The only data that can be manipulated by the Nock at any given time is in the subject at the top of the stack.  Once the relevant computation is done, the top-level subject is essentially computed away and the resulting noun gets plugged into the relevant place in

[2018-05-03 05:43] joshuareagan commented on #874
Actually, I think you have answered my questions (in the affirmative).  Thanks for your help, sorry if that took a little longer than you expected.

[2018-05-03 16:48] ohAitch commented on #874
Okay yeah, I see how "the noun in memory" would have been misleading, more
like "the noun as it was in memory between events last time the log was
successfully written / raft-consensused". The actual inter-event state is
only "your urbit" in an optimistic update sense, of being a computation
that is likely to be a component of what your urbit will become.

On Thursday, 3 May 2018, Joshua Reagan <n

[2018-05-03 18:02] belisarius222 commented on #874
Perhaps this is best thought of as metonymy, but I contend it's also
possible for "my urbit" to refer to the VM that's running Urbit for me,
including Vere and the Unix host. "I ssh'd into my urbit" only makes sense
because of this.

The definition of "my urbit" has the same frayed edges as the definition of
the self. Does it refer to the arrangement of molecules in my head at a
specific time (an

[2018-05-03 20:58] joshuareagan commented on #874
"Perhaps this is best thought of as metonymy, but I contend it's also
possible for "my urbit" to refer to the VM that's running Urbit for me,
including Vere and the Unix host. "I ssh'd into my urbit" only makes sense
because of this."

I don't disagree about this as a legitimate variant use of the expression, I just think it's good to nail down a canonical definition.

My Christian metaphysics and

[2018-05-03 21:27] ohAitch commented on #874
I think in my taxonomy, "SSH into my urbit" is "SSH into a system that lets me affect the value of that noun"; especially if the ssh is actually in-arvo `|link`

[2018-05-14 23:47] rmariani opened #875 "Commentary in source code of standard library documentation"
Each entry in the standard library documentation has an accompanying block of its hoon.hoon source. From hoon.hoon it inherited an uneven pattern of code commentary.

For example:
[code]

No code commentary can be seen for `++gte` in  [basic arithmetic](https://urbit.org/docs/hoon/library/1a/) doc, though. This is typical for all the standard library docs. Maybe that's intentional, to make things

[2018-05-14 23:49] rmariani commented on #875
would appreciate input from @vvisigoth @joshuareagan @keatondunsford

[2018-05-15 00:02] cgyarvin commented on #875
My input is: still working on the language features required to specify
this precisely, but for now use the turbo-ford notation

On Mon, May 14, 2018 at 4:49 PM, rmariani <notifications@github.com> wrote:

[2018-05-15 00:16] xykj61 commented on #875
As @belisarius222 hinted at in his earlier comments in urbit/docs#264, in the future, the docs should really auto-generate from the literate documentation in the Arvo source. There's no reason Urbit-flavored markdown and Ford couldn't support this at some date in the future. With that being said, often (almost always), the inline documentation refers to the code that follows it in the next line(s)

[2018-05-15 00:24] cgyarvin commented on #875
Confirm what Keaton says here.

On Mon, May 14, 2018 at 5:16 PM, Keaton Dunsford <notifications@github.com>
wrote:

[2018-05-21 01:34] g-a-v-i-n opened #876 "Heading legibility in hoon std lib docs"
I don't think 'Accepts', 'Produces' and 'Source' should be set in H2.

Instead I'd like to suggest that the description of the op should be like the rune docs, which look great.

I think this is best because it makes it easier to scan the page to find what you're looking for.

[2018-05-21 17:24] rmariani commented on #876
I am inclined to agree with this, it looks weird having the 'Accepts' etc so large.

[2018-05-21 20:34] xykj61 commented on #876
Agreed.

[2018-06-02 01:14] flowerornament opened #877 "Backspace not mentioned in console docs"
Typing backspace in an empty line on the dojo has behavior which is not documented here under the console section /docs/using/admin/ but probably should be.

What backspace does: interrupts all running commands.

[2018-06-02 01:15] flowerornament opened #878 "Shell (Dojo) docs don't explain how paths work"
How paths work is not explained i.e. /~planet/path/to/file

[2018-06-10 23:32] joshuareagan commented on #862
This rune is documented now.  Can you say a little more about the non-obvious bugs?

[2018-07-26 18:47] joshuareagan opened #879 "tic-tac-toe example buggy?"
I tried running the tic-tac-toe example here:  https://github.com/urbit/docs/blob/master/docs/hoon/examples.md

I gave it this list of moves:

[code]

That looks like a victory for `%x` to me, but the program returns `~`.  It looks like it fails to recognize appropriate victory conditions.

I'll work on a fix, but `win:bo` isn't the most transparent of arms.  I'm making an issue here in case someo

[2018-08-22 22:20] Fang- opened #880 "Broken links on % cen rune page"
[code]

They point to `/hoon/rune/limb/...` rather than `/hoon/limb/...`.

[2018-08-29 17:17] joshuareagan commented on #879
There is a rewritten version that works now.

[2018-08-29 23:54] joshuareagan commented on #870
@mikolajpp , is Plato still up somewhere?

@baudtack

[2018-08-30 01:46] mikolajpp commented on #870
It is, however need to update it.
Will message you later on your urbit

[2018-09-03 17:19] mikolajpp commented on #870
Migration to Elm 0.19 is taking longer than I expected...
I should finish in a couple of days, will message you once I got the hosting plato moon up and running again.

Sorry for delay!

[2018-09-04 14:33] mikolajpp commented on #870
Okay, got it working mostly. We can do some testing together. Message me on my urbit @joshuareagan @baudtack

[2018-09-04 18:35] joshuareagan commented on #870
His urbit is `~ponmep-litsem`, for Plato fans.

[2018-09-04 18:39] joshuareagan commented on #808
Age has made much of this discussion irrelevant.  Closing this, unless anyone has objections.

[2018-09-04 18:46] joshuareagan commented on #838
@rmariani , let's take another look at this.  Thoughts?

[2018-09-04 19:18] joshuareagan commented on #861
This is old, but fwiw I'll share my plans.

The old documentation is good enough for really dedicated learners to learn basic Hoon (they're how I learned Hoon!), but sorely needed improvement.  I thought it was important to go back and provide a more straightforward path so that Hoon beginners can have a less frustrating experience than I had.  For that reason, I'm writing another 'Hoon for beginn

[2018-09-04 19:19] joshuareagan commented on #862
Unless anyone has thoughts about how to improve the `=,` doc I'm closing this.

[2018-09-04 19:21] joshuareagan commented on #864
It would also be good to know if any of the irregular pronunciations are changing with the latest Hoon updates.

[2018-09-04 19:22] joshuareagan commented on #864
For the record:

[code]

[2018-09-04 19:30] rmariani commented on #838
I think searchability is a good idea. Would have to mull over what a good solution might be.

Loading everything onto a single page, though, would be overwhelming for two reasons.
1. The sheer volume of the standard library
2. Many different sections of the stdlib have identically named arms within cores. You need to know _where you are_ for them to be useful.

[2018-09-04 19:32] cgyarvin commented on #864
All of these except slus are terrible, we must rethink

On Tue, Sep 4, 2018 at 12:22 PM Joshua Reagan <notifications@github.com>
wrote:

[2018-09-04 19:36] joshuareagan commented on #838
We _could_ distinguish arms as follows: `add:rs` vs `add:rd` etc.  This is just one idea though and I'm not wedded to it.

I don't want to put *everything*, explanations and all, on a single page, but I think having a index of links on a single page is realistic.

[2018-09-04 19:37] joshuareagan commented on #864
Calling all bike-shed painters!

[2018-09-04 19:57] belisarius222 commented on #864
The only one of those I've ever used or heard is 'slus.'

—
~rovnys-ricfer
https://urbit.org

On Tue, Sep 4, 2018 at 12:22 PM, Joshua Reagan <notifications@github.com>
wrote:

[2018-09-04 19:58] joshuareagan commented on #867
Handled by PR urbit/docs#318

[2018-09-04 20:01] joshuareagan commented on #868
As you start to work on gall, it would be helpful to stay in contact so that we can document (at least writing some notes) as you're working.  Explanations are often more helpful and memorable when they include insights why certain decisions were made the way they were!

[2018-09-04 20:04] joshuareagan commented on #864
It's not clear to me that all of these need unique names.  I would guess only the arm rune names would get much use.  With the changes, that's: `++`, `+$`, and `+*`.

[2018-09-04 20:07] baudtack commented on #864
Captain Bikeshed reporting for duty.

Why do these even need unique names at all?

[2018-09-04 20:17] joemfb commented on #838
The right answer is to have high-quality full-text search for the docs. That's a non-trivial engineering problem (especially if we do it The Right Way(tm) and implement search in Urbit). But there are 3rd-party services we could use in the mean time.

[2018-09-04 20:19] joshuareagan commented on #838
Agreed, but to be clear, for now I'm only asking about an index for the stdlib docs.

[2018-09-04 20:21] rmariani commented on #838
I think that https://urbit.org/docs/hoon/library/ could just such an index page. It doesn't really _do_ anything right now.

[2018-09-04 21:14] Fang- commented on #868
Yes, I fully agree! Its UP can and should cover a lot of the reasoning behind gall's interface and intended usage, but that still leaves a lot unsaid. Let's keep in touch. (:

[2018-09-04 21:22] Fang- commented on #864
Wasn't the whole idea behind the new and """improved""" pronouncables to make them faster to say repetitively? (^:

I agree there's no real need for special pronunciations here. Even `slus` I hear used very rarely.

~~The lark ones might just want special lark pronunciation instead, higher or lower pitched grunts for left and right respectively.~~

[2018-09-04 21:35] cgyarvin commented on #864
We hear slus in the office pretty regularly.  None of the others.

The point is to mimic the natural contraction that happens through natural language evolution — but we don’t always get it right.

Sent from my iPhone

[2018-09-04 21:43] baudtack commented on #864
In that case, why not just allow them to arise organically rather than imposing them from the outside, particularly if no one has any good ideas for them and most of them seem to be universally hated. Make this a problem for the Hoonites of the future.

[2018-09-04 21:49] cgyarvin commented on #864
That’s always the safe approach!

But you’ve probably heard of artificially aged scotch.  I’m not saying I’d drink that stuff or anyone should.  But I don’t recommend “white lightning” either...

Sent from my iPhone

[2018-09-06 08:10] mikolajpp opened #881 "Missing base58check aura (bitcoin address) from docs"
There is no `@uc` aura mentioned in the docs at this link: https://urbit.org/docs/hoon/basic/
Also, I believe the UTF-32 string aura `@c` has confusing description, since it is actually a Utf-32 string (as an atom). Codepoint might led people to believe it is a single character which it needn't be.

Lastly, now that I think about it, `@uc` being unsigned base58check and `@c` being utf-32 string br

[2018-09-06 08:27] ohAitch commented on #881
I thought signed base58check(!) would be `@sc`, not just `@c`?

[2018-09-06 08:59] mikolajpp commented on #881
You meant `@uc`? Hmm, this is very strange, because I have implementation of base58check in my custom parser, and it matches `@uc` exactly. Now I discover there is also `@sc`.

From what I have seen in the Hoon, we don't have base58, everything is checked.
I guess `@sc` just takes the number and makes its into 2's complement number, and base58checks this...

We have
[code]
so I believe they are al

[2018-09-06 09:05] mikolajpp commented on #881
I know this is not against aura nesting rules, so perhaps just leave it as is.
Still, docs should mention the base58check stuff, also remember to include the signed version.

[2018-09-07 07:34] joshuareagan commented on #881
The aura conventions aren't such that `@c` should be related to `@sc` and `@uc`.

One convention is this: when you have some aura, `@a`, you can add more lower-case letters to get a more specific aura type that nests under it (e.g., `@a` and `@ab`).  Of course the pretty-printing rules can be totally different from one aura to the next, even if one nests under the other, e.g., `@t` and `@tas`.  (I

[2018-09-07 07:36] ohAitch commented on #881
Okay, that's what I was thinking. Like, @da is unrelated to @ud, right?

On Fri, Sep 7, 2018 at 12:34 AM, Joshua Reagan <notifications@github.com>
wrote:

[2018-09-07 07:43] joshuareagan commented on #881
Yes, that's my understanding.

[2018-09-07 09:55] mikolajpp commented on #881
While we are at it, how about starting to call `@c` a `utf-32 cord` because I think this
is the most apt name. Alternatively, someone should invent a name for it, same as we have knots

[2019-01-15 00:44] rmariani opened #30 "Standard library is gigantic on navbar"
We should find a way to make this manageable. The stdlib is is about 50 pages, making it almost a third of the navbar. That overwhelms pages that are much more important for people to be able to navigate to from anywhere. Obviously the standard library is important as a whole, but pound-for-pound, those pages are low-value and eat up a lot of real estate.

Could we make an unprincipled exception t

[2019-01-15 02:17] aaronraimist opened #882 "Links on docs/introduction broken"
Most of the links on https://urbit.org/docs/introduction/ are broken

[2019-01-15 02:18] aaronraimist commented on #882
as well as a lot of the links in the README

[2019-01-15 02:40] rmariani opened #29 "Ordered lists don't display correctly"
The numbers appear on different lines from the content of the list-elements. Look at the "Getting Started" part of this page

https://urbit.org/docs/getting-started/

Seems to be an issue in `/static-site/css/lists.css`

[2019-01-15 02:42] rmariani commented on #882
This is fixed with https://github.com/urbit/docs/commit/6a9450846b65f6bb194b73950306a8c6f034fc25

[2019-01-15 04:35] joemfb opened #883 "Typo in "Arvo vs Azimuth""

[2019-01-15 04:36] rmariani commented on #883
On it

On Mon, Jan 14, 2019, 8:35 PM Joe Bryan <notifications@github.com wrote:

[2019-01-15 04:43] rmariani commented on #883
Fixed in https://github.com/urbit/docs/commit/5297748e51d8a2ff48b5b192ffe11e778d0e2a8f

[2019-01-15 04:43] joemfb opened #884 "a couple incorrect relative links"
on page => link test:

- https://urbit.org/docs/getting-started/azimuth/ => "Getting Started"
- https://urbit.org/docs/learn/ => "Azimuth"

[2019-01-15 04:44] joemfb opened #885 "obsolete ssl instructions"
here: https://urbit.org/docs/learn/arvo/arvo%20internals/admin/

The `.urb/tls` directory is no more, LetsEncrypt integration is automatic, and manual custom certificate support should be documented (and finished/polished with generators &c).

[2019-01-15 05:56] rmariani commented on #884
I just fixed "Getting Started" in https://github.com/urbit/docs/commit/ffa18bb789c6a037fc7f7f6e500027b40e314dff

The other one was already fixed in https://github.com/urbit/docs/commit/7674649e3615b864d37efd8d212fd43f29a0a360, looks like the site just doesn't use it yet

[2019-01-15 06:33] joemfb commented on #884
thanks for checking

[2019-01-15 18:47] jyng commented on #29
I don't think it has to do with `lists.css`, unless you can point to a specific part of the CSS. It has to do with the way lists are outputted.

There's a `<p>` tag inside the `<li>` and the `<p>` tag is a block element so it takes up the whole row making it go onto the next row. I'd like for this be a Sail fix where <p> tags are not inserted. @vvisigoth Is this doable?

[2019-01-15 19:41] philipcmonk opened #904 "Docs are impossible to navigate"
Here's a stream-of-consciousness log of me trying to find the docs on molds:

- go to urbit.org, click docs
- scroll through sidebar looking for hoon tutorials or something, there's so much information and so many numbers my eyes can't parse it.  I see "learn/arvo", but don't know where hoon is.
- try skimming the intro page, see "The hoon tutorial", click that
- I see a description of chapters 1

[2019-01-15 19:46] baudtack commented on #904
The sidebar should probably have collapsed headings to address this problem.

[2019-01-15 19:46] joemfb commented on #904
- I agree that this is hard to navigate and explore.
- A lot of those links are fixed, but the update hasn't been pushed yet.
- I don't think "molds" exist anymore.

[2019-01-15 19:51] vvisigoth commented on #904
@rmariani can you make sure that these links are fixed?

[2019-01-15 19:53] vvisigoth commented on #29
Need to remove auto-adding a p in converting from udon->html

[2019-01-15 20:59] vvisigoth commented on #885
@rmariani You can just remove the SSL section here until we can have nice documentation about the LE integration.

[2019-01-15 23:27] #14 closed, assigned to nobody

[2019-01-15 23:27] #12 closed, assigned to nobody

[2019-01-15 23:27] #9 closed, assigned to nobody

[2019-01-15 23:28] #7 closed, assigned to galenwp

[2019-01-15 23:28] #2 closed, assigned to nobody

[2019-01-16 02:13] flowerornament opened #22 "Missing margin-bottom in h4"
See https://github.com/urbit/base-css/issues/54

@neauoire:

[2019-01-16 02:46] rmariani commented on #885
Handled with https://github.com/urbit/docs/pull/336

[2019-01-16 03:07] neauoire opened #24 "Issue displaying images in the Primer"
Images in columns need `width:100%`.

<img width="1280" alt="screen shot 2019-01-16 at 3 05 08 pm" src="https://user-images.githubusercontent.com/1455726/51223927-54d1ad00-19a0-11e9-880a-4c9525e23c21.png">

<img width="1280" alt="screen shot 2019-01-16 at 3 05 22 pm" src="https://user-images.githubusercontent.com/1455726/51223936-5ac78e00-19a0-11e9-9a42-5ca7c8a73f07.png">

Expected:

<img width="1

[2019-01-16 18:27] #22 closed, assigned to jyng

[2019-01-16 23:16] flowerornament opened #28 "/docs sidebar doesn't remember your place"
@belisarius222:

[2019-01-16 23:31] baudtack commented on #30
Is there a reason we don't want to make the top level things on the nav bar collapsible headers? My design sense is pretty terrible but that seems to be a decent solution to me.

[2019-01-16 23:37] flowerornament commented on #30
@baudtack that's a solid option, @rmariani we'll turn our attention to this in the next couple of days

[2019-01-17 02:00] rmariani opened #31 "Readme "render/export" instructions don't work"
Is there a missing step before step 3 under 'To render/export'?

[code]

I started everything fresh, and it turns out that there is no `/web` in my fakezod's `/.urb/put` directory. So there was no rendered content to copy.

EDIT: It looks like this step should be swapped with step 4, which says to use `|static`.  And `cp -r </path/to/pier>/.urb/put/web dist && cp static-site/js dist` should be `cp

[2019-01-17 02:28] rmariani commented on #31
It works once those issues are addressed @vvisigoth

PR here: https://github.com/urbit/urbit.org/pull/32

[2019-01-18 18:50] rmariani opened #34 "Docs navbar overlaps onto page text"
The navbar now extends too far out, and covers up the documentation page.

From https://urbit.org/docs/introduction/:

https://imgur.com/a/l9VXVhy

[2019-01-18 18:50] rivful-haswep opened #886 "Lack of clarity in Getting Started -> Using Bridge making it diffictul to get started for new users"
There are a number of issues in the Getting Started section that make it unclear to new users what they are supposed to be doing. I think some may just be typos. Some seem to be an inconsistent level of specificity.

Typos:
-Getting Started uses "Generate Urbit networking keys", but the only similar option in Bridge is "Set Urbit networking keys".
-Similarly, the Getting Started file uses "Generat

[2019-01-18 18:55] rmariani commented on #886
Thanks for pointing this out. Some of these concerns, artifacts of the Bridge app copy changing since the docs were written, are addressed in this recent commit:

https://github.com/urbit/docs/commit/0a961658799483aa3754e1806177f6aec8759da8

I'll address the others!

[2019-01-18 18:56] rivful-haswep commented on #886
Thanks!

[2019-01-18 18:56] baudtack commented on #886
If you are trying to boot a planet, then your network keys should already be set and the option you want is in step 6 Generate Urbit Keyfile

You are 100% right in my opinion that this is confusing. I spent about two hours yesterday cursing at it trying to figure out what I was supposed to do.

I think the ultimately correct thing to do is to have bridge have a "baby" mode that is an extremely sim

[2019-01-18 19:01] rivful-haswep commented on #886
baudtack,

Did you end up paying for a transaction to set up the network key, or am I in the completely wrong part of Bridge?

If paying for a transaction is going to be necessary for everyone setting up their urbit ship, there should probably be an explanation of how to add Etherium currency to the HD Wallet, or wherever it needs to be, to spend on the necessary transaction.

[2019-01-18 19:08] baudtack commented on #886
If you have to set up keys, which to my understanding if you are just booting a planet should not at all be necessary right now, then you don't need to pay a translation since all the work on the eth blockchain is already finished. So I didn't need to to boot my planet, ~rapfyr-diglyt.

It is entirely possible that it will be more common later as people start getting points from friends or buying

[2019-01-18 19:15] jyng commented on #34
Fixed here #35

[2019-01-18 19:37] rivful-haswep commented on #886
I see. That makes sense. So "Generate Urbit keyfile" is talking about "Generate Avro keyfile" not "Set Urbit networking keys". I think I see the way forward then.

Thanks.

[2019-01-18 20:10] urcades opened #36 "Mobile header is appearing in desktop-sized viewport, article content is being pushed to bottom of scroll"
Browser Information:
`Chrome: Version 71.0.3578.98 (Official Build) (64-bit)`

Related to:
#34

Currently, when I try to visit the Urbit docs in a desktop, I see this:

<img width="1472" alt="screen shot 2019-01-18 at 15 05 51" src="https://user-images.githubusercontent.com/1195363/51410413-94300300-1b32-11e9-8010-f10f0dfe4865.png">

It looks like the mobile navigation is popping up and pushing al

[2019-01-18 22:41] urcades commented on #36
This appears fixed now

[2019-01-18 23:04] #34 closed, assigned to nobody

[2019-01-18 23:05] rmariani opened #37 "Most of the content of gall.udon is mission"
*missing. Compare:

https://urbit.org/docs/learn/arvo/arvo-internals/gall/

https://github.com/urbit/docs/blob/master/learn/arvo/arvo-internals/gall.udon

[2019-01-18 23:07] vvisigoth commented on #37
Interesting. My guess is that that multiline block quote is causing some problems?

Try to render on ship and see if you get any difference, just to confirm that it's not an issue with |static.

[2019-01-19 01:05] mattlevan opened #887 "Fora links broken"
Examples here: https://urbit.org/docs/introduction/community-tutorials/

[2019-01-21 18:41] c-johnson opened #38 "Scrollbar still weird"
![image](https://user-images.githubusercontent.com/583272/51493114-0ab64600-1d69-11e9-99c1-48555eb49568.png)

[2019-01-21 18:41] c-johnson commented on #38
(Chrome 71, wide screen size)

[2019-01-22 23:25] flowerornament commented on #38
@jyng you got this?

[2019-01-22 23:36] #36 closed, assigned to nobody

[2019-01-22 23:42] rmariani commented on #887
fixed in https://github.com/urbit/docs/pull/352

[2019-01-22 23:57] jyng commented on #38
Fixed this in latest commit: https://github.com/urbit/urbit.org/commit/f15703060c08ed929177b2df17f5058afc3c732a

[2019-01-23 00:57] #38 closed, assigned to jyng

[2019-01-28 23:45] rmariani commented on #37
Looks like this has been fixed. Does anyone know what the problem was?

[2019-01-28 23:56] ohAitch commented on #37
<s>vim typo</s>

On Monday, 28 January 2019, rmariani <notifications@github.com> wrote:

[2019-01-28 23:57] rmariani commented on #37
nice 😎

[2019-01-28 23:57] #37 closed, assigned to nobody

[2019-01-28 23:58] ohAitch commented on #37
(Note: strikethrough because I'm just guessing, I was in no way involved
with gall.udon composition)

On Monday, 28 January 2019, rmariani <notifications@github.com> wrote:

[2019-01-29 19:41] vvisigoth opened #888 "Please add manual "next" links to the learn hoon docs"
Each lesson should have a link at the bottom to the next chapter.

[2019-01-29 21:50] tacryt-socryp opened #889 "Arvo Take / Call Interface"
Rationale:
1. I've heard many times from infrastructure developers that the easiest place to write Hoon is in a generator, and the second easiest place to write Hoon is in a Vane.

2. The goal of Hoon school is to increase the amount of people who know Hoon with the eventual goal of having more Arvo systems development occurring from the community.

Proposal:
In that spirit, I think documenting th

[2019-01-29 21:52] rmariani commented on #889
I agree with your proposal, at least to the extent that vane architecture needs to be better documented. But is (2) really the goal of Hoon school? I'd think that we want app developers who can front-end stuff for their cities.

[2019-01-29 22:20] tacryt-socryp commented on #889
As per previous conversation on the topic, app development is currently too hard to expect people to do until the Gall rewrite, which as I understand it is a research project with no ETA.

[2019-01-30 21:40] tacryt-socryp opened #890 "Rune docs don't have links to specific docs"
This page feels broken to me. Perhaps add links to "zap" docs, "col" docs, etc from within this?

https://urbit.org/docs/reference/hoon-expressions/rune/

[2019-01-30 21:43] rmariani commented on #890
Yeah, these should have links. This used to be handled by a javascript thing that was taken out

[2019-01-30 23:18] rmariani commented on #890
Fixed in https://github.com/urbit/docs/pull/365

[2019-01-31 22:42] joshuareagan opened #891 "getting started instructions on ubuntu 18"
Upgraded my OS to Ubuntu 18 a couple of weeks ago, and the new install instructions aren't working for me.  I do what [https://urbit.org/docs/getting-started/](https://urbit.org/docs/getting-started/) says (i.e., cutting and pasting instructions), but I get a problem on:

[code]

On that command I get the following, looping over and over until I ctrl+c:

[code]

and so on.

I noticed that the comm

[2019-01-31 22:52] joshuareagan commented on #891
reproduced in Ubuntu 16

[2019-01-31 22:54] joemfb commented on #891
That's strange, I haven't seen this behavior. Just a guess: did you run `./scripts/bootstrap` first? I think that may be required with meson 0.29.

[2019-01-31 22:55] baudtack commented on #891
the ninja-build package should work on Ubuntu now it looks like. I don't think the ninja git instructions are necessary.

[2019-01-31 22:59] joshuareagan commented on #891
I did run the bootstrap first.  I'll try the alternate ninja-build installation.

[2019-01-31 23:03] joshuareagan commented on #891
@baudtack that did it, thanks!  The ninja-build install gave me 1.8.2 instead of 1.9, and it works now.

[2019-01-31 23:12] baudtack commented on #891
@joshuareagan awesome! I'll go remove those then.

[2019-02-01 21:14] rmariani commented on #888
Fixed in https://github.com/urbit/docs/pull/370

[2019-02-04 23:29] tacryt-socryp opened #892 "Learn - Hoon has broken link"
https://urbit.org/docs/learn/arvo/hoon/ has a link labeled "Hoon Workbook" that is broken

Also...

The "Lessons" category on this page is completely blank. None of Josh's lessons are present.

[2019-02-04 23:48] tacryt-socryp opened #893 "Learn - Nock doesn't contain links to its subsections"
https://urbit.org/docs/learn/arvo/nock doesn't contain links to its subsections.

[2019-02-04 23:50] tacryt-socryp opened #894 "Learn - Vere doesn't contain links to its subsections"
Same as Learn - Nock.

https://urbit.org/docs/learn/arvo/vere/

[2019-02-05 22:23] pilfer-pandex opened #895 "Docs are difficult to navigate"
I've been reading the docs pretty extensively lately, as you might imagine. One of the things that is currently difficult about reading docs is navigation. Here are some ideas:

- having links to next, previous, and parent chapters from each chapter, or perhaps at fixed position in one of the margins
- maintaining correspondence between active chapter and toc position. This means that when I load

[2019-02-05 22:29] rmariani commented on #895
These are all good ideas. Some of which we are implementing! Check out https://github.com/urbit/docs/pull/370

A lot of these problem are the result of "losing things in the fire" of us switching to. Some fancy web-dev elements do not work anymore and need to be done manually. It's happening, though.

Your last bullet point is tricky, though. We can't call it "3.1.2.6 Multi-gate Cores and Doors" b

[2019-02-05 23:01] rmariani commented on #893
Yeah, these all suffered from the transition. Will fix.

[2019-02-06 00:59] rmariani commented on #894
Fixed in https://github.com/urbit/docs/pull/379

[2019-02-06 00:59] rmariani commented on #893
Fixed in https://github.com/urbit/docs/pull/379

[2019-02-06 01:04] #29 closed, assigned to jyng, rmariani

[2019-02-06 18:51] flowerornament opened #43 "Links to updates in /posts/index.html have wrong url: "/update/" rather than "/updates/""
The generated website has the wrong links for updates on the /posts page. Wasn't able to locate the source of the bug at a cursory glance.

[2019-02-06 18:52] flowerornament commented on #43
@vvisigoth on the current live site, I changed the urls manually in `/posts/index.html`

[2019-02-06 19:07] flowerornament opened #44 "Site does not seem to compile with newer version of urbit/arvo"
We don't have enough information to write a good issue on this, and it takes forever to debug, but we attempted to build the website on @rmariani's machine using 0.7.2 and arvo@master or arvo@static-site-dev and it seems like the /docs folder was missing in the output.

This could also be a bug in the shell script we used.

[2019-02-06 19:10] belisarius222 commented on #44
Building the whole site at once has been known to cause a `bail:meme` (out-of-memory error), which can sometimes manifest as a hang instead. I believe @vvisigoth has a procedure for building it in two steps to use less memory.

[2019-02-06 19:25] flowerornament commented on #44
Thanks @belisarius222 – that should be its own issue. I'll clarify this one to distinguish it.

[2019-02-06 19:47] vvisigoth commented on #43
Which branch of arvo did you use? I believe that static-site-dev has a
different version of the |static generator.
—
~poldec-tonteg
http://urbit.org

On Wed, Feb 6, 2019 at 10:52 AM Morgan Sutherland <notifications@github.com>
wrote:

[2019-02-06 19:53] flowerornament commented on #43
@vvisigoth I used arvo@static-site-dev

[2019-02-06 20:50] tacryt-socryp opened #896 ""ket" page has ^. instead of ^+ on the "ketlus" entry"
https://urbit.org/docs/reference/hoon-expressions/rune/ket/

[2019-02-06 20:53] rmariani commented on #896
Nice catch. Fixed in https://github.com/urbit/docs/commit/8b731b6c42d0d8b51663014492acb8e2a06d6de3

[2019-02-06 22:11] rmariani opened #897 "Numbers on the sidebar are confusing"
It's been mentioned here: https://github.com/urbit/docs/issues/378 and many other places.

Having numbers on the sidebar seem like a not-well-thought-out way to indicate the position of something in the hierarchy. The problem is that `Reference` being `4` is not something that actually means anything in the documentation. I'd say it's actually confusing, since it implies a progression that does no

[2019-02-06 22:18] vvisigoth commented on #43
Found the problem
https://github.com/urbit/urbit.org/blob/master/static-site/posts.hoon#L31

Not at my comp now, but change this line to 'updates' and you should be
good.
—
~poldec-tonteg
http://urbit.org

On Wed, Feb 6, 2019 at 11:53 AM Morgan Sutherland <notifications@github.com>
wrote:

[2019-02-06 22:48] flowerornament commented on #43
@vvisigoth ok, thought it might be that. I suspect this will also change the tag on /posts to "updates," which is undesirable.

[2019-02-06 23:57] rmariani opened #45 "Numbers on the docs sidebar are confusing"
It's been mentioned here: https://github.com/urbit/docs/issues/378 and many other places.

Having numbers on the sidebar seem like a not-well-thought-out way to indicate the position of something in the hierarchy. The problem is that `Reference` being `4` is not something that actually means anything in the documentation. I'd say it's actually confusing, since it implies a progression that does no

[2019-02-07 21:13] rmariani commented on #892
Fixed in https://github.com/urbit/docs/pull/382

[2019-02-07 23:35] rmariani commented on #44
I am trying to build the static site on 0.7.2, and the problem seems to be that nothing is ever added to the /.urb/put directory. It's empty.

[2019-02-07 23:38] vvisigoth commented on #44
Let me come over and check.

—
~poldec-tonteg
http://urbit.org

On Thu, Feb 7, 2019 at 3:35 PM rmariani <notifications@github.com> wrote:

[2019-02-07 23:55] pilfer-pandex opened #898 "Zapdot summary is backwards."
The first line of documentation for `!.` reads "Turn on stack trace for a subexpression `p`". Instead it should read "Turn off..."

[2019-02-08 01:11] rmariani commented on #43
Fixed now

[2019-02-08 01:11] #43 closed, assigned to vvisigoth

[2019-02-08 01:11] #44 closed, assigned to nobody

[2019-02-08 18:47] rmariani commented on #898
Thank you. Fixed in https://github.com/urbit/docs/pull/385

[2019-02-08 20:11] pilfer-pandex opened #899 "Typos in "Base Structures" in docs/reference/hoon-expressions/rune/bus/"
https://urbit.org/docs/reference/hoon-expressions/rune/bus/

Second paragraph of base structures > procedures, empty string appears to be in code tags twice, also text doesn't make sense:

Base structures > syntax: Change "`?` makes `%bean`" to "`?` makes `%flag`"

[2019-02-08 22:34] rmariani commented on #899
fixed in https://github.com/urbit/docs/pull/387

[2019-02-08 22:39] pilfer-pandex opened #900 "No way to find a library function by name"
In the course of reading code, suppose I come across a gate call, e.g. to `need`. I'd like to determine what `need` is. If I know that it is in 2a: unit logic, then I can search that page for "++need." But if I don't know this, I have no way of finding the documentation. Of course, knowing what section a function is in is already half the battle to knowing what it is.

There ought to be a way to s

[2019-02-09 01:08] galenwp commented on #900
I agree with this.

One way I've thought about it: write out all the arm names, all the runes, all the relevant vane arms to a single `search-strings.js` or similar file that's a giant `json` payload. Then, on search, download that file client-side and search through it.

Ford should be able to do the heavy lifting to pull out the relevant data into a `.js` file. We could add the keywords as metad

[2019-02-11 19:56] flowerornament commented on #44
@rmariani what was the resolution?

[2019-02-11 20:43] ngzax opened #901 "Docs don't seem to work in latest urbit"
I am running urbit 0.7.2 on my planet booted from azimuth. I have copied over the latest docs from master into /web but they don't seem to work. All pages just give me 404.

![image](https://user-images.githubusercontent.com/87197/52592103-8872ec00-2e13-11e9-8f07-39283c4c2aaf.png)

I would normally try to ask in urbit, but it seems like all comms are down for me as well. (I have received some spor

[2019-02-11 20:47] rmariani commented on #44
The issue turned out being that I forgot the argument `-A` to make it look for my arvo folder (which wa on the `static-site-dev` branch)

[2019-02-11 20:49] rmariani commented on #901
This is probably a better issue for github.com/urbit/urbit.org, for future reference

what Arvo branch are you using?

[2019-02-11 21:06] ngzax commented on #901
Ah, ok. Having a bit of trouble finding *how* to communicate to anyone ATM. 😁

Anyway, I built off the the latest master at the time, commit 54ec1258. (2/5).  It build urbit 0.7.2

Thanks.

[2019-02-11 23:13] jfranklin9000 commented on #901
This looks to be the same as https://github.com/urbit/arvo/issues/1050

There is a fix there (which didn't work for me).

Try joining `~zod/blitz` for latest comms.

[2019-02-11 23:14] jfranklin9000 commented on #901
Also, https://twitter.com/zodisok has good info about the current state of the net.

[2019-02-12 01:22] ngzax commented on #901
Thanks for the info, I appreciate it. I'll assume this is just transitory and more information will be forthcoming. I'll close this.

[2019-02-14 00:36] baudtack opened #902 "Hoon tutorial contains a hoon syntax section which is out of date"
This section https://urbit.org/docs/learn/arvo/hoon/hoon-syntax/ has a portion which is incorrect and should be excised in favor of referencing https://urbit.org/docs/learn/arvo/style/

[2019-02-14 06:37] ohAitch commented on #902
Is this what we want in a tutorial before the codebase actually follows it?

On Wednesday, 13 February 2019, David Kerschner <notifications@github.com>
wrote:

[2019-02-14 18:27] baudtack commented on #902
Yes. Because all new code should be written this way.

[2019-02-15 03:20] liweiz opened #46 "Does Urbit need Chinese version of its intro?"
I'm interested in translated it to Chinese. I'm also interested in translate the idea behind it, which I'm reading on and off recently, to Chinese.

I bought a star from last time public offering, too (wanted to get two, but did not have enough budget).

Please let me know what your thoughts on this.

Liwei

[2019-02-15 23:44] flowerornament commented on #46
Hey @liweiz, excited to hear! Let's talk about it.

Our docs are in flux, so I'm reluctant to encourage you to translate anything there, but I think it could make a lot of sense to translate the [Primer](https://urbit.org/primer/). Does that seem interesting to you, or was there a particular part of the documentation that you were interested in?

[2019-02-16 02:23] liweiz commented on #46
@msutherl

Thank you for your response. What I meant was actually translating the Primer. Sorry to make you confused. Once I get Urbit's permission, I'll start to translate the Primer. My current plan is just to translate the text content atm. After I finish, I'll let you know and we can discuss the translation and how to merge into the repo. Any suggestion?

[2019-02-19 06:00] flowerornament commented on #46
@liweiz I transferred this issue to the urbit.org repo where the [primer](https://github.com/urbit/urbit.org/blob/master/static-site/primer.hoon) lives.

[primer.hoon](https://github.com/urbit/urbit.org/blob/master/static-site/primer.hoon) is written in sail, which is our templating language. Let me know if you need help deciphering that – though it sounds like you plan to work from the rendered H

[2019-02-21 01:29] liweiz commented on #46
@msutherl Thank you. I'll go through it. If there is any problem, I'll let you know.

[2019-02-23 16:16] liweiz commented on #46
@msutherl

I have a question in this:

Is "the noun" a concept name defined especially for Nock? It seems so. If that's the case, I'll keep it as "noun" in English instead of some confusing Chinese phrase.

[2019-02-23 21:14] ohAitch commented on #46
"Noun", "cell", and "atom" are definitely being defined here as
nock-specific jargon; but also definitely relate to their generic concepts
of

- a "noun" is any concrete *thing* you can refer to. If you say a sentence
about what your urbit is doing, all the literal nouns in it will likely
have corresponding nock nouns. (Technically so will the verbs, via sth like
"the technique to [insert verb her

[2019-02-24 01:20] liweiz commented on #46
@ohAitch

Thank you very much for explanations of those concepts in a way that even a layman can have a link to those concepts.

I was thinking "cell" is just something like a container with a specific structure as described in the article. Now I know where I should look.

Thanks again.

[2019-02-25 19:07] rmariani commented on #902
fixed in https://github.com/urbit/docs/pull/396

[2019-02-27 22:43] flowerornament opened #903 "Explain concepts in Star operations documentation"
@fche writes in https://github.com/urbit/docs/pull/401:

[2019-02-28 08:10] liweiz commented on #46
@msutherl

In this step, can you let me know how to get into the running fakezod?

I'm following the "Test and Develop in Arvo" in README.

The initial translation has been done, I'm trying to take a look at the rendered version. If everything's good, I'll let my friend review my translation and revise before making a pull request here.

[2019-03-01 19:59] flowerornament commented on #904
I have the green light to work on the website over the next couple of months, so we'll have a chance to fix some things. Meeting Monday with @galenwp and @rmariani to talk about some of the main issues with docs specifically.

[2019-03-01 20:22] rmariani commented on #904
The navbar is definitely a tough issue to wrangle with, so I feel your pain @philipcmonk. We have some solutions in mind already, so stay tuned

[2019-03-05 21:15] iamwillkim opened #905 "docs/bridge is 404"
High priority that we fix this; urbit hd wallets direct users to get documentation from docs/bridge, but that link no longer works after the urbit.org changes.

[2019-03-05 21:52] galenwp commented on #905
This is definitely a high priority. When can we get this fixed?

[2019-03-05 21:54] rmariani commented on #905
I am on this

[2019-03-05 22:20] flowerornament commented on #905
fixed

[2019-03-06 01:47] pilfer-pandex opened #906 "Rename "compiler macro" to "desugaring""
Some runes compile directly to nock. We call these "core runes." The others translate into expressions involving core runes. The traditional cs name for this is not "macro expansion" but "syntactic sugar." The translation process is called "desugaring," and the result of desugaring an expression is called its "desugaring." (It's both a noun and a verb.)

The ask here is to rename the subheader "Co

[2019-03-06 01:48] ohAitch commented on #906
(Or directly to types, but yeah +1 on naming change)

On Tuesday, 5 March 2019, pilfer-pandex <notifications@github.com> wrote:

[2019-03-06 01:50] rmariani commented on #906
Sounds reasonable to me!

[2019-03-06 18:34] rmariani commented on #906
handled in https://github.com/urbit/docs/pull/424

[2019-03-12 19:39] vvisigoth opened #907 "Most of the information in "Introduction" is not worthy of its place in layout"
Is Source Code overview really worthy of this location?

<img width="837" alt="Screenshot 2019-03-12 12 38 57" src="https://user-images.githubusercontent.com/1609955/54230563-e141ad00-44c3-11e9-9a96-989a84b62f3e.png">

[2019-03-12 19:42] rmariani commented on #907
I actually meant to talk to you about this, thanks for reminding me. I tried to move the top-level pages with just the `sort` frontmatter, but this did nothing. I think the navbar placement is determined by the code in [sidebar.hoon](https://github.com/urbit/urbit.org/blob/master/partials/sidebar.hoon). I've tried moving stuff around but have gotten errors.

[2019-03-12 21:18] rmariani commented on #838
Search is happening Soon.

[2019-03-12 21:19] rmariani commented on #839
@eglaysher is this issue still relevant?

[2019-03-12 21:25] rmariani commented on #861
Josh's post addresses this nicely

[2019-03-12 21:26] ohAitch commented on #851
I think the ship less version still works and is the default? But
definitely outdated in the sense of "no activity on the issue for a year"
at least, may haps the docs themselves are better now

On Tuesday, 12 March 2019, rmariani <notifications@github.com> wrote:

[2019-03-12 21:27] ohAitch commented on #863
Ooh, can I get a link to what the end result of this was?

On Tuesday, 12 March 2019, rmariani <notifications@github.com> wrote:

[2019-03-12 21:31] rmariani commented on #863
I assumed it was made irrelevant by cc-release being gone

[2019-03-12 21:32] rmariani commented on #866
Marks docs are gone

[2019-03-12 21:32] ohAitch commented on #863
Hm? Has like, the entire connect-to-external-apis section of eyre been
removed?

On Tuesday, 12 March 2019, rmariani <notifications@github.com> wrote:

[2019-03-12 21:34] rmariani commented on #869
This is part of the larger task to create a galaxy-operations doc

[2019-03-12 21:35] ohAitch commented on #866
(Like similarly here, do we just no longer have documentation of marks
anywhere in the system? Because if we do, it probably evolved from the
version this issue is against, and is likely to have the same bad example.
Maybe it doesn't but then pls cite /that/ as the closing reason)

On Tuesday, 12 March 2019, rmariani <notifications@github.com> wrote:

[2019-03-12 21:39] rmariani commented on #878
This document now directs the path-curious to the filesystem docs, where paths are explained: https://urbit.org/docs/learn/arvo/arvo-internals/filesystem/

[2019-03-12 21:40] rmariani commented on #886
Getting-started has been clarified and broken up into four separate documents. Bridge is also going to be self-documented soon.

[2019-03-12 21:45] rmariani commented on #889
Architecture documentation is on our radar.

[2019-03-12 22:40] rmariani commented on #907
Fixed with https://github.com/urbit/urbit.org/pull/52

[2019-03-13 19:01] flowerornament opened #908 "Comprehensively document need for urbit port 80 access"
We have a soft assumption that Urbit is running on port 80, i.e. for access to Landscape.

We added a note about enabling access to port 80 on Ubuntu (https://github.com/urbit/docs/pull/432), but this should be documented for all distributions.

[2019-03-13 20:12] joemfb commented on #908
This is only strictly necessary for stars. Also advised for galaxies, so that they can get a LetsEncrypt certificate. Not at all necessary for planets, as they are always proxied through the star when accessed via `arvo.network`.

[2019-03-13 21:58] flowerornament commented on #908
This has not been the case for my planet in my experience @joemfb, which makes me wonder if I'm misunderstanding what's going on. Possibly my ship didn't have permission to communicate over 8080 either and urbit defaults to saying it's on 8080 even if it can't connect at all.

[2019-03-14 22:54] Fang- opened #909 "Standard library reference pages only accessible via sidebar"
You'd expect [this parent page](https://urbit.org/docs/reference/library/) to have an overview or something, at least a list of links to the sub-pages.

[2019-03-14 23:01] jfranklin9000 commented on #909
Is this what you wanted: `https://urbit.org/docs/reference/alphabetical-arms/`?

I could move that in there.

[2019-03-14 23:03] rmariani commented on #909
I could have sworn that I wrote a descriptive page for this... I will write something up.

@jfranklin9000 If you could move your page in there (while retaining the "Documentation for the standard library" part) that would be great. I will augment it with descriptions later.

[2019-03-14 23:07] jfranklin9000 commented on #909
will do

[2019-03-15 00:22] jfranklin9000 commented on #909
see https://github.com/urbit/docs/pull/440

[2019-03-20 19:35] jtobin opened #57 "Are recent post dates correct?"
Just noticed that the dates seem kind of weird in recent posts on the website:

![](https://dsh.re/c881d)

Note `~2019.3.14 updates` is followed by `~2019.3.4`, and similarly for the next entry.

Is this intentional?  I was thinking that the headers were supposed to act as like week or two-week long containers or something, but there seems to be no structure to them.

[2019-03-20 19:40] flowerornament commented on #57
The title `~[date] Update` refers to the week the content refers to, while the date tag refers to the date that the content was posted to the website.

So, on March 14th we posted an update referring to the week of March 4th.

This is something I inherited and you're the second person today to be confused by it. I could be convinced to do something else if you think it would be better!

[2019-03-20 20:07] jtobin commented on #57
Ok, I think the overall structure makes sense.  It probably just seems a little weird for these posts in particular because the tag dates are separated from the title dates by like 10 days.  Further back the dates in the tag & header are identical.

When I think about it, It's probably better to just use the same date in both.  "A short update from the Tlon team for the week of X" can safely be in

[2019-03-20 20:14] flowerornament commented on #57
@jtobin seems fine to me. I may have been a bit pedantic – "from the week of of [date]" to me means precisely "from the week that started on [date] (be it the Sunday or the Monday)". I opted for the current system because having weekly updates be dated to the day they're posted would involve also changing all of the descriptions of the previous weekly updates so that that sentence remained accurat

[2019-03-20 20:19] jtobin commented on #57
No I hear you, that's definitely my primary reading too.  But I think the alternative reading is also acceptable, and nixes the date weirdness. 😄

[2019-03-20 21:00] g-a-v-i-n opened #910 "Front page link to Introduction 404s"
https://urbit.org/docs/

<img width="699" alt="Screen Shot 2019-03-20 at 4 59 48 PM" src="https://user-images.githubusercontent.com/5265021/54718774-b09bec00-4b31-11e9-8c32-0472c3d5f1dc.png">

[2019-03-20 21:02] flowerornament commented on #910
Will be fixed in deployment today

On Wed, Mar 20, 2019 at 2:01 PM Gavin Atkinson <notifications@github.com>
wrote:

--
~hidrel-fabtel
https://urbit.org

[2019-03-20 21:03] rmariani commented on #910
urbit.org/docs should redirect to urbit.org/docs/introduction. That's what it does for me.

At any rate, I am restructuring the docs and rewriting (https://github.com/urbit/urbit.org/pull/55) the top-level /docs article, so that will be fixed

[2019-03-22 21:38] flowerornament opened #911 "Arvo page links lead to 404s"
Links are broken at https://urbit.org/docs/learn/arvo/

[2019-03-22 21:39] flowerornament commented on #910
Quick update: we deployed without merging the PR that fixed this. Re-deploying today.

[2019-03-25 18:08] rmariani commented on #911
Fixed in https://github.com/urbit/docs/pull/451

[2019-03-26 06:13] jtobin commented on #910
I just ran into this one and it still appears broken (tested in w3m, i.e. without a cache).

[2019-03-26 17:39] rmariani commented on #910
It should look like this: https://github.com/urbit/urbit.org/blob/master/static-site/docs.udon

Must be an old version that's deployed. I think @msutherl is looking into this

[2019-03-27 18:27] rmariani commented on #910
This is fixed.

[2019-03-27 20:31] flowerornament opened #59 "Minimum font-size set to 6px in Chrome 73"
As of today, it appears that Chrome 73 is applying line-height: 8rem (rendered as 48px) to everything on the website. Safari doesn't appear to be doing this, nor Chrome Canary 75.

I wasn't able to reproduce on other machines, though we observed the same problem with Bridge.

- Line-height is too big in many places
- Menu icons are rendered larger than expected

The root problem appears to be that

[2019-03-27 20:59] flowerornament commented on #59
@c-johnson filed a Chromium bug here https://bugs.chromium.org/p/chromium/issues/detail?id=946696&can=2&q=rem

[2019-03-29 00:13] flowerornament commented on #46
@liweiz missed the notification for this, sorry!

We're about to re-implement the website with [zola](https://github.com/getzola/zola/), so pending review, I'll add this to the scope. The zola project hasn't quite sorted out its internationalization features, but it's coming in the next release. We can figure out a hack in the meantime.

As for preview, you can follow the instructions here: https:

[2019-03-31 22:55] johnmendonca opened #912 "Debian install instructions: python3-setuptools is required"
I was following the urbit install instructions at https://urbit.org/docs/getting-started/installing-urbit/ for debian/ubuntu, and the `meson` pip installation failed with this error:
[code]

It worked after I ran:

[code]

[2019-04-02 22:41] flowerornament commented on #912
OS? And was it a fresh VM?

[2019-04-02 23:23] johnmendonca commented on #912
MX Linux freshly installed on a laptop (Thinkpad R61e).

[2019-04-09 20:02] liweiz commented on #46
@msutherl I'm following [Test and Develop in Arvo](https://github.com/urbit/urbit.org#test-and-develop-in-arvo) to render the page I translated. But every time I get this:

![Screen Shot 2019-04-09 at 3 51 43 PM](https://user-images.githubusercontent.com/2466618/55830840-d3417500-5adf-11e9-96e3-a40f6bd7dae5.png)

The fresh run of all the steps with English version Primer could result in a rendered

[2019-04-09 20:35] flowerornament commented on #46
@liweiz I think best for you to create a PR so I can have a look – it's difficult to figure out what's going on from the stack trace there. We're working on the new website now, so we'll end up re-doing the styling anyhow.

[2019-04-11 22:01] flowerornament commented on #59
It would appear that Chrome made 6px the minimum font-size, and our CSS is based on multiples of a 4px. @c-johnson is working toward a fix for Bridge. You might find this interesting @galenwp.

[2019-04-26 10:51] Fang- opened #914 "Urbit HD wallet page doesn't explain networking keys"
It talks about ownership and proxies. But the diagram shown includes networking keys, which aren't talked about at all.

We should add a brief paragraph explaining that the Urbit HD wallet structure makes it easy to rotate public keys (for use with Arvo) also.

[2019-04-30 00:05] flowerornament commented on #45
@rmariani update on this: @friederjanmoerman will remove the numbers in the next version, and we have a new design for a subsequent version.

[2019-04-30 00:10] rmariani commented on #45
Excellent!

[2019-04-30 17:52] rmariani commented on #914
Do we prefer "network keys" or "networking keys"?

[2019-04-30 17:54] Fang- commented on #914
Probably "networking keys".

[2019-04-30 20:28] rmariani commented on #914
resolved in https://github.com/urbit/docs/pull/475

[2019-05-01 20:03] flowerornament commented on #914
@rmariani it's "network" in the spec

[2019-05-07 15:03] bencalder opened #915 "Arvo docs URL in Azimuth document proposal 404's"
The broken URL: https://urbit.org/docs/arvo/internals/

The proposal can be found [here](https://github.com/urbit/azimuth/blob/644157d76072271501c5427f427fbe8d0eb08903/proposals/0xcb1f81e42b5e75f000f94fc71a3ea70cab4bfc6f236b91e717f1b9516e5596b5.txt#L1), but it's much easier to read in the [commit](https://github.com/urbit/azimuth/commit/644157d76072271501c5427f427fbe8d0eb08903).

[2019-05-07 15:12] Fang- commented on #915
Good catch. Docs should continue to serve something on that URL, even if it's just a redirect to the new location.

[2019-05-07 17:38] rmariani commented on #915
Another great catch by Ben :)

[2019-05-08 04:25] flowerornament opened #65 "Clicking and holding the menu button highlights the top-bar"
Clicking and holding menu button highlights the top-bar in Safari.

<img width="1440" alt="Screen Shot 2019-05-07 at 9 23 25 PM" src="https://user-images.githubusercontent.com/31774/57349323-84065880-710e-11e9-997a-2ca32b54924c.png">

[2019-05-08 13:28] hardcodepunk commented on #65
Added `user-select: none;` and its prefixes to the header.

[2019-05-08 16:40] flowerornament opened #916 "Docs use too many header levels"
Some documents, for instance `using/udon` use headers down to `h6`. I think we shouldn't use anything below `h4`.

[2019-05-08 17:44] rmariani commented on #916
Agreed.

[2019-05-08 21:26] g-a-v-i-n opened #67 "Font inconsistencies"
I'm noticing quite a few type inconsistencies in this new version.

- We don't use work sans anymore.
- The docs don't use the correct weights for headers. The type scale can be found in our Indigo file on Figma.
- Since the Primer has switched to Inter, the encircled number discretionary ligatures no longer convert.

[2019-05-08 21:39] flowerornament commented on #67
Thanks @gavinpatkinson. Assigning this to @friederjanmoerman and cc'ing @alexmatz.

- Where are you seeing work sans?
- I'll give @friederjanmoerman access to the type scales – we didn't make an attempt to match these in this revision, just a naive switch to InterUI
- How do you suggest we solve this? It looks like InterUI doesn't have the appropriate glyphs: https://rsms.me/inter/glyphs/ cc @jyng

[2019-05-08 21:48] flowerornament opened #68 "RSS isn't enabled"
When I try to subscribe to RSS feeds using Inoreader, it tells me no feeds are found.

Seems this should involve setting `generate_rss = true` in `config.toml` and making sure there are dates on all posts.

https://www.getzola.org/documentation/templates/rss/

[2019-05-08 21:48] g-a-v-i-n commented on #67
Ok, seems like the stylesheet was cached, no more Work Sans on my end.

Thanks for sharing the Figma with him.

I would just use numbering like 1. 2. etc

[2019-05-08 21:48] #65 closed, assigned to hardcodepunk

[2019-05-08 21:50] flowerornament commented on #46
@liweiz we just deployed a re-implementation of the site, built with `zola`. It should be much easier to test now!

Looks like i18n support is [coming soon](https://github.com/getzola/zola).

[2019-05-08 21:51] #57 closed, assigned to nobody

[2019-05-08 21:51] #24 closed, assigned to jyng

[2019-05-08 21:52] #31 closed, assigned to vvisigoth

[2019-05-08 21:52] flowerornament commented on #45
Fixed

[2019-05-08 21:52] #45 closed, assigned to nobody

[2019-05-08 22:08] flowerornament opened #69 "Youtube embed styling is off"
- Remove border styling
- Make width Youtube default

<img width="745" alt="Screenshot 2019-05-08 15 8 28" src="https://user-images.githubusercontent.com/31774/57411684-27a14880-71a3-11e9-9019-ca105d6d01b0.png">

[2019-05-08 22:43] ohAitch commented on #67
(should there be a `contenthash` cache-busting filename for the CSS, or does the stylesheet change infrequently enough that it doesn't matter?)

[2019-05-08 23:57] flowerornament commented on #67
@ohAitch I'd love that, personally cc @friederjanmoerman

[2019-05-09 00:00] flowerornament opened #70 "Bold text is italic in posts content"
Text that was meant to be bold is italic. This may also be true about docs content, but I haven't found an obvious example yet.

<img width="327" alt="Screenshot 2019-05-08 17 3 5" src="https://user-images.githubusercontent.com/31774/57416014-2b3ccb80-71b3-11e9-8742-b5ec73c96fec.png">

[2019-05-09 00:09] ohAitch commented on #70
Sounds like * should be translated as ** or sth, as per the previous
discussion on udon being a broken incompatible take on markdown?

On Wed, May 8, 2019 at 5:00 PM Morgan Sutherland <notifications@github.com>
wrote:

[2019-05-09 00:13] hardcodepunk commented on #69
I added a custom 'youtube.html' shortcode overriding the zola default one. The custom one wraps the iframe in `<div class="video-wrapper"></div>` which I have styled for the iframe to act responsive to resizing and obviously at 100%. Border has been removed with a `border: none;`.

I don't know if I should link the branch/commit but I pushed it onto the zola-port branch of the urbit.org repo.

[2019-05-09 02:00] flowerornament commented on #70
@ohAitch yeah, either that or it's _ vs. */**.

[2019-05-09 02:01] flowerornament opened #71 "Spurious backslashes in privacy and tos"
These two files have unneeded backslashes at the end of some paragraphs.

- https://github.com/urbit/urbit.org/blob/master/content/privacy.md
- https://github.com/urbit/urbit.org/blob/master/content/tos.md

[2019-05-09 02:03] ohAitch commented on #70
`*` is the udon one for bold, also see like [the files in question](https://raw.githubusercontent.com/urbit/urbit.org/25da64818150c7557eb875609909737136be7e6c/content/posts/2018-3-24-update.md).

[2019-05-09 02:29] jfranklin9000 commented on #70
I take it Sail syntax should be removed from udon files that were converted to md (`using/shell.md` for example)?

[2019-05-09 03:43] flowerornament commented on #70
@jfranklin9000 yes! I took a pass at this yesterday, but looks like I missed some spots with my REGEX.

[2019-05-09 03:45] ohAitch commented on #70
galaxy brain: write a .udon AST renderer that outputs as markdown

(though like actually rendering to html and then pandoc'ing back to md
would probably have been more reliable than regexen?)

On Wed, May 8, 2019 at 8:43 PM Morgan Sutherland <notifications@github.com>
wrote:

[2019-05-09 04:08] flowerornament commented on #70
🤯

[2019-05-09 18:33] flowerornament opened #72 "Font-size in lists is smaller than body"
Size should be the same in lists

<img width="874" alt="Screenshot 2019-05-09 11 32 35" src="https://user-images.githubusercontent.com/31774/57477735-3133ba80-724e-11e9-801b-d1805acbd037.png">

[2019-05-09 18:35] baudtack opened #922 "Restore runes to navbar links"
Somehow the actual runes got removed from the tiles of navbar links for the runes section. These are absolutely needed. I'm not looking for the runes that make cores, I'm looking for | runes.

[2019-05-09 18:35] flowerornament opened #917 "Links are escaped on Type Polymorphism page"
https://urbit.org/docs/learn/hoon/hoon-tutorial/type-polymorphism/

@belisarius222 discovered links appear rendered as `[link](uri)` on this page. This may be present elsewhere as well – I haven't checked.

<img width="736" alt="Screenshot 2019-05-09 11 35 32" src="https://user-images.githubusercontent.com/31774/57477913-912a6100-724e-11e9-83c9-5246ad4d1ba9.png">

[2019-05-09 18:39] flowerornament commented on #922
@baudtack @friederjanmoerman can do this, but it would be helpful if you could explain what you mean with an example because he probably doesn't know what runes are yet.

[2019-05-09 20:06] jfranklin9000 commented on #917
That link has parenthesis in it.  You can fix with:
[code]
or this:
[code]

[2019-05-09 22:54] #69 closed, assigned to hardcodepunk

[2019-05-09 23:30] flowerornament commented on #70
@jfranklin9000 @ohAitch @rmariani if you want to take a shot at this and other recent issues related to the urbit.org reimplementation (here and in /docs), please feel free

[2019-05-10 00:04] jfranklin9000 commented on #70
I'll take a shot at it.

[2019-05-10 03:36] jfranklin9000 commented on #917
Actually, I think the existing text should work.  I don't know what we're using to render the markdown but I test on https://stackedit.io/app and it doesn't work there either.  Anyway, fixed in https://github.com/urbit/docs/pull/484.

[2019-05-10 03:42] jyng opened #75 "what is text-transform: lowercase for?"
@friederjanmoerman
In `/sass/_main.scss/` line 347, I'm seeing
[code]
I'm not aware of anywhere where we are strict about lowercase. In most cases, we just make sure we use lowercase in the markup. Thoughts?

[2019-05-10 08:26] hardcodepunk opened #76 "Posts section misses stylesheet and posts themselves give error 404"
Posts section misses stylesheet and posts themselves give error 404, not the zola template, but the nginx/1.10.3 (Ubuntu) 404 page.

[2019-05-10 08:28] hardcodepunk commented on #76
Caching issue from my side.

[2019-05-10 08:28] #76 closed, assigned to nobody

[2019-05-10 08:52] hardcodepunk commented on #75
The email newsletter subscribe button is an example. I copied the design as best as I could from the previous site version as I was briefed. Also in the Primer apparently, which I blindly copied pasted into the zola port and just made it work.
Also the taxonomies of the posts have h-font applied.

[2019-05-10 09:59] hardcodepunk opened #77 "code snippets not wrapping"
`<pre>` tags aren't wrapping.

![Screenshot 2019-05-10 at 11 54 53](https://user-images.githubusercontent.com/9070957/57518921-7f15f480-731a-11e9-8931-26213b3f0123.png)

I could style it with `overflow-y: scroll;`
![Screenshot 2019-05-10 at 11 57 01](https://user-images.githubusercontent.com/9070957/57519049-c13f3600-731a-11e9-8b3d-f4205158adfe.png)

Or white-space: pre-wrap;
![Screenshot 2019-05-

[2019-05-10 10:05] Fang- commented on #77
+1! Expected behavior for `<pre>` is to display the text as literally as possible, which definitely includes not wrapping it!

[2019-05-10 10:07] hardcodepunk commented on #72
Adjusted in the zola-port branch. Didn't know if I was allowed to pick this one up. Saw the unassigning too late.

Note: I removed the .posts and .docs classes and changed the encompassing `<div>`s to `<article>` tags and styled the `<p>` and `<li>`s subsequently as seen in the indigo stylesheet.

[2019-05-10 10:10] hardcodepunk commented on #77
It's ready in the zola-port branch.

[2019-05-10 10:18] hardcodepunk commented on #67
Changing this to my suggestion would already style a lot to the right typography without me spending any time on it: https://github.com/urbit/indigo/issues/22

@gavinpatkinson
Is it me or is it hard to determine the right typography parameters from this Figma file? I only see the font-sizes (also, two different numbers?). Is there a way to determine line-height, font-weight, margin and so on?

[2019-05-10 16:17] ohAitch commented on #77
though separately, adding a backslash-escaped line break or two to the offending line might be good

[2019-05-10 18:30] #77 closed, assigned to nobody

[2019-05-10 22:29] jyng commented on #75
Yeah for that I would just declare that in the markup. h-font was used previously to explicitly style a piece of text to use Work Sans (header font). We don't use Work Sans anymore so I vote for removing this class.

[2019-05-10 22:33] jyng commented on #75
Also, could you share me with the designs you were given? I'm just starting to dig into reviewing the work here and would like to get up to speed. Thanks!

[2019-05-10 22:46] flowerornament commented on #75
@jyng @friederjanmoerman has been working off the old live site. Let me know if you need a build, since it's no longer online.

[2019-05-10 23:02] jyng commented on #67
@friederjanmoerman I can help you out here. If you look in the right corner of the Figma file, there should be a "Code" tab and that should give your CSS equivalents( font-weight, font-size, and line-height) on the item you selected.

[2019-05-12 23:14] hardcodepunk commented on #67
I had to make an account and log in to have the Figma functionality at my disposal.

The zola-port branch has been updated. Now the typography should follow the Indigo guidelines.
I also wrote a lil' vanilla JS script to style the input validation functionality. Now the newsletter `input` looks like the example in the Figma sheet:

![Screenshot 2019-05-13 at 00 54 12](https://user-images.githubuse

[2019-05-14 00:00] flowerornament opened #81 "Post header not lined up"
Post content isn't quite lined up with the top of the menu button.

<img width="415" alt="Screenshot 2019-05-13 16 59 13" src="https://user-images.githubusercontent.com/31774/57661614-80585300-75a0-11e9-9e59-f28fb59c74fe.png">

[2019-05-15 17:56] flowerornament opened #918 "README should be an .md file if possible"
@friederjanmoerman left the README as a text file because apparently zola interprets it as content if it's marked as an `.md` file. This is sub-optimal for Github – the README then doesn't render as markdown in the preview. It may be possible to ask zola to ignore the file, or it might be just fine. Someone should look into this.

[2019-05-15 17:58] rmariani commented on #918
So we're unsure what happens if we just convert it to `.md`?

[2019-05-15 18:01] flowerornament commented on #918
@rmariani yes

[2019-05-15 18:02] flowerornament commented on #918
<img width="719" alt="Screenshot 2019-05-15 11 2 25" src="https://user-images.githubusercontent.com/31774/57798152-f07dea80-7700-11e9-9e68-4702ff132b07.png">

Ok, this is what happens

[2019-05-15 18:20] flowerornament commented on #918
Hack that works for now: converted `README` to `README.markdown`. Created an issue here: https://github.com/getzola/zola/issues/682.

[2019-05-15 19:46] flowerornament commented on #915
@rmariani @bencalder redirects are now here https://github.com/urbit/urbit.org/blob/master/static/_redirects

[2019-05-15 19:47] flowerornament commented on #915
fixed in https://github.com/urbit/urbit.org/commit/bb26a0a401e8ef418191fd0a00aed24311cf0cf4

[2019-05-15 21:00] flowerornament opened #83 "User reported that the mailing list signup form doesn't work on Mobile Safari (iPad)"
A user reported that the mailing list signup form didn't work for them on Mobile Safari (iPad). Confirmed that the form works for me in Chrome and there have been a handful of signups over the past few days.

[2019-05-15 22:17] flowerornament opened #919 "Star operator instructions around :dns|ip may be wrong"
@joemfb brought up that we might have been wrong about star operators not needing to run `:dns|ip` anymore.

https://github.com/urbit/docs/pull/487

I can't remember who told me to change this, but hoping we can sort it out.

[2019-05-15 22:46] flowerornament opened #84 "Old post links are broken"
Posts used to live at i.e. `urbit.org/posts/essays/title/`, or generally `urbit.org/post/[category]/title/`. I just noticed that this changed in the re-implementation.

@friederjanmoerman would it be easy to move the posts into category folders and modify the templates slightly, or is there a good reason it's set up this way?

If the latter, we'll need to set up redirects for all of the old posts.

[2019-05-16 23:16] flowerornament opened #85 "Change all links to zola internal links"
`zola` has a format for internal links, just i.e. `./posts/essays/post/` – including the `.` at the beginning. This allows zola to check that internal links haven't broken.

https://www.getzola.org/documentation/content/linking/

It would be good to convert all internal links to this format.

[2019-05-17 09:46] hardcodepunk commented on #67
Live in zola-port branch.

[2019-05-17 10:08] hardcodepunk commented on #68
RSS enabled in zola-port branch.

[2019-05-17 10:22] hardcodepunk commented on #71
This is okay now?

[2019-05-17 10:23] hardcodepunk commented on #922
Feel free to explain the concept to me, @baudtack. I'm available.

[2019-05-17 10:37] hardcodepunk commented on #75
The taxonomy name gets generated by the engine. Capitalized. So essays would be Essays if I didn't add this class in for example `posts/list.html`.

[2019-05-17 10:42] hardcodepunk commented on #81
Lined up correctly (removed `mt2` class from the date) in zola-port branch.

[2019-05-17 15:47] flowerornament commented on #71
Yup, fixed

[2019-05-17 15:47] #71 closed, assigned to hardcodepunk

[2019-05-17 15:51] #68 closed, assigned to hardcodepunk

[2019-05-17 15:54] flowerornament commented on #67
@gavinpatkinson @jyng naively switching to Indigo typography significantly changes the website design https://deploy-preview-87--urbit-org.netlify.com/ https://github.com/urbit/urbit.org/pull/87. Was this the intention?

[2019-05-17 17:22] rmariani commented on #919
Was it this conversation that included @Fang- and myself? https://github.com/urbit/docs/pull/469

[2019-05-17 18:04] flowerornament opened #88 "Header is covering the top of the content"
<img width="1283" alt="Screenshot 2019-05-17 11 4 25" src="https://user-images.githubusercontent.com/31774/57947374-95c8c800-7893-11e9-833b-698b587287e4.png">

[2019-05-17 18:37] flowerornament opened #89 "In the age of dark mode, the favicon needs a white background"
Favicon should be given a white background

[2019-05-17 18:44] Fang- commented on #89
Github's favicon is all-black with no background. Do they suffer from a similar issue?

We get to choose the shape of the background still. I don't think a small white border would be on-brand, but we could consider a circular background instead of a square one. (No strong opinions here, just feel that square/no-transparency favicons are a bit meh.)

[2019-05-17 18:56] galenwp commented on #89
I don't seem to get a favicon for urbit.org

[2019-05-17 22:35] flowerornament opened #90 "Dates should have single-digit days and months"
<img width="542" alt="Screenshot 2019-05-17 15 34 44" src="https://user-images.githubusercontent.com/31774/57959589-6462f300-78b9-11e9-9593-649100c2457f.png">

Urbit dates use single digit days and months, so this timestamp should be `~2019.5.17`.

[2019-05-18 09:33] Fang- commented on #90
(See also urbit/arvo#1065 and post your thoughts!)

[2019-05-18 11:24] hardcodepunk commented on #90
Zola doesn't compile if dates are single-digit. I get the dates dynamically out of the metadata of the posts too.

[2019-05-18 11:25] hardcodepunk commented on #89
Your browser, OS and platform/device are?

[2019-05-19 03:09] flowerornament commented on #89
@Fang- they do!

[2019-05-19 03:10] flowerornament commented on #89
Favicon loads for me on Firefox, Chrome, Safari

[2019-05-19 09:34] hardcodepunk commented on #84
It was easy to get the taxonomy out of the post metadata but this disadvantage you just pointed out kinda weighs out my positive. I'll give it a try.

[2019-05-19 19:49] hardcodepunk commented on #88
Class `.content` now has `z-index: 3;` in the zola-port branch.

[2019-05-19 20:01] flowerornament commented on #84
Alternatively we can add aliases to the metadata. I did this for a few posts already.

[2019-05-19 20:48] g-a-v-i-n opened #93 "Identical description for two essays"
<img width="543" alt="Screen Shot 2019-05-19 at 1 43 24 PM" src="https://user-images.githubusercontent.com/5265021/57987926-c8fa8b00-7a3c-11e9-9bae-888129eebd77.png">

[2019-05-20 01:05] flowerornament commented on #93
Thanks! Fixed

[2019-05-20 01:05] #93 closed, assigned to nobody

[2019-05-20 01:20] flowerornament commented on #90
@friederjanmoerman if there's really no way to reformat it, let's change the date formatting so they don't look like Arvo dates. I'd go with `2019-05-17`.

[2019-05-21 22:11] hardcodepunk opened #920 "Don't know where a few links in using/admin.md should lead to"
I'm putting up the built-in link checker of Zola, which means every link has to be correct. On the go I've been fixing broken and incorrect links but in using/admin.md I don't know where I can find `../web`, `../install` or `../setup`.

[2019-05-21 22:15] rmariani commented on #920
`../install` should go to https://urbit.org/docs/getting-started/booting-a-ship/. The other ones should be deleted. I will make the changes now.

[2019-05-21 22:18] rmariani commented on #920
Fixed here: https://github.com/urbit/docs/commit/fe9c9d42cc2eae0f18f7598ca715fc8ee58a0647

[2019-05-21 22:32] galenwp opened #95 "Primer section titles should be title case"
Ideally we would do something like:

**Aegean: What Urbit is for**

As opposed to:

**aegean: what urbit is for**

See attached screenshot. This appears in the blue inset table of contents, the menu, and the headers themselves.

<img width="895" alt="Screen Shot 2019-05-21 at 3 30 36 PM" src="https://user-images.githubusercontent.com/1467211/58134983-8fad5100-7bdd-11e9-8d1c-c6dfee496dfc.png">

[2019-05-21 22:33] galenwp opened #96 "[email protected] in primer menu"
See attached screenshot. This doesn't seem to be an issue in the menu in other places — but on the primer the email is somehow redacted.

<img width="895" alt="Screen Shot 2019-05-21 at 3 32 17 PM" src="https://user-images.githubusercontent.com/1467211/58135026-b2d80080-7bdd-11e9-902e-1c1328446c55.png">

[2019-05-21 22:51] flowerornament opened #921 "Proposal: move docs into urbit.org repository"
Having docs and urbit.org as separate repositories makes our testing and deployment workflow complex.

- Docs PRs don't benefit from automatic build tests. This has lead to a recent issue where a PR in docs created a build failure that wasn't noticed until after it was merged into master, necessitating a reversion.
- Deploying docs changes involves creating an "update docs" commit in urbit.org, wh

[2019-05-21 22:54] vvisigoth commented on #921
Can we think of some way to mitigate the discoverability hit? That's my primary concern.

[2019-05-21 23:02] flowerornament commented on #921
@vvisigoth this simplest approach would be to leave the docs repository bare with a link to the urbit.org repo in the README

[2019-05-21 23:02] flowerornament commented on #921
@rmariani thoughts?

[2019-05-21 23:18] baudtack commented on #921
I kind of hate this idea as it's more git work whenever I edit something because I'll need to pull in more commits that are unrelated to my work. But then I already don't like zola as it's gluing presentation concerns which i am bad at and don't want to have to think about into the content concerns which I've managed to trick people into thinking I'm okay at. In a perfect world, we'd have a workfl

[2019-05-21 23:43] flowerornament commented on #921
@baudtack

1. Can you explain how this creates more work for you? The aim of this proposal is to reduce git work.
2. Where are content concerns glued to presentation concerns?

[2019-05-21 23:57] baudtack commented on #921
@msutherl adding files to the repo could produce problems with conflicts unrelated to the things I'm working on. It's probably not anything to really worry about honestly.

Well the biggest example is the weight thing right now. This is to my mind a presentation concern. I suppose it's a bit of both. But having to edit every file to sort files is extremely onerous. It would be much better if these

[2019-05-22 00:00] hardcodepunk commented on #85
All doc internal links have been updated and checked. Pushed to the zola-port branch of the docs submodule.

[2019-05-22 00:08] hardcodepunk commented on #84
There is also the option to just search the whole content folder for `/posts/` links and change them subsequently to the correct format. I didn't encounter that many or am I mistaken? I don't think it'll take me a long time to correct 'em all. I think setting up redirects 'll take more time. The most time consuming option is rewriting templates.
Unless you see more advantages in having the differe

[2019-05-22 00:09] ohAitch commented on #84
I'm assuming this mostly concerns inbound external links, not ones in the
docs themselves?

On Tue, May 21, 2019 at 5:08 PM Hardcodepunk <notifications@github.com>
wrote:

[2019-05-22 00:13] flowerornament commented on #921
@baudtack

That's in fact currently the case – it's just not easy for you to find out because the things you might be interfering with are happening in another repo and you need to test manually.

I'd argue the sort order of content in the sidebar is squarely a content concern.

I don't know, having a file with ~100 file-names and their location in the hierarchy sounds like a maintenance nightmare

[2019-05-22 00:14] flowerornament commented on #84
@ohAitch @friederjanmoerman that's correct – I'm referring to external links i.e. on Twitter.

[2019-05-22 00:26] hardcodepunk commented on #84
The lesser time consuming option would be making aliases for each and every 'old' post.
But it does make sense to have an essay live at `posts/essays/..` for the sake of having clear url slugs. The Zola taxonomy functionality doesn't create a slug like that, sadly enough.

What do you think?

[2019-05-22 00:39] #85 closed, assigned to hardcodepunk

[2019-05-22 00:39] #88 closed, assigned to hardcodepunk

[2019-05-22 00:39] #75 closed, assigned to hardcodepunk

[2019-05-22 00:41] flowerornament commented on #84
@friederjanmoerman I'd much prefer to have the slugs with categories. Can you see how that might be possible and let us know what the downsides might be?

[2019-05-22 00:45] baudtack commented on #921
Fair enough.

Hrm. They both sound terrible to me tbh. but at least with one file when you're looking at sorting, you've got one place instead of 100 places to go. Maybe some tooling, like a script with things like "move this file here" would help...

[2019-05-22 00:48] ohAitch commented on #921
at the very least a script converting back and forth "single file" and
"metadata in each file" sounds not hard? Probably have the checked-in
version be per file so it tracks moves properly

On Tue, May 21, 2019 at 5:45 PM David Kerschner <notifications@github.com>
wrote:

[2019-05-22 01:05] ohAitch commented on #921
[code]
kind of thing, for the single-directory case (does the multi-level reordering case come up much?)

[2019-05-22 17:27] baudtack commented on #921
[code]

perfect. Shout out to my buddy @ecks0  for his bash wizardry. I'll make a pr for this.

I think this resolves all my complaints here.

[2019-05-22 17:30] rmariani commented on #921
Discoverability/separate issues are the big ones for me. From an organization standpoint, it's nice having things in different containers. Other than that I don't strongly oppose this.

[2019-05-22 17:49] flowerornament commented on #921
@baudtack @ohAitch I thought I was averse to manual labor, but simply refusing to edit a single number in a modest handful – absolutely fewer than 15, and usually only a few – files, in the rare event of a re-ordering, goes far beyond my sensitivity!

Nevertheless, I commend any timesaving technology.

[2019-05-22 17:56] flowerornament commented on #921
re: discoverability, I'd argue to keep the docs repo in place and use it to direct people to the correct sub-directory of the urbit.org repo.

re: separate issues, I agree this is a cost of this approach, but on the positive side, triage is not very intense for either repo, and urbit.org issues are close to nil most of the time.

[2019-05-22 18:03] flowerornament commented on #921
Something I want to make clear about this proposal: one aim here is to make it possible for anyone with the right credentials to make edits to the website – including the docs – and deploy them themselves without touching the command line. We're tantalizingly close, but the need to pull in docs changes manually, and to, in the case of editing the docs, make two PRs for every change, keeps this rig

[2019-05-22 18:07] ohAitch commented on #921
Personally I wouldn't characterize this as timesaving so much as like attention-saving: you don't need to page through a bunch of irrelevant content, and instead have just the order in one place with all the corresponding numbers juxtaposed. It's about being able to stay in the flow of considering what 2 or 3 doc pages contain and how they are arranged next to each other, while leaving the rest of

[2019-05-23 00:53] flowerornament opened #98 "Favicon is referenced via a relative link that doesn't work from all pages"
`<link rel="icon" type="image/png" href="../images/favicon.ico" />` doesn't always point to the favicon

[2019-05-23 00:54] rmariani opened #99 "HTML title never displays any information except "Urbit""
"Urbit" is the only text that will ever display on the HTML title tab, no matter where you are on the website. It should display the page's title.

<img width="209" alt="Screen Shot 2019-05-22 at 5 51 05 PM" src="https://user-images.githubusercontent.com/10265578/58218116-a70e3c00-7cba-11e9-8bed-62cde123b208.png">

[2019-05-23 00:55] flowerornament commented on #98
fixed

[2019-05-23 00:55] #98 closed, assigned to flowerornament, hardcodepunk

[2019-05-23 01:37] alexmatz commented on #83
can you please fix this one first @friederjanmoerman?

[2019-05-24 00:10] flowerornament opened #101 "Docs sidebar code can't handle a case where there are only folder sub-sections"
When the docs look like the following:

[code]

The sidebar doesn't render `learn/`'s children.

We temporarily re-added `azimuth.md`, but we'd like to remove it.

[2019-05-24 05:33] flowerornament opened #103 "Able to drag menu ..."
![menu](https://user-images.githubusercontent.com/31774/58304822-c389a180-7daa-11e9-8402-c93a9240bc26.gif)

I've never seen anything like this before. I can drag up from the bottom of the screen and do this in Safari.

[2019-05-24 05:35] flowerornament commented on #103
Haha, I was dragging the window and revealing a window behind it with the same content. Very silly!

[2019-05-24 05:35] #103 closed, assigned to nobody

[2019-05-24 05:36] flowerornament opened #104 "Can't scroll menu"
<img width="875" alt="Screenshot 2019-05-23 22 36 3" src="https://user-images.githubusercontent.com/31774/58304927-2d09b000-7dab-11e9-8d1d-26dd19aabc6f.png">

Menu can't scroll if the window isn't big enough to show all the content.

[2019-05-24 05:40] flowerornament opened #105 "Site could use some left-padding"
<img width="594" alt="Screenshot 2019-05-23 22 39 43" src="https://user-images.githubusercontent.com/31774/58305103-bb7e3180-7dab-11e9-97d5-c15b8ed9dba5.png">
<img width="325" alt="Screenshot 2019-05-23 22 39 57" src="https://user-images.githubusercontent.com/31774/58305105-bb7e3180-7dab-11e9-990a-126024617c65.png">

Navigation and menu button get pushed up right to the left edge. Could use a litt

[2019-05-24 05:41] flowerornament commented on #90
Removed dates for now

[2019-05-24 05:42] flowerornament commented on #81
@friederjanmoerman I broke this again and then just removed the dates

[2019-05-24 05:44] flowerornament commented on #922
@baudtack this is actually a docs issue and you can fix it yourself by just adding the runes back to the page titles https://github.com/urbit/docs/tree/master/reference/hoon-expressions/rune

[2019-05-24 05:47] flowerornament commented on #67
Turns out this implementation used XL-size headers, now parked in https://github.com/urbit/urbit.org/tree/indigo-typography. https://github.com/urbit/urbit.org/pull/100 merges a fix that seems good enough™, but could use review @gavinpatkinson @jyng

[2019-05-24 05:48] flowerornament commented on #30
Just an update: this has been stalled for a long time, but we'll get to it eventually.

[2019-05-24 18:01] rmariani opened #107 "Several "Updates" go to the same wrong page"
In https://urbit.org/posts/updates/, `~2018.12.18 Update`, `~2018.11.20 Update`, `~2018.10.24 Update`, and `~2018.10.12 Update` all link to the [same wrong post](https://urbit.org/posts/update/) from 2017.

It looks like the content does not exist on urbit.org at all. I found results for posts I wrote as [Google results](https://www.google.com/search?q=%2260+degree+weather%22+site%3Aurbit.org&oq=%

[2019-05-24 18:19] flowerornament commented on #107
This appears to be caused by there not being a space between the front-matter and the content. I think this was a mistake on @friederjanmoerman's part, which I've been correcting slowly as I come across documents, but might require a concerted effort.

Documents should be formatted as such:

[code]

[2019-05-24 18:25] flowerornament commented on #107
Fixed in https://github.com/urbit/urbit.org/commit/7292d01ac58603c9d7317b851a2a1451688be18c

[2019-05-25 08:39] hardcodepunk opened #109 "SSL certificate not recognized on mobile Safari (iPhone 5)"
I was checking for the mailing list signup form bug but I can't even visit the website right now as the SSL certificate isn't recognized as 'safe'.
This has something to do with the hosting to which I don't have access to.

[2019-05-25 08:40] hardcodepunk commented on #83
_SSL certificate isn't recognized as 'safe'_ need to be fixed first #109

[2019-05-26 01:19] galenwp commented on #109
The site loads for me, but the mailing list signup fails using Safari on iPhone X. This is a pretty critical bug, I think.

Also, the button for the signup form should be 'Subscribe', not 'subscribe'. And the input box shouldn't have rounded corners, as far as I understand the style guide.

[2019-05-26 01:20] galenwp commented on #109
It may be that we're simply not giving user feedback here. Chrome on OSX shows the same behavior. I can enter my email, click 'subscribe' and see no change to the page. The network page does show some activity though.

[2019-05-26 01:23] galenwp commented on #83
My comments from #109 are more relevant here. This is likely simply because we don't give user feedback on clicking subscribe, which is quite confusing. This is easy to test on desktop. Not sure what's up with iPhone 5 not understanding our cert.

[2019-05-26 16:09] hardcodepunk commented on #109
It has returned to normal. I can view the site again on iPhone 5. I don't know what initiated the quirk.

[2019-05-26 16:09] #109 closed, assigned to nobody

[2019-05-26 17:01] galenwp commented on #109
Could have been a caching issue.

On Sun, May 26, 2019 at 9:09 AM Hardcodepunk <notifications@github.com>
wrote:

--
Sent from my phone

[2019-05-28 18:42] #83 closed, assigned to hardcodepunk

[2019-06-06 22:33] namwen opened #923 "Remove tilde from point name on "Booting a ship""
I'm new to Urbit, so maybe I'm wrong here. But it seems that the tilde in the point name shouldn't be included [here](https://github.com/urbit/docs/blob/master/getting-started/booting-a-ship.md) at line 31.

As written:
[code]

Corrected:
[code]

I'm noting this because when following the guide I was getting a "user not found" error with the tilde present. Tried without and it worked fine. Removin

[2019-06-07 01:18] flowerornament commented on #923
Thanks @namwen – feel free to make a PR, or otherwise someone will get to this soon.

[2019-06-11 18:36] g-a-v-i-n opened #119 "two posts entitled 'magic'"
<img width="720" alt="Screen Shot 2019-06-11 at 11 36 06 AM" src="https://user-images.githubusercontent.com/5265021/59297485-2f8a5780-8c3d-11e9-8b88-21ed2170994d.png">

[2019-06-11 21:20] alexmatz commented on #119
Updated the title, thanks @g-a-v-i-n !

[2019-06-11 21:20] #119 closed, assigned to alexmatz

[2019-06-13 22:35] rmariani commented on #923
Fixed

[2019-06-14 20:32] #59 closed, assigned to nobody

[2019-06-15 00:02] flowerornament opened #123 "Some search results don't appear"
Testing in Safari and Chrome

- Open search
- Type "twitter"
- 10 results found, but they don't appear

<img width="940" alt="Screenshot 2019-06-14 17 1 18" src="https://user-images.githubusercontent.com/31774/59544411-1516df00-8ec6-11e9-99bd-9684800ed9fc.png">

[2019-06-15 00:03] flowerornament opened #124 "Partial results don't match in search"
Perhaps this is by-design, or hard to do, but partial matches don't seem to work.

<img width="923" alt="Screenshot 2019-06-14 17 2 27" src="https://user-images.githubusercontent.com/31774/59544431-468faa80-8ec6-11e9-9e8b-0641d6a933cd.png">

[2019-06-18 23:03] flowerornament commented on #123
A few test cases:

<img width="336" alt="Screenshot 2019-06-18 16 2 1" src="https://user-images.githubusercontent.com/31774/59725483-a34ed600-91e2-11e9-800f-bc4ee6ec6671.png">
<img width="350" alt="Screenshot 2019-06-18 16 2 5" src="https://user-images.githubusercontent.com/31774/59725464-9631e700-91e2-11e9-9d0d-11b90cb016c7.png">
<img width="639" alt="Screenshot 2019-06-18 16 2 53" src="https://u

[2019-06-18 23:10] flowerornament opened #125 "Remove posts from search index"
Testing in Safari.

Reproduce by searching for "%clay" or "clay"

- Search reports 34 matches, but displays a single result
- There are ~110 instances of "clay" on that single page (not sure if that 34 is total matches or total matched pages)
- "clay" appears elsewhere throughout the docs: https://www.google.com/search?q=site%3Aurbit.org%2Fdocs+clay, but those pages aren't returned

<img width="63

[2019-06-18 23:48] flowerornament commented on #124
Interestingly, "contribut" produces results, but "contributi" doesn't.

I'm wondering if maybe this is a feature though ... if partial matches were admitted, they might overwhelm exact matches in the search results. Don't understand well enough how this works to know.

[2019-06-19 16:35] Fang- opened #924 "No galaxy ops docs"
It occurred to me that we never explain how galaxies are supposed to set up their [galaxy].arvo.network DNS binding. I imagine most of the "[galaxy].urbit.org" printfs people are seeing are just from galaxies not being up in the first place, but we should have these docs regardless.

Let this issue represent the "larger task to create a galaxy-operations doc" mentioned in urbit/urbit.org#869.

[2019-06-20 20:41] rmariani commented on #107
I just checked links on the live site again, and is not fixed

[2019-06-20 21:36] flowerornament commented on #107
@rmariani thanks, will check on this soon

[2019-06-21 09:52] hardcodepunk commented on #124
Neither do the Zola (https://www.getzola.org/) or Elasticlunr website search (http://elasticlunr.com/example/index.html) have this functionality.
This is not a feature in the current elasticlunr implementation in Zola either. Elasticlunr uses a stemmer. So 'contribut' might be linked to contribute or something, but for some reason contributi doesn't get recognized. The stemmer of Elasticlunr: http

[2019-06-24 02:52] jtobin commented on #127
Closing as this one is no longer relevant.

[2019-06-24 21:19] flowerornament opened #126 "Test and upgrade to zola 0.8"
urbit.org is now running a pretty old version of zola. 0.6 and 0.7 had fatal build bugs – hopefully this works: https://github.com/getzola/zola/releases/tag/v0.8.0

[2019-06-25 00:42] allanhortle commented on #127
https://urbit.org/rss.xml

[2019-06-25 01:43] jtobin commented on #127
My bad, I scanned this too quickly and thought it exclusively referred to fora.  I'll reopen this and move it somewhere a little more appropriate.

[2019-06-25 04:23] joemfb commented on #127
This issue definitely referred to the rss implementation in the `&rss-xml` mark. Which is still in arvo, but no longer used as far as I know. That urbit.org RSS feed looks fine at a glance.

[2019-06-25 18:15] francescanarea commented on #127
@joemfb Are you referring to the rss-xml.hoon transformer in arvo?

[2019-06-25 18:29] flowerornament commented on #127
Thanks for this. For current urbit.org, we need to create an RSS template as per https://www.getzola.org/documentation/templates/rss/.

[2019-06-25 18:56] joemfb commented on #127
@francescanarea, that's right.

[2019-06-25 19:21] flowerornament commented on #124
@friederjanmoerman it would be nice, but I think low-priority. Thanks for looking into this.

[2019-06-25 20:21] flowerornament commented on #28
@friederjanmoerman can you let me know how hard you think this would be?

[2019-06-25 20:21] flowerornament commented on #127
@friederjanmoerman want to look into this?

[2019-06-25 20:23] flowerornament commented on #67
Closing this since should be taken care of by switching to Indigo

[2019-06-25 20:23] #67 closed, assigned to hardcodepunk

[2019-06-25 20:24] flowerornament commented on #125
Fixing this requires excluding posts from the searching index.

[2019-06-25 20:25] flowerornament commented on #124
closing for now – we can implement this later if desired

[2019-06-25 20:25] #124 closed, assigned to hardcodepunk

[2019-06-25 20:27] flowerornament commented on #123
this is due to constraints of elasticlunr – closing for now

[2019-06-25 20:27] #123 closed, assigned to nobody

[2019-06-26 00:36] flowerornament opened #128 "Add open graph meta tags"
Posts currently lack og meta tags: http://ogp.me/